workflows/backfill-service-start-date/workflow-v1.0.json
{
  "id": "HJGuurVOZ5Elh1xm",
  "name": "Backfill Company Service Start Date",
  "active": false,
  "nodes": [
    {
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300],
      "parameters": {}
    },
    {
      "id": "search-customers",
      "name": "Search All Customers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [450, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/companies/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'lifecyclestage', operator: 'EQ', value: 'customer' }] }], properties: ['name'], limit: 200 }) }}",
        "options": {}
      },
      "credentials": {
        "hubspotAppToken": {
          "id": "5ww8XNGf4HTQu4UI",
          "name": "hubspot"
        }
      }
    },
    {
      "id": "extract-companies",
      "name": "Extract Companies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300],
      "parameters": {
        "jsCode": "const results = $input.first().json.results || [];\nreturn results.map(company => ({\n  json: {\n    companyId: String(company.id),\n    companyName: company.properties?.name || 'Unknown'\n  }\n}));"
      }
    },
    {
      "id": "split-batches",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [950, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "get-associations",
      "name": "Get Deal Associations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1200, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "parameters": {
        "method": "GET",
        "url": "=https://api.hubapi.com/crm/v4/objects/companies/{{ $json.companyId }}/associations/deals",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "options": {}
      },
      "credentials": {
        "hubspotAppToken": {
          "id": "5ww8XNGf4HTQu4UI",
          "name": "hubspot"
        }
      }
    },
    {
      "id": "has-deals",
      "name": "Has Deals?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1450, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "version": 2,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-deals",
              "leftValue": "={{ $json.results }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "batch-read-deals",
      "name": "Batch Read Deals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1700, 200],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/deals/batch/read",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: ['service_start_date', 'dealstage', 'dealname'], inputs: $('Get Deal Associations').item.json.results.map(r => ({id: String(r.toObjectId)})) }) }}",
        "options": {}
      },
      "credentials": {
        "hubspotAppToken": {
          "id": "5ww8XNGf4HTQu4UI",
          "name": "hubspot"
        }
      }
    },
    {
      "id": "find-earliest",
      "name": "Find Earliest Service Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1950, 200],
      "parameters": {
        "jsCode": "const batchResponse = $input.first().json;\nconst deals = batchResponse.results || [];\nconst companyId = $('SplitInBatches').item.json.companyId;\nconst companyName = $('SplitInBatches').item.json.companyName;\n\nconst qualifying = deals\n  .filter(d => d.properties.dealstage === 'closedwon' && d.properties.service_start_date)\n  .sort((a, b) => new Date(a.properties.service_start_date) - new Date(b.properties.service_start_date));\n\nif (qualifying.length > 0) {\n  return [{\n    json: {\n      companyId,\n      companyName,\n      serviceStartDate: qualifying[0].properties.service_start_date,\n      dealName: qualifying[0].properties.dealname || 'Unknown',\n      hasDate: true\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    companyId,\n    companyName,\n    serviceStartDate: null,\n    hasDate: false\n  }\n}];"
      }
    },
    {
      "id": "has-date",
      "name": "Has Date?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [2200, 200],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "version": 2,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-date",
              "leftValue": "={{ $json.hasDate }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "update-company",
      "name": "Update Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2450, 100],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/companies/{{ $json.companyId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { contract___service_start_date: $json.serviceStartDate } }) }}",
        "options": {}
      },
      "credentials": {
        "hubspotAppToken": {
          "id": "5ww8XNGf4HTQu4UI",
          "name": "hubspot"
        }
      }
    },
    {
      "id": "skip",
      "name": "Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2200, 500],
      "parameters": {}
    },
    {
      "id": "note-1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [140, 80],
      "parameters": {
        "content": "## Backfill Company Service Start Date\n\n**One-time manual workflow**\n\n1. Fetches all 140 customer companies\n2. For each company, gets associated deals\n3. Finds the oldest closed-won deal with a service_start_date\n4. Updates the company's `contract___service_start_date`\n\nSkips companies with no qualifying deals.",
        "width": 350,
        "height": 200
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Search All Customers", "type": "main", "index": 0}]]
    },
    "Search All Customers": {
      "main": [[{"node": "Extract Companies", "type": "main", "index": 0}]]
    },
    "Extract Companies": {
      "main": [[{"node": "SplitInBatches", "type": "main", "index": 0}]]
    },
    "SplitInBatches": {
      "main": [
        [{"node": "Get Deal Associations", "type": "main", "index": 0}],
        []
      ]
    },
    "Get Deal Associations": {
      "main": [[{"node": "Has Deals?", "type": "main", "index": 0}]]
    },
    "Has Deals?": {
      "main": [
        [{"node": "Batch Read Deals", "type": "main", "index": 0}],
        [{"node": "Skip", "type": "main", "index": 0}]
      ]
    },
    "Batch Read Deals": {
      "main": [[{"node": "Find Earliest Service Date", "type": "main", "index": 0}]]
    },
    "Find Earliest Service Date": {
      "main": [[{"node": "Has Date?", "type": "main", "index": 0}]]
    },
    "Has Date?": {
      "main": [
        [{"node": "Update Company", "type": "main", "index": 0}],
        [{"node": "Skip", "type": "main", "index": 0}]
      ]
    },
    "Update Company": {
      "main": [[{"node": "SplitInBatches", "type": "main", "index": 0}]]
    },
    "Skip": {
      "main": [[{"node": "SplitInBatches", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "TA6Iq4wMW0KYsCiH"
  }
}