workflows/hubspot-renewal-reminder/workflow-v1.0.json
{
  "name": "HubSpot Monthly Renewal Reminder v1.0",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-400, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 1 * *"
            }
          ]
        }
      }
    },
    {
      "id": "fetch-renewing",
      "name": "Fetch Renewing Companies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-100, 300],
      "parameters": {
        "jsCode": "// Calculate first day of current month and first day of next month (UTC)\nconst now = new Date();\nconst firstOfMonth = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), 1));\nconst firstOfNextMonth = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth() + 1, 1));\n\nreturn {\n  json: {\n    firstOfMonth: String(firstOfMonth.getTime()),\n    firstOfNextMonth: String(firstOfNextMonth.getTime()),\n    monthName: firstOfMonth.toLocaleString('en-US', { month: 'long', year: 'numeric', timeZone: 'UTC' })\n  }\n};"
      }
    },
    {
      "id": "fetch-page",
      "name": "Fetch Companies Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [200, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/companies/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'contract___renewal_date', operator: 'GTE', value: $json.firstOfMonth }, { propertyName: 'contract___renewal_date', operator: 'LT', value: $json.firstOfNextMonth }, { propertyName: 'lifecyclestage', operator: 'EQ', value: 'customer' }] }], properties: ['name', 'contract___renewal_date'], limit: 200 }) }}",
        "options": {}
      },
      "credentials": {
        "hubspotAppToken": {
          "id": "5ww8XNGf4HTQu4UI",
          "name": "hubspot"
        }
      }
    },
    {
      "id": "if-has-results",
      "name": "IF Has Results",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [500, 300],
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "results-check",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ ($json.results || []).length }}",
              "rightValue": 0
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "format-message",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 200],
      "parameters": {
        "jsCode": "const results = $('Fetch Companies Page').first().json.results || [];\nconst monthName = $('Fetch Renewing Companies').first().json.monthName;\n\n// Parse and sort by renewal date\nconst companies = results.map(c => {\n  const dateStr = c.properties?.contract___renewal_date;\n  let d;\n  if (/^\\d+$/.test(dateStr)) {\n    d = new Date(Number(dateStr));\n  } else {\n    d = new Date(dateStr);\n  }\n  return {\n    id: String(c.id),\n    name: c.properties?.name || 'Unknown',\n    date: d,\n    dateFormatted: d.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric', timeZone: 'UTC' })\n  };\n}).sort((a, b) => a.date - b.date);\n\nlet message = `*:calendar: Renewals for ${monthName}*\\n\\n`;\nmessage += `*${companies.length} company${companies.length !== 1 ? 'ies' : ''} renewing this month:*\\n\\n`;\n\nfor (const c of companies) {\n  message += `\\u2022 *${c.name}* \\u2014 ${c.dateFormatted} \\u2014 <https://app.hubspot.com/contacts/142047914/company/${c.id}|View>\\n`;\n}\n\nreturn { json: { message } };"
      }
    },
    {
      "id": "slack-reminder",
      "name": "Send Slack Reminder",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [1100, 200],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "id",
          "value": "C0APNNQAN5B"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "credentials": {
        "slackApi": {
          "id": "lYs0WHzWk4c7z9Kk",
          "name": "Slack"
        }
      }
    },
    {
      "id": "sticky-overview",
      "name": "Sticky: Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-440, 100],
      "parameters": {
        "content": "## Monthly Renewal Reminder\nRuns on the 1st of each month at 8:00 AM UTC.\nSends a Slack digest of all companies renewing that month,\nsorted by renewal date.",
        "width": 700,
        "height": 120
      }
    },
    {
      "id": "sticky-slack",
      "name": "Sticky: Slack",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [740, 60],
      "parameters": {
        "content": "## Slack Notification\nPosts to channel C0APNNQAN5B.\nLists each company with name, date, and HubSpot link.",
        "width": 500,
        "height": 100
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Fetch Renewing Companies", "type": "main", "index": 0}]]
    },
    "Fetch Renewing Companies": {
      "main": [[{"node": "Fetch Companies Page", "type": "main", "index": 0}]]
    },
    "Fetch Companies Page": {
      "main": [[{"node": "IF Has Results", "type": "main", "index": 0}]]
    },
    "IF Has Results": {
      "main": [[{"node": "Format Message", "type": "main", "index": 0}]]
    },
    "Format Message": {
      "main": [[{"node": "Send Slack Reminder", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "UTC",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "errorWorkflow": "TA6Iq4wMW0KYsCiH"
  }
}
