workflows/hubspot-industry-retroactive/workflow.json
{"updatedAt":"2026-02-22T13:30:48.280Z","createdAt":"2026-02-22T13:28:07.917Z","id":"6EnyU8ofbAlq1bby","name":"HubSpot Industry Retroactive Enrichment","description":null,"active":false,"isArchived":false,"nodes":[{"id":"retro-manual-trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-800,176],"parameters":{}},{"id":"retro-fetch","name":"Fetch 200 Uncategorized Companies","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-560,176],"continueOnFail":false,"credentials":{"hubspotAppToken":{"id":"5ww8XNGf4HTQu4UI","name":"hubspot"}},"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/companies/search","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"filterGroups\": [{\"filters\": [{\"propertyName\": \"industry__internal_\", \"operator\": \"NOT_HAS_PROPERTY\"}]}], \"properties\": [\"name\", \"domain\", \"description\", \"about_us\", \"hs_linkedin_company_page\", \"industry__internal_\", \"industry__form____contact_sync\"], \"limit\": 200, \"after\": 0}","options":{}}},{"id":"retro-split","name":"Split Companies","type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,176],"parameters":{"jsCode":"const results = $json.results || [];\nif (results.length === 0) {\n  return [{ json: { _empty: true, message: 'No uncategorized companies found.' } }];\n}\nreturn results.map(c => ({ json: { id: c.id, ...c } }));"}},{"parameters":{"authentication":"appToken","resource":"company","operation":"get","companyId":{"mode":"id","value":"={{ $json.id }}"},"additionalFields":{}},"id":"get-details","name":"Get Company Details","type":"n8n-nodes-base.hubspot","typeVersion":2.2,"position":[100,176],"credentials":{"hubspotAppToken":{"id":"5ww8XNGf4HTQu4UI","name":"hubspot"}}},{"parameters":{"assignments":{"assignments":[{"id":"field1","name":"companyId","type":"string","value":"={{ $json.companyId || $json.id }}"},{"id":"field2","name":"companyName","type":"string","value":"={{ typeof $json.properties?.name === 'object' ? ($json.properties?.name?.value || '') : ($json.properties?.name || '') }}"},{"id":"field3","name":"domain","type":"string","value":"={{ typeof $json.properties?.domain === 'object' ? ($json.properties?.domain?.value || '') : ($json.properties?.domain || '') }}"},{"id":"field4","name":"description","type":"string","value":"={{ typeof $json.properties?.description === 'object' ? ($json.properties?.description?.value || '') : ($json.properties?.description || '') }}"},{"id":"field5","name":"aboutUs","type":"string","value":"={{ typeof $json.properties?.about_us === 'object' ? ($json.properties?.about_us?.value || '') : ($json.properties?.about_us || '') }}"},{"id":"field6","name":"linkedinUrl","type":"string","value":"={{ typeof $json.properties?.linkedin_company_page === 'object' ? ($json.properties?.linkedin_company_page?.value || '') : ($json.properties?.linkedin_company_page || '') }}"}]},"options":{}},"id":"prepare-data","name":"Prepare Company Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[500,144]},{"parameters":{"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"desc-check","operator":{"type":"number","operation":"gte"},"leftValue":"={{ ($json.description || '').length }}","rightValue":100}],"combinator":"and"},"options":{}},"id":"check-desc","name":"Check Description Exists","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1028,144]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const companyData = $('Prepare Company Data').item.json;\n\nconst aboutUsLine = companyData.aboutUs ? `\\nAbout Us: ${companyData.aboutUs}` : '';\n\nconst prompt = `You are an expert business industry classifier. Classify this company into exactly ONE of these 16 categories:\n\n1. Accounting\n2. Insurance\n3. Legal Services\n4. Technology\n5. Healthcare\n6. Public Sector\n7. Retail and Consumer Goods\n8. Consulting\n9. Construction\n10. HR and Payroll Services\n11. Banking\n12. Energy\n13. Financial Services\n14. Manufacturing\n15. Transportation\n16. Others\n\nCOMPANY DATA (self-reported description — treat as authoritative):\nName: ${companyData.companyName}\nDomain: ${companyData.domain || 'Not provided'}\nDescription: ${companyData.description || 'Not provided'}${aboutUsLine}\n\nCLASSIFICATION PRIORITY — apply strictly in this order:\n1. Technology — company BUILDS software, SaaS, apps, or tech products (regardless of the industry they serve)\n2. Legal Services — any legal work, compliance, or contract services (never Consulting)\n3. Specific category — pick the most specific match:\n   - Healthcare: hospitals, clinics, pharma, biotech, medical devices, drug development\n   - HR and Payroll Services: HR consulting, recruiting, staffing, payroll\n   - Accounting: tax, bookkeeping, audit, CFO services\n   - Banking: loans, deposits, payment processing\n   - Financial Services: investment advisory, wealth management\n   - Insurance, Energy, Construction, Manufacturing, Transportation\n4. Retail and Consumer Goods — company sells consumer-facing products (clothing, food, electronics, home goods); does NOT apply to pharma, medical, or specialized B2B products\n5. Consulting — generalist advisory firms covering multiple unrelated service types\n6. Public Sector — ONLY actual government agencies, not contractors\n7. Others — ONLY when none of the 15 categories fit (agriculture, education, media, non-profits)\n\nKEY DISTINCTIONS:\n- Builds tech for any industry → Technology\n- Any legal work → Legal Services, never Consulting\n- Pharma, biotech, medical devices → Healthcare, not Retail and Consumer Goods\n- Sells consumer products → Retail and Consumer Goods, beats Manufacturing\n- Government contractor → their service category, not Public Sector\n- Non-profit → Others\n\nCRITICAL: Respond with ONLY the category name. No explanation, no punctuation, no extra text.\n\nExamples:\n- \"Biopharmaceutical company developing and commercializing treatments for rare diseases\" → Healthcare\n- \"Leading design brand creating contemporary handmade rugs, sold worldwide\" → Retail and Consumer Goods\n- \"We build SaaS software for law firms\" → Technology\n- \"Law firm specializing in corporate law\" → Legal Services\n- \"HR consulting and recruiting services\" → HR and Payroll Services\n- \"Bookkeeping and tax services for small businesses\" → Accounting\n- \"Multi-service firm: accounting, HR, and legal advisory\" → Consulting\n- \"Non-profit educational institution\" → Others\n\nYour response (category name only):`;\n\nreturn {\n  json: {\n    companyId: companyData.companyId,\n    companyName: companyData.companyName,\n    enrichmentSource: 'description',\n    prompt: prompt\n  }\n};\n"},"id":"prepare-gemini-hs","name":"Prepare Gemini Input - HubSpot","type":"n8n-nodes-base.code","typeVersion":2,"position":[1284,16]},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }], generationConfig: { temperature: 0.3 } }) }}","options":{}},"id":"gemini-cat-hs","name":"Gemini Categorization - HubSpot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1604,-80],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"googlePalmApi":{"id":"QnUjlFnc4gypgplL","name":"Gemini"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const response = $json;\nconst geminiText = response?.candidates?.[0]?.content?.parts?.[0]?.text || '';\nlet category = geminiText.trim();\n\n// Map display label to HubSpot internal enum value\nif (category === 'Others') category = 'Unknown';\n\nconst prepData = $('Prepare Gemini Input - HubSpot').item.json;\n\nreturn {\n  companyId: prepData.companyId,\n  companyName: prepData.companyName,\n  enrichmentSource: prepData.enrichmentSource,\n  category: category,\n  needsManualReview: false\n};"},"id":"parse-response-hs","name":"Parse Gemini Response - HubSpot","type":"n8n-nodes-base.code","typeVersion":2,"position":[2196,-96]},{"parameters":{"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"linkedin-url-check","operator":{"type":"string","operation":"notEmpty"},"leftValue":"={{ $json.linkedinUrl }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"check-has-url","name":"Check Has LinkedIn URL","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1220,336]},{"parameters":{"url":"https://api.amplemarket.com/companies/find","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"linkedin_url","value":"={{ $json.linkedinUrl }}"}]},"options":{"response":{"response":{"responseFormat":"json"}},"timeout":30000}},"id":"amplemarket-linkedin","name":"Amplemarket LinkedIn API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,256],"credentials":{"httpHeaderAuth":{"id":"Jx7A2XtklZuWBopq","name":"amplemarket"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"linkedin-data-check","operator":{"type":"string","operation":"notEmpty"},"leftValue":"={{ $json.name || $json.domain || '' }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"check-linkedin-success","name":"Check LinkedIn Data Retrieved","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1780,256]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const companyData = $('Prepare Company Data').item.json;\nconst d = $json;\n\nconst overview = d.overview || 'Not provided';\nconst industry = d.industry || 'Not provided';\nconst keywords = Array.isArray(d.keywords) ? d.keywords.join(', ') : (d.keywords || 'Not provided');\n\nconst prompt = `You are an expert business industry classifier. Classify this company into exactly ONE of these 16 categories:\n\n1. Accounting\n2. Insurance\n3. Legal Services\n4. Technology\n5. Healthcare\n6. Public Sector\n7. Retail and Consumer Goods\n8. Consulting\n9. Construction\n10. HR and Payroll Services\n11. Banking\n12. Energy\n13. Financial Services\n14. Manufacturing\n15. Transportation\n16. Others\n\nCOMPANY DATA (from LinkedIn):\nName: ${companyData.companyName}\nLinkedIn Industry: ${industry}\nKeywords: ${keywords}\n\nOverview:\n${overview}\n\nHOW TO USE THIS DATA:\n- Keywords and LinkedIn Industry are your primary signals — they reflect actual service areas\n- Overview is often a single marketing line — use it as supporting context only, not the primary basis for classification\n- LinkedIn's industry taxonomy differs from ours: use the mapping guidance below when needed\n\nLINKEDIN INDUSTRY MAPPING GUIDANCE:\n- \"Information Technology and Services\", \"Software\", \"Internet\" → Technology (if they build products) or Consulting\n- \"Financial Services\", \"Investment Management\", \"Venture Capital\" → Financial Services or Banking\n- \"Staffing and Recruiting\", \"Human Resources\" → HR and Payroll Services\n- \"Accounting\" → Accounting\n- \"Legal Services\", \"Law Practice\" → Legal Services\n- \"Real Estate\" → Consulting (if advisory/services) or Construction (if they build)\n- \"Insurance\" → Insurance\n- \"Hospital & Health Care\", \"Medical Devices\", \"Pharmaceuticals\", \"Biotechnology\" → Healthcare\n- \"Government Administration\" → Public Sector\n- When LinkedIn's industry doesn't map cleanly, rely on Keywords to determine the right category\n\nCLASSIFICATION PRIORITY — apply strictly in this order:\n1. Technology — company BUILDS software, SaaS, apps, or tech products (regardless of the industry they serve)\n2. Legal Services — any legal work, compliance, or contract services (never Consulting)\n3. Specific category — pick the most specific match:\n   - Healthcare: hospitals, clinics, pharma, biotech, medical devices, drug development\n   - HR and Payroll Services: HR consulting, recruiting, staffing, payroll\n   - Accounting: tax, bookkeeping, audit, CFO services\n   - Banking: loans, deposits, payment processing\n   - Financial Services: investment advisory, wealth management\n   - Insurance, Energy, Construction, Manufacturing, Transportation\n4. Retail and Consumer Goods — company sells consumer-facing products (clothing, food, electronics, home goods); does NOT apply to pharma, medical, or specialized B2B products\n5. Consulting — multi-service advisory or professional services firms covering multiple domains\n6. Public Sector — ONLY actual government agencies, not contractors\n7. Others — ONLY when none of the 15 categories fit (agriculture, education, media, non-profits)\n\nKEY DISTINCTIONS:\n- Builds tech for any industry → Technology\n- Any legal work → Legal Services, never Consulting\n- Pharma, biotech, medical devices → Healthcare, not Retail and Consumer Goods\n- Real estate advisory or property services → Consulting\n- Sells consumer products → Retail and Consumer Goods, beats Manufacturing\n- Government contractor → their service category, not Public Sector\n- Non-profit → Others\n\nCRITICAL: Respond with ONLY the category name. No explanation, no punctuation, no extra text.\n\nExamples:\n- \"Commercial real estate services: valuation, asset management, property advisory\" → Consulting\n- \"Biopharmaceutical company developing and commercializing treatments for rare diseases\" → Healthcare\n- \"We build SaaS software for law firms\" → Technology\n- \"Law firm specializing in corporate law\" → Legal Services\n- \"HR consulting and recruiting services\" → HR and Payroll Services\n- \"Bookkeeping and tax services for small businesses\" → Accounting\n- \"Investment advisory and wealth management\" → Financial Services\n- \"Non-profit educational institution\" → Others\n\nYour response (category name only):`;\n\nreturn {\n  json: {\n    companyId: companyData.companyId,\n    companyName: companyData.companyName,\n    enrichmentSource: 'linkedin',\n    prompt: prompt\n  }\n};\n"},"id":"prepare-gemini-linkedin","name":"Prepare Gemini Input - LinkedIn","type":"n8n-nodes-base.code","typeVersion":2,"position":[2036,192]},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }], generationConfig: { temperature: 0.3 } }) }}","options":{}},"id":"gemini-cat-linkedin","name":"Gemini Categorization - LinkedIn","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2292,192],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"googlePalmApi":{"id":"QnUjlFnc4gypgplL","name":"Gemini"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const response = $json;\nconst geminiText = response?.candidates?.[0]?.content?.parts?.[0]?.text || '';\nlet category = geminiText.trim();\n\n// Map display label to HubSpot internal enum value\nif (category === 'Others') category = 'Unknown';\n\nconst prepData = $('Prepare Gemini Input - LinkedIn').item.json;\n\nreturn {\n  companyId: prepData.companyId,\n  companyName: prepData.companyName,\n  enrichmentSource: prepData.enrichmentSource,\n  category: category,\n  needsManualReview: false\n};"},"id":"parse-response-linkedin","name":"Parse Gemini Response - LinkedIn","type":"n8n-nodes-base.code","typeVersion":2,"position":[2564,192]},{"parameters":{"url":"={{ 'https://r.jina.ai/https://' + $('Prepare Company Data').item.json.domain }}","options":{}},"id":"website-scrape","name":"Website Scraping","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2084,432],"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"website-data-check","operator":{"type":"string","operation":"notEmpty"},"leftValue":"={{ $json.data || '' }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"check-website-success","name":"Check Website Data Retrieved","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2308,432]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const companyData = $('Prepare Company Data').item.json;\n\n// Jina returns clean markdown - strip noise before trimming\nconst content = ($json.data || '')\n  .replace(/!\\[.*?\\]\\(.*?\\)/g, '')                              // strip markdown images\n  .replace(/\\[.*?\\]\\(https?:\\/\\/static\\.wixstatic[^\\)]*\\)/g, '') // strip Wix asset links\n  .replace(/\\[.*?cookiebot.*?\\]\\(.*?\\)/gi, '')                   // strip cookiebot links\n  .replace(/this website uses cookies[\\s\\S]*?(?=\\n#{1,3}\\s|\\n\\n[A-Z]|$)/gi, '') // strip cookie consent blocks\n  .replace(/consent selection[\\s\\S]*?(?=\\n#{1,3}\\s|\\n\\n[A-Z]|$)/gi, '')        // strip consent selection blocks\n  .replace(/\\b(cookiebot|cookie consent|cookie policy|gdpr|datenschutz|impressum)\\b.*\\n?/gi, '') // strip individual boilerplate lines\n  .replace(/\\n{3,}/g, '\\n\\n')                                    // collapse excess blank lines\n  .trim()\n  .substring(0, 2000);\n\nconst prompt = `You are an expert business industry classifier. Classify this company into exactly ONE of these 16 categories:\\n\\n1. Accounting\\n2. Insurance\\n3. Legal Services\\n4. Technology\\n5. Healthcare\\n6. Public Sector\\n7. Retail and Consumer Goods\\n8. Consulting\\n9. Construction\\n10. HR and Payroll Services\\n11. Banking\\n12. Energy\\n13. Financial Services\\n14. Manufacturing\\n15. Transportation\\n16. Others\\n\\nCOMPANY DATA (from website scraping):\\nName: ${companyData.companyName}\\nDomain: ${companyData.domain}\\n\\nWebsite Content:\\n${content || 'Not available'}\\n\\nHOW TO USE THIS DATA:\\n- Focus only on content that describes what the company does: services, products, mission, about sections\\n- Ignore completely: cookie consent notices, privacy policies, navigation menus, footer links, legal disclaimers\\n- If the content is dominated by boilerplate with no substantive company description, classify using the company name and domain as your only signals\\n- Company name and domain alone are sufficient to make a reasonable classification when content fails\\n\\nCLASSIFICATION PRIORITY \\u2014 apply strictly in this order:\\n1. Technology \\u2014 company BUILDS software, SaaS, apps, or tech products (regardless of the industry they serve)\\n2. Legal Services \\u2014 any legal work, compliance, or contract services (never Consulting)\\n3. Specific category \\u2014 pick the most specific match:\\n   - Healthcare: hospitals, clinics, pharma, biotech, medical devices, drug development\\n   - HR and Payroll Services: HR consulting, recruiting, staffing, payroll\\n   - Accounting: tax, bookkeeping, audit, CFO services\\n   - Banking: loans, deposits, payment processing\\n   - Financial Services: investment advisory, wealth management\\n   - Insurance, Energy, Construction, Manufacturing, Transportation\\n4. Retail and Consumer Goods \\u2014 company sells consumer-facing products (clothing, food, electronics, home goods); does NOT apply to pharma, medical, or specialized B2B products\\n5. Consulting \\u2014 generalist advisory or professional services firms covering multiple domains\\n6. Public Sector \\u2014 ONLY actual government agencies, not contractors\\n7. Others \\u2014 ONLY when none of the 15 categories fit (agriculture, education, media, non-profits)\\n\\nKEY DISTINCTIONS:\\n- Builds tech for any industry \\u2192 Technology\\n- Any legal work \\u2192 Legal Services, never Consulting\\n- Pharma, biotech, medical devices \\u2192 Healthcare, not Retail and Consumer Goods\\n- Real estate developer (builds properties) \\u2192 Construction\\n- Real estate advisory (manages/advises on properties) \\u2192 Consulting\\n- Sells consumer products \\u2192 Retail and Consumer Goods, beats Manufacturing\\n- Government contractor \\u2192 their service category, not Public Sector\\n- Non-profit \\u2192 Others\\n\\nCRITICAL: Respond with ONLY the category name. No explanation, no punctuation, no extra text.\\n\\nExamples:\\n- \\\"We build SaaS software for law firms\\\" \\u2192 Technology\\n- \\\"Law firm specializing in corporate law\\\" \\u2192 Legal Services\\n- \\\"Biopharmaceutical company developing treatments for rare diseases\\\" \\u2192 Healthcare\\n- \\\"HR consulting and recruiting services\\\" \\u2192 HR and Payroll Services\\n- \\\"Bookkeeping and tax services for small businesses\\\" \\u2192 Accounting\\n- \\\"Multi-service firm: accounting, HR, and legal advisory\\\" \\u2192 Consulting\\n- \\\"Non-profit educational institution\\\" \\u2192 Others\\n\\nYour response (category name only):`;\n\nreturn {\n  json: {\n    companyId: companyData.companyId,\n    companyName: companyData.companyName,\n    enrichmentSource: 'website',\n    prompt: prompt\n  }\n};"},"id":"prepare-gemini-website","name":"Prepare Gemini Input - Website","type":"n8n-nodes-base.code","typeVersion":2,"position":[2676,432]},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }], generationConfig: { temperature: 0.3 } }) }}","options":{}},"id":"gemini-cat-website","name":"Gemini Categorization - Website","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2916,432],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"googlePalmApi":{"id":"QnUjlFnc4gypgplL","name":"Gemini"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const response = $json;\nconst geminiText = response?.candidates?.[0]?.content?.parts?.[0]?.text || '';\nlet category = geminiText.trim();\n\n// Map display label to HubSpot internal enum value\nif (category === 'Others') category = 'Unknown';\n\nconst prepData = $('Prepare Gemini Input - Website').item.json;\n\nreturn {\n  companyId: prepData.companyId,\n  companyName: prepData.companyName,\n  enrichmentSource: prepData.enrichmentSource,\n  category: category,\n  needsManualReview: false\n};"},"id":"parse-response-website","name":"Parse Gemini Response - Website","type":"n8n-nodes-base.code","typeVersion":2,"position":[3124,432]},{"parameters":{"authentication":"appToken","resource":"company","operation":"update","companyId":{"mode":"id","value":"={{ $json.companyId }}"},"updateFields":{"customPropertiesUi":{"customPropertiesValues":[{"property":"industry__internal_","value":"={{ $json.category }}"},{"property":"industry_internal_enrichment_source","value":"={{ $json.enrichmentSource }}"}]}}},"id":"update-hubspot","name":"Update HubSpot","type":"n8n-nodes-base.hubspot","typeVersion":2.2,"position":[4196,336],"credentials":{"hubspotAppToken":{"id":"5ww8XNGf4HTQu4UI","name":"hubspot"}}},{"parameters":{"url":"={{ (function() {\n    const raw = $('Prepare Company Data').item.json.companyName || '';\n    const isDomain = /^[a-zA-Z0-9][a-zA-Z0-9-]*(\\.[a-zA-Z0-9-]+)*\\.[a-zA-Z]{2,}$/.test(raw.trim());\n    const cleaned = isDomain\n      ? raw.trim().replace(/\\.[^.]+$/, '').replace(/[-_.]/g, ' ')\n      : raw;\n    return 'https://r.jina.ai/https://duckduckgo.com/html/?q=' + encodeURIComponent(cleaned + ' company');\n  })()}}","options":{}},"id":"jina-search","name":"Jina Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2452,704],"onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const companyData = $('Prepare Company Data').item.json;\n\n// Jina search returns markdown of search results - strip noise\nconst content = ($json.data || '')\n  .replace(/!\\[.*?\\]\\(.*?\\)/g, '')         // strip markdown images\n  .replace(/\\[([^\\]]*)\\]\\([^)]+\\)/g, '$1') // strip links, keep text\n  .replace(/\\n{3,}/g, '\\n\\n')              // collapse blank lines\n  .trim()\n  .substring(0, 2000);\n\nconst prompt = `You are an expert business industry classifier. Classify this company into exactly ONE of these 16 categories:\\n\\n1. Accounting\\n2. Insurance\\n3. Legal Services\\n4. Technology\\n5. Healthcare\\n6. Public Sector\\n7. Retail and Consumer Goods\\n8. Consulting\\n9. Construction\\n10. HR and Payroll Services\\n11. Banking\\n12. Energy\\n13. Financial Services\\n14. Manufacturing\\n15. Transportation\\n16. Others\\n\\nCOMPANY DATA (from web search \\u2014 last resort source):\\nName: ${companyData.companyName}${companyData.domain ? '\\nDomain: ' + companyData.domain : ''}\\n\\nSearch Results:\\n${content || 'Not available'}\\n\\nHOW TO USE THIS DATA:\\n- Search results may include multiple companies with similar names \\u2014 prioritise results that match the company name or domain exactly\\n- When the company name is a domain (e.g. \\\"silvercord.eu\\\"), search results may mix different companies; use the most relevant match\\n- Source quality hierarchy: company\\u2019s own website > LinkedIn profile > Wikipedia > business directories > ads or unrelated results\\n- When multiple results conflict, pick the most specific category supported by the most authoritative source\\n- When results are only ads, sponsored links, or completely unrelated to the company, classify using the domain name alone as your signal\\n- If the domain gives no meaningful signal either, use Others\\n\\nCLASSIFICATION PRIORITY \\u2014 apply strictly in this order:\\n1. Technology \\u2014 company BUILDS software, SaaS, apps, or tech products (regardless of the industry they serve)\\n2. Legal Services \\u2014 any legal work, compliance, or contract services (never Consulting)\\n3. Specific category \\u2014 pick the most specific match:\\n   - Healthcare: hospitals, clinics, pharma, biotech, medical devices, drug development\\n   - HR and Payroll Services: HR consulting, recruiting, staffing, payroll\\n   - Accounting: tax, bookkeeping, audit, CFO services\\n   - Banking: loans, deposits, payment processing\\n   - Financial Services: investment advisory, wealth management, title insurance\\n   - Insurance, Energy, Construction, Manufacturing, Transportation\\n4. Retail and Consumer Goods \\u2014 company sells consumer-facing products (clothing, food, electronics, home goods); does NOT apply to pharma, medical, or specialized B2B products\\n5. Consulting \\u2014 generalist advisory or professional services firms covering multiple domains\\n6. Public Sector \\u2014 ONLY actual government agencies, not contractors\\n7. Others \\u2014 when search results are empty/ads only AND domain gives no signal; or when no category fits\\n\\nKEY DISTINCTIONS:\\n- Builds tech for any industry \\u2192 Technology (e.g. SAP software for real estate \\u2192 Technology)\\n- Any legal work \\u2192 Legal Services, never Consulting\\n- Pharma, biotech, medical devices \\u2192 Healthcare, not Retail and Consumer Goods\\n- Title insurance, real estate services \\u2192 Financial Services or Insurance\\n- Sells consumer products \\u2192 Retail and Consumer Goods, beats Manufacturing\\n- Government contractor \\u2192 their service category, not Public Sector\\n- Non-profit \\u2192 Others\\n\\nCRITICAL: Respond with ONLY the category name. No explanation, no punctuation, no extra text.\\n\\nExamples:\\n- Search returns results for a title insurance company \\u2192 Insurance\\n- Search shows \\\"develops SAP-based software for real estate digitalisation\\\" \\u2192 Technology\\n- Search returns only ads with no company information, domain gives no signal \\u2192 Others\\n- Search returns conflicting results, clearest source shows recruitment/staffing \\u2192 HR and Payroll Services\\n- \\\"Law firm specializing in corporate law\\\" \\u2192 Legal Services\\n- \\\"Biopharmaceutical company developing treatments for rare diseases\\\" \\u2192 Healthcare\\n- \\\"Bookkeeping and tax services for small businesses\\\" \\u2192 Accounting\\n- \\\"Non-profit educational institution\\\" \\u2192 Others\\n\\nYour response (category name only):`;\n\nreturn {\n  json: {\n    companyId: companyData.companyId,\n    companyName: companyData.companyName,\n    enrichmentSource: 'search',\n    prompt: prompt\n  }\n};\n"},"id":"prepare-gemini-search","name":"Prepare Gemini Input - Search","type":"n8n-nodes-base.code","typeVersion":2,"position":[2676,704]},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }], generationConfig: { temperature: 0.3 } }) }}","options":{}},"id":"gemini-cat-search","name":"Gemini Categorization - Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2916,704],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"googlePalmApi":{"id":"QnUjlFnc4gypgplL","name":"Gemini"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const response = $json;\nconst geminiText = response?.candidates?.[0]?.content?.parts?.[0]?.text || '';\nlet category = geminiText.trim();\n\n// Map display label to HubSpot internal enum value\nif (category === 'Others') category = 'Unknown';\n\nconst prepData = $('Prepare Gemini Input - Search').item.json;\n\nreturn {\n  companyId: prepData.companyId,\n  companyName: prepData.companyName,\n  enrichmentSource: prepData.enrichmentSource,\n  category: category,\n  needsManualReview: false\n};"},"id":"parse-response-search","name":"Parse Gemini Response - Search","type":"n8n-nodes-base.code","typeVersion":2,"position":[3140,704]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const r = $('Preserve Pre-Update Data').item.json;\nreturn {\n  json: {\n    companyId: r.companyId,\n    companyName: r.companyName,\n    enrichmentSource: r.enrichmentSource,\n    category: r.category,\n    needsManualReview: false\n  }\n};"},"id":"preserve-success-result","name":"Preserve Result Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[4500,336]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"aggregate-all","name":"Aggregate All Results","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[4820,336]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const items = $json.data || [];\n\nif (items.length === 0) {\n  return { json: { message: '📊 No companies processed today.' } };\n}\n\nconst categorized = items.filter(i => !i.needsManualReview);\nconst manualReview = items.filter(i => i.needsManualReview);\n\nconst today = new Date().toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' });\nlet message = `*📊 Industry Categorization — ${today}*\\n*${items.length} companies processed*\\n`;\n\nif (categorized.length > 0) {\n  message += `\\n✅ *${categorized.length} categorized:*\\n`;\n  for (const c of categorized) {\n    const cat = c.category === 'Unknown' ? 'Others' : c.category;\n    message += `• *${c.companyName}* → ${cat} _(${c.enrichmentSource})_ — <https://app.hubspot.com/contacts/142047914/company/${c.companyId}|View>\\n`;\n  }\n}\n\nif (manualReview.length > 0) {\n  message += `\\n⚠️ *${manualReview.length} need manual review:*\\n`;\n  for (const c of manualReview) {\n    message += `• <https://app.hubspot.com/contacts/142047914/company/${c.companyId}|${c.companyName}>\\n`;\n  }\n}\n\nreturn { json: { message } };"},"id":"format-summary","name":"Format Summary Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[5172,336]},{"parameters":{"operation":"post","select":"channel","channelId":{"__rl":true,"value":"C0AG86U9927","mode":"id"},"text":"={{ $json.message }}","otherOptions":{}},"id":"slack-summary","name":"Send Summary Slack","type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[5492,336],"webhookId":"8dffdfa5-c4e2-45c1-9e96-73dcad13ae4d","credentials":{"slackApi":{"id":"lYs0WHzWk4c7z9Kk","name":"Slack"}}},{"parameters":{"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"domain-check","operator":{"type":"string","operation":"notEmpty"},"leftValue":"={{ $('Prepare Company Data').item.json.domain }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"check-has-domain","name":"Check Has Domain","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1780,528]},{"parameters":{"assignments":{"assignments":[{"id":"f1","name":"companyId","type":"string","value":"={{ $json.companyId }}"},{"id":"f2","name":"companyName","type":"string","value":"={{ $json.companyName }}"},{"id":"f3","name":"enrichmentSource","type":"string","value":"={{ $json.enrichmentSource }}"},{"id":"f4","name":"category","type":"string","value":"={{ $json.category }}"},{"id":"f5","name":"needsManualReview","type":"boolean","value":false}]},"options":{}},"id":"preserve-pre-update","name":"Preserve Pre-Update Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3508,336]}],"connections":{"Manual Trigger":{"main":[[{"node":"Fetch 200 Uncategorized Companies","type":"main","index":0}]]},"Fetch 200 Uncategorized Companies":{"main":[[{"node":"Split Companies","type":"main","index":0}]]},"Split Companies":{"main":[[{"node":"Get Company Details","type":"main","index":0}]]},"Get Company Details":{"main":[[{"node":"Prepare Company Data","type":"main","index":0}]]},"Prepare Company Data":{"main":[[{"node":"Check Description Exists","type":"main","index":0}]]},"Check Description Exists":{"main":[[{"node":"Prepare Gemini Input - HubSpot","type":"main","index":0}],[{"node":"Check Has LinkedIn URL","type":"main","index":0}]]},"Prepare Gemini Input - HubSpot":{"main":[[{"node":"Gemini Categorization - HubSpot","type":"main","index":0}]]},"Gemini Categorization - HubSpot":{"main":[[{"node":"Parse Gemini Response - HubSpot","type":"main","index":0}]]},"Parse Gemini Response - HubSpot":{"main":[[{"node":"Preserve Pre-Update Data","type":"main","index":0}]]},"Check Has LinkedIn URL":{"main":[[{"node":"Amplemarket LinkedIn API","type":"main","index":0}],[{"node":"Check Has Domain","type":"main","index":0}]]},"Amplemarket LinkedIn API":{"main":[[{"node":"Check LinkedIn Data Retrieved","type":"main","index":0}]]},"Check LinkedIn Data Retrieved":{"main":[[{"node":"Prepare Gemini Input - LinkedIn","type":"main","index":0}],[{"node":"Check Has Domain","type":"main","index":0}]]},"Prepare Gemini Input - LinkedIn":{"main":[[{"node":"Gemini Categorization - LinkedIn","type":"main","index":0}]]},"Gemini Categorization - LinkedIn":{"main":[[{"node":"Parse Gemini Response - LinkedIn","type":"main","index":0}]]},"Parse Gemini Response - LinkedIn":{"main":[[{"node":"Preserve Pre-Update Data","type":"main","index":0}]]},"Check Has Domain":{"main":[[{"node":"Website Scraping","type":"main","index":0}],[{"node":"Jina Search","type":"main","index":0}]]},"Website Scraping":{"main":[[{"node":"Check Website Data Retrieved","type":"main","index":0}]]},"Check Website Data Retrieved":{"main":[[{"node":"Prepare Gemini Input - Website","type":"main","index":0}],[{"node":"Jina Search","type":"main","index":0}]]},"Prepare Gemini Input - Website":{"main":[[{"node":"Gemini Categorization - Website","type":"main","index":0}]]},"Gemini Categorization - Website":{"main":[[{"node":"Parse Gemini Response - Website","type":"main","index":0}]]},"Parse Gemini Response - Website":{"main":[[{"node":"Preserve Pre-Update Data","type":"main","index":0}]]},"Jina Search":{"main":[[{"node":"Prepare Gemini Input - Search","type":"main","index":0}]]},"Prepare Gemini Input - Search":{"main":[[{"node":"Gemini Categorization - Search","type":"main","index":0}]]},"Gemini Categorization - Search":{"main":[[{"node":"Parse Gemini Response - Search","type":"main","index":0}]]},"Parse Gemini Response - Search":{"main":[[{"node":"Preserve Pre-Update Data","type":"main","index":0}]]},"Preserve Pre-Update Data":{"main":[[{"node":"Update HubSpot","type":"main","index":0}]]},"Update HubSpot":{"main":[[{"node":"Preserve Result Data","type":"main","index":0}]]},"Preserve Result Data":{"main":[[{"node":"Aggregate All Results","type":"main","index":0}]]},"Aggregate All Results":{"main":[[{"node":"Format Summary Message","type":"main","index":0}]]},"Format Summary Message":{"main":[[{"node":"Send Summary Slack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"2809b44b-f415-4d0a-bd47-48e4d15ac5ca","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-02-22T13:28:07.922Z","createdAt":"2026-02-22T13:28:07.922Z","role":"workflow:owner","workflowId":"6EnyU8ofbAlq1bby","projectId":"BgmK2k8flov6mZfH","project":{"updatedAt":"2026-01-28T14:25:33.079Z","createdAt":"2026-01-28T14:24:51.243Z","id":"BgmK2k8flov6mZfH","name":"Isaac  Hasbani <isaac.hasbani@legalfly.com>","type":"personal","icon":null,"description":null,"creatorId":"126c4214-1ca8-49c9-bb08-e723e54971d6","projectRelations":[{"updatedAt":"2026-01-28T14:24:51.246Z","createdAt":"2026-01-28T14:24:51.246Z","userId":"126c4214-1ca8-49c9-bb08-e723e54971d6","projectId":"BgmK2k8flov6mZfH","user":{"updatedAt":"2026-02-22T00:37:17.000Z","createdAt":"2026-01-28T14:24:51.237Z","id":"126c4214-1ca8-49c9-bb08-e723e54971d6","email":"isaac.hasbani@legalfly.com","firstName":"Isaac ","lastName":"Hasbani","personalizationAnswers":null,"settings":{"firstSuccessfulWorkflowId":"msnUQJ07NgfOdXls4nbW9","userActivated":true,"userActivatedAt":1770242998305,"easyAIWorkflowOnboarded":true,"npsSurvey":{"responded":true,"lastShownAt":1771197305297}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-22","isPending":false}}]}}],"tags":[],"activeVersion":null}