workflows/hubspot-employee-enrichment/workflow-v1.0.json
{
  "name": "HubSpot Employee Count Enrichment v1.0",
  "nodes": [
    {
      "id": "emp-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2
            }
          ]
        }
      }
    },
    {
      "id": "emp-fetch",
      "name": "Fetch Companies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/companies/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'numberofemployees', operator: 'NOT_HAS_PROPERTY' }] }], properties: ['name', 'domain', 'linkedin_company_page'], limit: 100 }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "credentials": {
        "hubspotAppToken": {
          "id": "5ww8XNGf4HTQu4UI",
          "name": "hubspot"
        }
      }
    },
    {
      "id": "emp-split",
      "name": "Split Companies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = $input.first().json.results || [];\nreturn results.map(company => ({ json: company }));"
      }
    },
    {
      "id": "emp-prepare",
      "name": "Prepare Company Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [960, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "companyId",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "id": "a2",
              "name": "companyName",
              "type": "string",
              "value": "={{ ($json.properties || {}).name || '' }}"
            },
            {
              "id": "a3",
              "name": "domain",
              "type": "string",
              "value": "={{ ($json.properties || {}).domain || '' }}"
            },
            {
              "id": "a4",
              "name": "linkedinUrl",
              "type": "string",
              "value": "={{ ($json.properties || {}).linkedin_company_page || '' }}"
            }
          ]
        },
        "includeOtherFields": false
      }
    },
    {
      "id": "emp-check-li",
      "name": "Check Has LinkedIn URL",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1200, 300],
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.linkedinUrl }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "emp-amp-li",
      "name": "Amplemarket LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 200],
      "parameters": {
        "url": "https://api.amplemarket.com/companies/find",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "linkedin_url",
              "value": "={{ $json.linkedinUrl }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "Jx7A2XtklZuWBopq",
          "name": "amplemarket"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "emp-check-domain",
      "name": "Check Has Domain",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1440, 500],
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c2",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.domain }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "emp-amp-domain",
      "name": "Amplemarket Domain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 400],
      "parameters": {
        "url": "https://api.amplemarket.com/companies/find",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $json.domain }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "Jx7A2XtklZuWBopq",
          "name": "amplemarket"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "emp-parse-amp",
      "name": "Parse Amplemarket",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse Amplemarket response - extract employee count\nconst data = $json;\nlet companyData = data;\n\n// If the response is wrapped\nif (data.data) companyData = data.data;\nif (data.company) companyData = data.company;\n\n// Try various field names for employee count\nconst employeeCount = companyData.employee_count\n  || companyData.employees\n  || companyData.size\n  || companyData.number_of_employees\n  || companyData.headcount\n  || 0;\n\n// Carry forward company identifiers\nconst companyId = $('Prepare Company Data').item.json.companyId;\nconst companyName = $('Prepare Company Data').item.json.companyName;\nconst domain = $('Prepare Company Data').item.json.domain;\n\nreturn {\n  json: {\n    companyId,\n    companyName,\n    domain,\n    employeeCount: parseInt(employeeCount) || 0,\n    amplemarketRaw: companyData\n  }\n};"
      }
    },
    {
      "id": "emp-check-count",
      "name": "Check Got Count",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [2160, 300],
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c3",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.employeeCount }}",
              "rightValue": 0
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "emp-prep-gemini",
      "name": "Prepare Gemini Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 200],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Build Gemini prompt for branch/subsidiary detection\nconst companyName = $json.companyName;\nconst domain = $json.domain;\nconst count = $json.employeeCount;\n\nconst prompt = 'You are analyzing a company to determine its correct employee count.\\n\\n'\n  + 'Company: ' + companyName + '\\n'\n  + 'Domain: ' + domain + '\\n'\n  + 'Amplemarket reported employee count: ' + count + '\\n\\n'\n  + 'Tasks:\\n'\n  + '1. Is this company a local branch, subsidiary, or regional office of a larger parent?\\n'\n  + '   - \"KPMG Spain\" is a branch of KPMG\\n'\n  + '   - \"Google UK\" is a branch of Alphabet/Google\\n'\n  + '   - Look for country names, city names, or region indicators in the company name\\n'\n  + '2. If it IS a branch: estimate the GLOBAL employee count of the parent organization\\n'\n  + '3. If it is NOT a branch: return the Amplemarket count as-is\\n\\n'\n  + 'Return ONLY valid JSON (no markdown, no explanation):\\n'\n  + '{\"employeeCount\": <number>, \"isSubsidiary\": true/false, \"parentCompany\": \"<name or null>\"}';\n\nreturn {\n  json: {\n    companyId: $json.companyId,\n    companyName,\n    domain,\n    originalCount: count,\n    prompt\n  }\n};"
      }
    },
    {
      "id": "emp-gemini",
      "name": "Gemini Branch Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, 200],
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }], generationConfig: { temperature: 0.1 } }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "QnUjlFnc4gypgplL",
          "name": "Gemini"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "emp-parse-gemini",
      "name": "Parse Gemini",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, 200],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse Gemini response and prepare final result\nconst response = $json;\nconst companyId = $('Prepare Gemini Prompt').item.json.companyId;\nconst companyName = $('Prepare Gemini Prompt').item.json.companyName;\nconst originalCount = $('Prepare Gemini Prompt').item.json.originalCount;\n\nlet geminiResult = {};\ntry {\n  const text = response.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  const cleaned = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  geminiResult = JSON.parse(cleaned);\n} catch (e) {\n  // If parsing fails, use original Amplemarket data\n  geminiResult = {\n    employeeCount: originalCount,\n    isSubsidiary: false,\n    parentCompany: null\n  };\n}\n\nconst finalCount = geminiResult.employeeCount || originalCount;\nconst isSubsidiary = geminiResult.isSubsidiary || false;\nconst parentCompany = geminiResult.parentCompany || null;\n\nlet enrichmentSource = 'Amplemarket';\nif (isSubsidiary && parentCompany) {\n  enrichmentSource = 'Amplemarket (parent: ' + parentCompany + ')';\n}\n\nreturn {\n  json: {\n    companyId,\n    companyName,\n    employeeCount: finalCount,\n    enrichmentSource\n  }\n};"
      }
    },
    {
      "id": "emp-unknown",
      "name": "Prepare Unknown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 600],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Mark as unresolved - no employee data available\nconst companyId = $('Prepare Company Data').item.json.companyId;\nconst companyName = $('Prepare Company Data').item.json.companyName;\n\nreturn {\n  json: {\n    companyId,\n    companyName,\n    employeeCount: '',\n    enrichmentSource: 'Unresolved'\n  }\n};"
      }
    },
    {
      "id": "emp-update-hs",
      "name": "Update HubSpot",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [3120, 300],
      "parameters": {
        "authentication": "appToken",
        "resource": "company",
        "operation": "update",
        "companyId": {
          "mode": "id",
          "value": "={{ $json.companyId }}"
        },
        "updateFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "numberofemployees",
                "value": "={{ $json.employeeCount }}"
              },
              {
                "property": "number-employees-enrichment-source",
                "value": "={{ $json.enrichmentSource }}"
              }
            ]
          }
        }
      },
      "credentials": {
        "hubspotAppToken": {
          "id": "5ww8XNGf4HTQu4UI",
          "name": "hubspot"
        }
      }
    },
    {
      "id": "emp-format",
      "name": "Format Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3360, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build summary message for Slack\nconst items = $input.all();\nlet enriched = 0;\nlet subsidiaries = 0;\nlet unresolved = 0;\nconst details = [];\n\nfor (const item of items) {\n  const d = item.json;\n  if (d.enrichmentSource === 'Unresolved') {\n    unresolved++;\n    details.push('\\u2753 ' + d.companyName + ' \\u2192 Unresolved');\n  } else if (d.enrichmentSource && d.enrichmentSource.startsWith('Amplemarket (parent:')) {\n    enriched++;\n    subsidiaries++;\n    details.push('\\ud83c\\udfe2 ' + d.companyName + ' \\u2192 ' + d.employeeCount + ' employees (' + d.enrichmentSource + ')');\n  } else {\n    enriched++;\n    details.push('\\u2705 ' + d.companyName + ' \\u2192 ' + d.employeeCount + ' employees');\n  }\n}\n\nconst total = items.length;\nconst summary = '*Employee Count Enrichment Summary*\\n'\n  + 'Total processed: ' + total + '\\n'\n  + 'Enriched: ' + enriched + (subsidiaries > 0 ? ' (' + subsidiaries + ' subsidiaries adjusted)' : '') + '\\n'\n  + 'Unresolved: ' + unresolved + '\\n\\n'\n  + '*Details:*\\n'\n  + details.slice(0, 50).join('\\n');\n\nreturn [{ json: { message: summary } }];"
      }
    },
    {
      "id": "emp-slack",
      "name": "Send Slack Summary",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [3600, 300],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AFSAD1E5A",
          "mode": "id"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "lYs0WHzWk4c7z9Kk",
          "name": "Slack"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Fetch Companies", "type": "main", "index": 0}]]
    },
    "Fetch Companies": {
      "main": [[{"node": "Split Companies", "type": "main", "index": 0}]]
    },
    "Split Companies": {
      "main": [[{"node": "Prepare Company Data", "type": "main", "index": 0}]]
    },
    "Prepare Company Data": {
      "main": [[{"node": "Check Has LinkedIn URL", "type": "main", "index": 0}]]
    },
    "Check Has LinkedIn URL": {
      "main": [
        [{"node": "Amplemarket LinkedIn", "type": "main", "index": 0}],
        [{"node": "Check Has Domain", "type": "main", "index": 0}]
      ]
    },
    "Amplemarket LinkedIn": {
      "main": [[{"node": "Parse Amplemarket", "type": "main", "index": 0}]]
    },
    "Check Has Domain": {
      "main": [
        [{"node": "Amplemarket Domain", "type": "main", "index": 0}],
        [{"node": "Prepare Unknown", "type": "main", "index": 0}]
      ]
    },
    "Amplemarket Domain": {
      "main": [[{"node": "Parse Amplemarket", "type": "main", "index": 0}]]
    },
    "Parse Amplemarket": {
      "main": [[{"node": "Check Got Count", "type": "main", "index": 0}]]
    },
    "Check Got Count": {
      "main": [
        [{"node": "Prepare Gemini Prompt", "type": "main", "index": 0}],
        [{"node": "Prepare Unknown", "type": "main", "index": 0}]
      ]
    },
    "Prepare Gemini Prompt": {
      "main": [[{"node": "Gemini Branch Check", "type": "main", "index": 0}]]
    },
    "Gemini Branch Check": {
      "main": [[{"node": "Parse Gemini", "type": "main", "index": 0}]]
    },
    "Parse Gemini": {
      "main": [[{"node": "Update HubSpot", "type": "main", "index": 0}]]
    },
    "Prepare Unknown": {
      "main": [[{"node": "Update HubSpot", "type": "main", "index": 0}]]
    },
    "Update HubSpot": {
      "main": [[{"node": "Format Summary", "type": "main", "index": 0}]]
    },
    "Format Summary": {
      "main": [[{"node": "Send Slack Summary", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/London",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "errorWorkflow": "TA6Iq4wMW0KYsCiH",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "active": false,
  "id": "u9IcVLMFzBO6Idkw",
  "tags": []
}
