workflows/hubspot-employee-enrichment/workflow-v2.0.json
{
  "name": "HubSpot Employee Count Enrichment v2.0",
  "nodes": [
    {
      "id": "emp2-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1600,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "1 2 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "emp2-init",
      "name": "Initialize State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1300,
        300
      ],
      "parameters": {
        "jsCode": "return {\n  json: {\n    after: null,\n    allCompanies: []\n  }\n};"
      }
    },
    {
      "id": "emp2-pass-state",
      "name": "Pass State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1000,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    after: $json.after || null,\n    allCompanies: $json.allCompanies || []\n  }\n};"
      }
    },
    {
      "id": "emp2-fetch",
      "name": "Fetch Companies Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -700,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/companies/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'createdate', operator: 'GTE', value: String(new Date(Date.UTC(new Date().getUTCFullYear(), new Date().getUTCMonth(), new Date().getUTCDate() - 1)).getTime()) }, { propertyName: 'createdate', operator: 'LT', value: String(new Date(Date.UTC(new Date().getUTCFullYear(), new Date().getUTCMonth(), new Date().getUTCDate())).getTime()) }] }], properties: ['name', 'domain', 'linkedin_company_page', 'numberofemployees'], limit: 200, ...($json.after ? { after: $json.after } : {}) }) }}",
        "options": {}
      },
      "credentials": {
        "hubspotAppToken": {
          "id": "5ww8XNGf4HTQu4UI",
          "name": "hubspot"
        }
      }
    },
    {
      "id": "emp2-accumulate",
      "name": "Accumulate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const apiResponse = $json;\nconst passStateData = $('Pass State').item.json;\n\nconst prevCompanies = passStateData.allCompanies || [];\nconst newCompanies = apiResponse.results || [];\nconst cursor = apiResponse.paging?.next?.after || null;\n\nreturn {\n  json: {\n    after: cursor,\n    allCompanies: [...prevCompanies, ...newCompanies]\n  }\n};"
      }
    },
    {
      "id": "emp2-if-more",
      "name": "IF Has More Pages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -100,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-more-check",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.after || '' }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "emp2-split",
      "name": "Split All Companies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "jsCode": "const allCompanies = $input.first().json.allCompanies || [];\nreturn allCompanies.map(company => ({\n  json: {\n    id: String(company.id),\n    properties: company.properties || {}\n  }\n}));"
      }
    },
    {
      "id": "emp2-prepare",
      "name": "Prepare Company Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        300
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "companyId",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "id": "a2",
              "name": "companyName",
              "type": "string",
              "value": "={{ ($json.properties || {}).name || '' }}"
            },
            {
              "id": "a3",
              "name": "domain",
              "type": "string",
              "value": "={{ ($json.properties || {}).domain || '' }}"
            },
            {
              "id": "a4",
              "name": "linkedinUrl",
              "type": "string",
              "value": "={{ ($json.properties || {}).linkedin_company_page || '' }}"
            },
            {
              "id": "a5",
              "name": "existingEmployeeCount",
              "type": "number",
              "value": "={{ parseInt(($json.properties || {}).numberofemployees) || 0 }}"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      }
    },
    {
      "id": "emp2-prep-classify",
      "name": "Prepare Gemini Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst companies = items.map((item, index) => ({\n  index,\n  name: item.json.companyName,\n  domain: item.json.domain\n}));\n\nconst prompt = 'You are an expert at identifying corporate subsidiaries, branches, and regional offices.\\n\\n'\n  + 'For each company below, determine if it is:\\n'\n  + '- An INDEPENDENT company (standalone business)\\n'\n  + '- A SUBSIDIARY/BRANCH/REGIONAL OFFICE of a larger parent company\\n\\n'\n  + 'Indicators of subsidiaries/branches:\\n'\n  + '- Country or city names in the company name (e.g., \"KPMG Spain\", \"Deloitte UK\", \"Google Germany\")\\n'\n  + '- Regional indicators (e.g., \"EMEA\", \"Asia Pacific\", \"Latin America\")\\n'\n  + '- \"Branch\", \"Office\", \"Division\", \"Chapter\" in the name\\n'\n  + '- Well-known subsidiary relationships (e.g., Instagram -> Meta, YouTube -> Alphabet)\\n\\n'\n  + 'COMPANIES TO CLASSIFY:\\n'\n  + companies.map(c => '[' + c.index + '] \"' + c.name + '\" (domain: ' + (c.domain || 'none') + ')').join('\\n')\n  + '\\n\\nReturn ONLY a valid JSON array (no markdown, no explanation):\\n'\n  + '[{\"index\": 0, \"isSubsidiary\": false, \"parentCompany\": null, \"parentDomain\": null}]\\n\\n'\n  + 'Rules:\\n'\n  + '- For independent companies: isSubsidiary=false, parentCompany=null, parentDomain=null\\n'\n  + '- For subsidiaries: isSubsidiary=true, parentCompany=parent name, parentDomain=parent primary domain (e.g., \"kpmg.com\" not \"kpmg.es\")\\n'\n  + '- When unsure, default to independent (isSubsidiary=false)';\n\nconst companyData = items.map(item => item.json);\n\nreturn [{\n  json: {\n    prompt,\n    companyData: JSON.stringify(companyData),\n    companyCount: companies.length\n  }\n}];"
      }
    },
    {
      "id": "emp2-gemini-classify",
      "name": "Gemini Classify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }], generationConfig: { temperature: 0.2 } }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "QnUjlFnc4gypgplL",
          "name": "Gemini"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "id": "emp2-parse-classify",
      "name": "Parse Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        300
      ],
      "parameters": {
        "jsCode": "const geminiResponse = $input.first().json;\nconst prepData = $('Prepare Gemini Batch').first().json;\nconst companyData = JSON.parse(prepData.companyData);\n\nlet classifications = [];\ntry {\n  const text = geminiResponse.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  const cleaned = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  classifications = JSON.parse(cleaned);\n} catch (e) {\n  classifications = companyData.map((_, i) => ({\n    index: i,\n    isSubsidiary: false,\n    parentCompany: null,\n    parentDomain: null\n  }));\n}\n\nreturn companyData.map((company, index) => {\n  const classification = classifications.find(c => c.index === index) || {\n    isSubsidiary: false,\n    parentCompany: null,\n    parentDomain: null\n  };\n\n  const enrichmentDomain = classification.isSubsidiary && classification.parentDomain\n    ? classification.parentDomain\n    : company.domain;\n\n  return {\n    json: {\n      companyId: company.companyId,\n      companyName: company.companyName,\n      domain: company.domain,\n      linkedinUrl: company.linkedinUrl,\n      existingEmployeeCount: company.existingEmployeeCount,\n      isSubsidiary: classification.isSubsidiary || false,\n      parentCompany: classification.parentCompany || null,\n      parentDomain: classification.parentDomain || null,\n      enrichmentDomain: enrichmentDomain\n    }\n  };\n});"
      }
    },
    {
      "id": "emp2-route",
      "name": "Check Needs Enrichment",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1700,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "number",
                "operation": "lte"
              },
              "leftValue": "={{ $json.existingEmployeeCount }}",
              "rightValue": 0
            },
            {
              "id": "c2",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.isSubsidiary }}"
            }
          ],
          "combinator": "or"
        },
        "options": {}
      }
    },
    {
      "id": "emp2-skip",
      "name": "Skip Independent",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2000,
        600
      ],
      "parameters": {}
    },
    {
      "id": "emp2-build-batch",
      "name": "Build Batch Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst companies = [];\nconst allCompanyData = [];\n\nfor (const item of items) {\n  const d = item.json;\n  allCompanyData.push(d);\n\n  const entry = {};\n  if (d.enrichmentDomain) entry.domain = d.enrichmentDomain;\n  if (d.linkedinUrl && !d.isSubsidiary) entry.linkedin_url = d.linkedinUrl;\n  if (d.isSubsidiary && d.enrichmentDomain) {\n    entry.domain = d.enrichmentDomain;\n  }\n\n  if (Object.keys(entry).length > 0) {\n    companies.push(entry);\n  }\n}\n\nreturn [{\n  json: {\n    batchPayload: { companies },\n    allCompanyData: JSON.stringify(allCompanyData),\n    totalCompanies: allCompanyData.length,\n    batchSize: companies.length\n  }\n}];"
      }
    },
    {
      "id": "emp2-amp-submit",
      "name": "Submit Batch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2300,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.amplemarket.com/companies/enrichment-requests",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.batchPayload) }}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "Jx7A2XtklZuWBopq",
          "name": "amplemarket"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "emp2-init-poll",
      "name": "Init Poll State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const submitResponse = $json;\nconst batchData = $('Build Batch Request').first().json;\n\nreturn {\n  json: {\n    requestId: submitResponse.id || submitResponse.request_id || submitResponse.data?.id || '',\n    pollCount: 0,\n    maxPolls: 20,\n    allCompanyData: batchData.allCompanyData,\n    totalCompanies: batchData.totalCompanies\n  }\n};"
      }
    },
    {
      "id": "emp2-wait",
      "name": "Wait 15s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2900,
        300
      ],
      "parameters": {
        "resume": "timeInterval",
        "amount": 15,
        "unit": "seconds"
      }
    },
    {
      "id": "emp2-amp-poll",
      "name": "Poll Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3200,
        300
      ],
      "parameters": {
        "url": "={{ 'https://api.amplemarket.com/companies/enrichment-requests/' + $json.requestId + '?page[size]=200' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "Jx7A2XtklZuWBopq",
          "name": "amplemarket"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "emp2-merge-poll",
      "name": "Merge Poll State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3500,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const apiResponse = $json;\nconst state = $('Wait 15s').item.json;\n\nconst isCompleted = apiResponse.status === 'completed' || apiResponse.data?.status === 'completed';\nconst pollCount = (state.pollCount || 0) + 1;\nconst maxReached = pollCount >= (state.maxPolls || 20);\n\nreturn {\n  json: {\n    pollResponse: apiResponse,\n    requestId: state.requestId,\n    pollCount,\n    maxPolls: state.maxPolls || 20,\n    allCompanyData: state.allCompanyData,\n    totalCompanies: state.totalCompanies,\n    isComplete: isCompleted || maxReached\n  }\n};"
      }
    },
    {
      "id": "emp2-check-poll",
      "name": "Check Complete",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3800,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "poll-complete",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.isComplete }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "emp2-poll-inc",
      "name": "Increment Counter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3800,
        600
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    requestId: $json.requestId,\n    pollCount: $json.pollCount,\n    maxPolls: $json.maxPolls,\n    allCompanyData: $json.allCompanyData,\n    totalCompanies: $json.totalCompanies\n  }\n};"
      }
    },
    {
      "id": "emp2-parse-batch",
      "name": "Parse Batch Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4100,
        300
      ],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst pollResponse = input.pollResponse || input;\nconst allCompanyData = JSON.parse(input.allCompanyData || '[]');\nconst results = pollResponse.results || pollResponse.data?.results || pollResponse.companies || [];\n\nconst resultsByDomain = {};\nconst resultsByLinkedin = {};\nfor (const r of results) {\n  if (r.domain) resultsByDomain[r.domain.toLowerCase()] = r;\n  if (r.linkedin_url) resultsByLinkedin[r.linkedin_url.toLowerCase()] = r;\n}\n\nreturn allCompanyData.map(company => {\n  let match = null;\n  if (company.enrichmentDomain) {\n    match = resultsByDomain[company.enrichmentDomain.toLowerCase()];\n  }\n  if (!match && company.linkedinUrl && !company.isSubsidiary) {\n    match = resultsByLinkedin[company.linkedinUrl.toLowerCase()];\n  }\n\n  const employeeCount = match\n    ? (match.estimated_number_of_employees || match.employee_count || match.employees || match.headcount || match.number_of_employees || 0)\n    : 0;\n\n  return {\n    json: {\n      companyId: company.companyId,\n      companyName: company.companyName,\n      domain: company.domain,\n      linkedinUrl: company.linkedinUrl,\n      enrichmentDomain: company.enrichmentDomain,\n      isSubsidiary: company.isSubsidiary,\n      parentCompany: company.parentCompany,\n      employeeCount: parseInt(employeeCount) || 0\n    }\n  };\n});"
      }
    },
    {
      "id": "emp2-check-resolved",
      "name": "Check Resolved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4400,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "resolved-check",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.employeeCount }}",
              "rightValue": 0
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "emp2-prep-source",
      "name": "Prepare Source",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4700,
        200
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $json;\nlet enrichmentSource = 'Amplemarket';\nif (d.isSubsidiary && d.parentCompany) {\n  enrichmentSource = 'Amplemarket (parent: ' + d.parentCompany + ')';\n}\n\nreturn {\n  json: {\n    companyId: d.companyId,\n    companyName: d.companyName,\n    domain: d.domain,\n    isSubsidiary: d.isSubsidiary,\n    parentCompany: d.parentCompany,\n    employeeCount: d.employeeCount,\n    enrichmentSource\n  }\n};"
      }
    },
    {
      "id": "emp2-check-domain",
      "name": "Check Has Domain",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4700,
        500
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "domain-check",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.domain }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "emp2-jina",
      "name": "Jina Scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5000,
        400
      ],
      "parameters": {
        "url": "={{ 'https://r.jina.ai/https://' + $json.domain }}",
        "options": {
          "timeout": 30000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "emp2-prep-estimate",
      "name": "Prep Estimate Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5300,
        400
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const jinaResponse = $json;\nconst rawContent = jinaResponse.data || jinaResponse.body || jinaResponse.content || '';\nconst companyData = $('Check Has Domain').item.json;\n\nconst content = rawContent\n  .replace(/!\\[.*?\\]\\(.*?\\)/g, '')\n  .replace(/\\[.*?\\]\\(https?:\\/\\/static\\.wixstatic[^\\)]*\\)/g, '')\n  .replace(/\\[.*?cookiebot.*?\\]\\(.*?\\)/gi, '')\n  .replace(/this website uses cookies[\\s\\S]*?(?=\\n#{1,3}\\s|\\n\\n[A-Z]|$)/gi, '')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim()\n  .substring(0, 3000);\n\nconst hasContent = content.length > 50;\n\nconst prompt = hasContent\n  ? 'You are analyzing a company website to estimate their employee count.\\n\\n'\n    + 'Company: ' + companyData.companyName + '\\n'\n    + 'Domain: ' + companyData.domain + '\\n\\n'\n    + 'Website Content:\\n' + content + '\\n\\n'\n    + 'Estimate the number of employees. Consider:\\n'\n    + '- Team pages, office locations, about sections\\n'\n    + '- Industry norms and company size indicators\\n'\n    + '- Revenue/client indicators if mentioned\\n'\n    + '- Job listings or hiring pages\\n\\n'\n    + 'Return ONLY valid JSON (no markdown):\\n'\n    + '{\"employeeCount\": <number>, \"confidence\": \"high\"|\"medium\"|\"low\"}\\n\\n'\n    + 'If you cannot estimate, return: {\"employeeCount\": 5, \"confidence\": \"low\"}'\n  : '';\n\nreturn {\n  json: {\n    companyId: companyData.companyId,\n    companyName: companyData.companyName,\n    domain: companyData.domain,\n    isSubsidiary: companyData.isSubsidiary || false,\n    parentCompany: companyData.parentCompany || null,\n    prompt,\n    hasContent\n  }\n};"
      }
    },
    {
      "id": "emp2-check-content",
      "name": "Check Has Content",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5600,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "content-check",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.hasContent }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "emp2-gemini-estimate",
      "name": "Gemini Estimate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5900,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }], generationConfig: { temperature: 0.3 } }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "QnUjlFnc4gypgplL",
          "name": "Gemini"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "emp2-parse-estimate",
      "name": "Parse Estimate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6200,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const response = $json;\nconst prepData = $('Prep Estimate Prompt').item.json;\n\nlet employeeCount = 5;\ntry {\n  const text = response.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  const cleaned = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const result = JSON.parse(cleaned);\n  employeeCount = parseInt(result.employeeCount) || 5;\n} catch (e) {\n  employeeCount = 5;\n}\n\nreturn {\n  json: {\n    companyId: prepData.companyId,\n    companyName: prepData.companyName,\n    domain: prepData.domain,\n    isSubsidiary: prepData.isSubsidiary,\n    parentCompany: prepData.parentCompany,\n    employeeCount,\n    enrichmentSource: 'Estimated'\n  }\n};"
      }
    },
    {
      "id": "emp2-default",
      "name": "Prepare Default",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5600,
        700
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let companyId, companyName, domain, isSubsidiary, parentCompany;\n\ntry {\n  const cd = $('Check Has Domain').item.json;\n  companyId = cd.companyId;\n  companyName = cd.companyName;\n  domain = cd.domain;\n  isSubsidiary = cd.isSubsidiary;\n  parentCompany = cd.parentCompany;\n} catch(e) {\n  companyId = $json.companyId;\n  companyName = $json.companyName;\n  domain = $json.domain;\n  isSubsidiary = $json.isSubsidiary;\n  parentCompany = $json.parentCompany;\n}\n\nreturn {\n  json: {\n    companyId: companyId || '',\n    companyName: companyName || '',\n    domain: domain || '',\n    isSubsidiary: isSubsidiary || false,\n    parentCompany: parentCompany || null,\n    employeeCount: 5,\n    enrichmentSource: 'Estimated'\n  }\n};"
      }
    },
    {
      "id": "emp2-preserve-pre",
      "name": "Preserve Pre-Update",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6500,
        400
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "companyId",
              "type": "string",
              "value": "={{ $json.companyId }}"
            },
            {
              "id": "f2",
              "name": "companyName",
              "type": "string",
              "value": "={{ $json.companyName }}"
            },
            {
              "id": "f3",
              "name": "domain",
              "type": "string",
              "value": "={{ $json.domain || '' }}"
            },
            {
              "id": "f4",
              "name": "isSubsidiary",
              "type": "boolean",
              "value": "={{ $json.isSubsidiary || false }}"
            },
            {
              "id": "f5",
              "name": "parentCompany",
              "type": "string",
              "value": "={{ $json.parentCompany || '' }}"
            },
            {
              "id": "f6",
              "name": "employeeCount",
              "type": "number",
              "value": "={{ $json.employeeCount }}"
            },
            {
              "id": "f7",
              "name": "enrichmentSource",
              "type": "string",
              "value": "={{ $json.enrichmentSource }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "emp2-update-hs",
      "name": "Update HubSpot",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        6800,
        400
      ],
      "parameters": {
        "authentication": "appToken",
        "resource": "company",
        "operation": "update",
        "companyId": {
          "mode": "id",
          "value": "={{ $json.companyId }}"
        },
        "updateFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "numberofemployees",
                "value": "={{ $json.employeeCount }}"
              },
              {
                "property": "number-employees-enrichment-source",
                "value": "={{ $json.enrichmentSource }}"
              },
              {
                "property": "is_subsidiary",
                "value": "={{ $json.isSubsidiary ? 'true' : 'false' }}"
              },
              {
                "property": "parent_company_name",
                "value": "={{ $json.parentCompany || '' }}"
              }
            ]
          }
        }
      },
      "credentials": {
        "hubspotAppToken": {
          "id": "5ww8XNGf4HTQu4UI",
          "name": "hubspot"
        }
      }
    },
    {
      "id": "emp2-preserve-result",
      "name": "Preserve Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7100,
        400
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const r = $('Preserve Pre-Update').item.json;\nreturn {\n  json: {\n    companyId: r.companyId,\n    companyName: r.companyName,\n    domain: r.domain,\n    isSubsidiary: r.isSubsidiary,\n    parentCompany: r.parentCompany,\n    employeeCount: r.employeeCount,\n    enrichmentSource: r.enrichmentSource\n  }\n};"
      }
    },
    {
      "id": "emp2-aggregate",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        7400,
        400
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      }
    },
    {
      "id": "emp2-format",
      "name": "Format Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7700,
        400
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const items = $json.data || [];\n\nif (items.length === 0) {\n  return { json: { message: 'No companies processed for employee enrichment today.' } };\n}\n\nconst today = new Date().toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' });\nlet amplemarket = 0;\nlet parentEnriched = 0;\nlet estimated = 0;\nconst details = [];\n\nfor (const d of items) {\n  if (d.enrichmentSource === 'Estimated') {\n    estimated++;\n    details.push('\\ud83d\\udd0d ' + d.companyName + ' \\u2192 ' + d.employeeCount + ' employees (Estimated)');\n  } else if (d.enrichmentSource && d.enrichmentSource.startsWith('Amplemarket (parent:')) {\n    parentEnriched++;\n    details.push('\\ud83c\\udfe2 ' + d.companyName + ' \\u2192 ' + d.employeeCount + ' employees (' + d.enrichmentSource + ')');\n  } else {\n    amplemarket++;\n    details.push('\\u2705 ' + d.companyName + ' \\u2192 ' + d.employeeCount + ' employees (Amplemarket)');\n  }\n}\n\nconst total = items.length;\nconst message = '*Employee Count Enrichment v2.0 \\u2014 ' + today + '*\\n'\n  + 'Total processed: ' + total + '\\n'\n  + '\\u2705 Amplemarket: ' + amplemarket + '\\n'\n  + '\\ud83c\\udfe2 Parent enriched: ' + parentEnriched + '\\n'\n  + '\\ud83d\\udd0d Estimated: ' + estimated + '\\n\\n'\n  + '*Details:*\\n'\n  + details.slice(0, 50).join('\\n');\n\nreturn { json: { message } };"
      }
    },
    {
      "id": "emp2-slack",
      "name": "Send Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        8000,
        400
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AG86U9927",
          "mode": "id"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "lYs0WHzWk4c7z9Kk",
          "name": "Slack"
        }
      }
    },
    {
      "id": "emp2-sticky-1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1650,
        100
      ],
      "parameters": {
        "content": "## Phase 1: Paginated HubSpot Fetch\nFetches ALL companies created yesterday using cursor-based pagination (200/page).\nSame pattern as industry-categorization workflow.",
        "width": 1700,
        "height": 120
      }
    },
    {
      "id": "emp2-sticky-2",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        150,
        100
      ],
      "parameters": {
        "content": "## Phase 2: Gemini Classification + 3-Way Route\nBatch classify all companies as independent vs subsidiary.\nRoute: (A) no count + (B) subsidiary -> enrich | (C) independent with count -> skip",
        "width": 1950,
        "height": 120
      }
    },
    {
      "id": "emp2-sticky-3",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1950,
        100
      ],
      "parameters": {
        "content": "## Phase 3: Batch Amplemarket + Poll Loop\nSingle batch POST + poll every 15s until completed.\nFor subsidiaries, uses parent domain instead of branch domain.",
        "width": 2100,
        "height": 120
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Initialize State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize State": {
      "main": [
        [
          {
            "node": "Pass State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass State": {
      "main": [
        [
          {
            "node": "Fetch Companies Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Companies Page": {
      "main": [
        [
          {
            "node": "Accumulate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accumulate Results": {
      "main": [
        [
          {
            "node": "IF Has More Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has More Pages": {
      "main": [
        [
          {
            "node": "Pass State",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split All Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split All Companies": {
      "main": [
        [
          {
            "node": "Prepare Company Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Company Data": {
      "main": [
        [
          {
            "node": "Prepare Gemini Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Gemini Batch": {
      "main": [
        [
          {
            "node": "Gemini Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Classify": {
      "main": [
        [
          {
            "node": "Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classification": {
      "main": [
        [
          {
            "node": "Check Needs Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Needs Enrichment": {
      "main": [
        [
          {
            "node": "Build Batch Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Independent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Batch Request": {
      "main": [
        [
          {
            "node": "Submit Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Batch": {
      "main": [
        [
          {
            "node": "Init Poll State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Poll State": {
      "main": [
        [
          {
            "node": "Wait 15s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15s": {
      "main": [
        [
          {
            "node": "Poll Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Status": {
      "main": [
        [
          {
            "node": "Merge Poll State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Poll State": {
      "main": [
        [
          {
            "node": "Check Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Complete": {
      "main": [
        [
          {
            "node": "Parse Batch Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Increment Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Counter": {
      "main": [
        [
          {
            "node": "Wait 15s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Batch Results": {
      "main": [
        [
          {
            "node": "Check Resolved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Resolved": {
      "main": [
        [
          {
            "node": "Prepare Source",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Has Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Source": {
      "main": [
        [
          {
            "node": "Preserve Pre-Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Has Domain": {
      "main": [
        [
          {
            "node": "Jina Scrape",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Default",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina Scrape": {
      "main": [
        [
          {
            "node": "Prep Estimate Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Estimate Prompt": {
      "main": [
        [
          {
            "node": "Check Has Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Has Content": {
      "main": [
        [
          {
            "node": "Gemini Estimate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Default",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Estimate": {
      "main": [
        [
          {
            "node": "Parse Estimate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Estimate": {
      "main": [
        [
          {
            "node": "Preserve Pre-Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Default": {
      "main": [
        [
          {
            "node": "Preserve Pre-Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve Pre-Update": {
      "main": [
        [
          {
            "node": "Update HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update HubSpot": {
      "main": [
        [
          {
            "node": "Preserve Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve Result": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Format Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Summary": {
      "main": [
        [
          {
            "node": "Send Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/London",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "errorWorkflow": "TA6Iq4wMW0KYsCiH",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "active": false,
  "id": "TxZMblqjvC86tHAu",
  "tags": []
}