workflows/hubspot-employee-enrichment/workflow-v3.0.json
{
  "updatedAt": "2026-03-05T11:15:00.000Z",
  "createdAt": "2026-02-26T11:54:45.216Z",
  "id": "TxZMblqjvC86tHAu",
  "name": "HubSpot Employee Count Enrichment v3.0",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "1 2 * * *"
            }
          ]
        }
      },
      "id": "emp2-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2864,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    after: null,\n    allCompanies: []\n  }\n};"
      },
      "id": "emp2-init",
      "name": "Initialize State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2560,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    after: $json.after || null,\n    allCompanies: $json.allCompanies || []\n  }\n};"
      },
      "id": "emp2-pass-state",
      "name": "Pass State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2272,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/companies/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'createdate', operator: 'GTE', value: String(new Date(Date.UTC(new Date().getUTCFullYear(), new Date().getUTCMonth(), new Date().getUTCDate() - 1)).getTime()) }, { propertyName: 'createdate', operator: 'LT', value: String(new Date(Date.UTC(new Date().getUTCFullYear(), new Date().getUTCMonth(), new Date().getUTCDate())).getTime()) }] }], properties: ['name', 'domain', 'linkedin_company_page', 'numberofemployees'], limit: 200, ...($json.after ? { after: $json.after } : {}) }) }}",
        "options": {}
      },
      "id": "emp2-fetch",
      "name": "Fetch Companies Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1968,
        400
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "5ww8XNGf4HTQu4UI",
          "name": "hubspot"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const apiResponse = $json;\nconst passStateData = $('Pass State').item.json;\n\nconst prevCompanies = passStateData.allCompanies || [];\nconst newCompanies = apiResponse.results || [];\nconst cursor = apiResponse.paging?.next?.after || null;\n\nreturn {\n  json: {\n    after: cursor,\n    allCompanies: [...prevCompanies, ...newCompanies]\n  }\n};"
      },
      "id": "emp2-accumulate",
      "name": "Accumulate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1664,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-more-check",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.after || '' }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "emp2-if-more",
      "name": "IF Has More Pages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1360,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const allCompanies = $input.first().json.allCompanies || [];\nreturn allCompanies.map(company => ({\n  json: {\n    id: String(company.id),\n    properties: company.properties || {}\n  }\n}));"
      },
      "id": "emp2-split",
      "name": "Split All Companies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "companyId",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "id": "a2",
              "name": "companyName",
              "type": "string",
              "value": "={{ ($json.properties || {}).name || '' }}"
            },
            {
              "id": "a3",
              "name": "domain",
              "type": "string",
              "value": "={{ ($json.properties || {}).domain || '' }}"
            },
            {
              "id": "a4",
              "name": "linkedinUrl",
              "type": "string",
              "value": "={{ ($json.properties || {}).linkedin_company_page || '' }}"
            },
            {
              "id": "a5",
              "name": "existingEmployeeCount",
              "type": "number",
              "value": "={{ parseInt(($json.properties || {}).numberofemployees) || 0 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "emp2-prepare",
      "name": "Prepare Company Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -752,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst companies = items.map((item, index) => ({\n  index,\n  name: item.json.companyName,\n  domain: item.json.domain,\n}));\n\nconst prompt = 'You are an expert at identifying corporate subsidiaries and branches.\\n\\n'\n  + 'For each company below, determine if it is:\\n'\n  + '- INDEPENDENT (standalone business)\\n'\n  + '- SUBSIDIARY/BRANCH of a larger parent company\\n\\n'\n  + 'ONLY classify as SUBSIDIARY when you have UNAMBIGUOUS evidence from one of these categories:\\n\\n'\n  + '1. FORTUNE GLOBAL 500 / BIG 4 with explicit geography:\\n'\n  + '   - \"KPMG Spain\", \"Deloitte Netherlands\", \"PwC Austria\" -> subsidiary of the global firm\\n'\n  + '   - But \"KPMG\" alone (no geography) -> INDEPENDENT (could be the parent itself)\\n\\n'\n  + '2. EXPLICIT WORDS in the name: \"Branch\", \"Office\", \"Division\", \"Filiale\", \"Niederlassung\", \"Sucursal\"\\n\\n'\n  + '3. FAMOUS ACQUISITIONS you are 100% certain about:\\n'\n  + '   - Instagram -> Meta, YouTube -> Alphabet, LinkedIn -> Microsoft, WhatsApp -> Meta\\n'\n  + '   - B&R -> ABB, Numab -> Johnson & Johnson\\n'\n  + '   - Do NOT guess acquisitions. If you are not 100% sure, classify as INDEPENDENT.\\n\\n'\n  + '4. SUBDOMAINS of a known parent: e.g., deco.cscec.com -> cscec.com\\n\\n'\n  + '5. DUPLICATE ENTRIES: Two entries clearly being the same company with different TLDs (e.g., preh.com and preh.de)\\n\\n'\n  + 'ALWAYS INDEPENDENT \\u2014 never classify these as subsidiaries:\\n'\n  + '- Government agencies, ministries, public authorities\\n'\n  + '- Universities, university hospitals, research institutes\\n'\n  + '- Non-profits, associations, foundations (e.V., Stiftung, Verband, Kuratorium)\\n'\n  + '- Airlines (e.g., Ita Airways, Vueling, Eurowings)\\n'\n  + '- Companies with geography in their BRAND NAME (e.g., Berlin Brands Group, Heidelberg Engineering, Swiss Life, Ita Airways)\\n'\n  + '- Companies with regional descriptors (Nordic, European, EMEA, Deutschland)\\n'\n  + '- Companies with country-code TLDs (.de, .es, .uk, .ch, .at) \\u2014 this is NOT evidence of being a subsidiary\\n'\n  + '- Consumer email/cloud domains (icloud.com, me.com, gmail.com, outlook.com) \\u2014 these are NOT company domains\\n\\n'\n  + 'WHEN IN DOUBT -> INDEPENDENT. A wrong \"independent\" label is harmless. A wrong \"subsidiary\" label causes incorrect data.\\n\\n'\n  + 'COMPANIES TO CLASSIFY:\\n'\n  + companies.map(c => {\n    let line = '[' + c.index + '] \"' + c.name + '\" (domain: ' + (c.domain || 'none') + ')';\n    return line;\n  }).join('\\n')\n  + '\\n\\nReturn ONLY a valid JSON array (no markdown, no explanation):\\n'\n  + '[{\"index\": 0, \"isSubsidiary\": false, \"parentCompany\": null, \"parentDomain\": null}]\\n\\n'\n  + 'Rules:\\n'\n  + '- For independent companies: isSubsidiary=false, parentCompany=null, parentDomain=null\\n'\n  + '- For subsidiaries: isSubsidiary=true, parentCompany=parent name, parentDomain=parent primary domain (e.g., \"kpmg.com\" not \"kpmg.es\")\\n'\n  + '- When unsure, ALWAYS default to independent (isSubsidiary=false)';\n\nconst companyData = items.map(item => item.json);\n\nreturn [{\n  json: {\n    prompt,\n    companyData: JSON.stringify(companyData),\n    companyCount: companies.length\n  }\n}];"
      },
      "id": "emp2-prep-classify",
      "name": "Prepare Gemini Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-pro:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }], generationConfig: { temperature: 0.2 } }) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "emp2-gemini-classify",
      "name": "Gemini Classify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        400
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "credentials": {
        "googlePalmApi": {
          "id": "QnUjlFnc4gypgplL",
          "name": "Gemini"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const geminiResponse = $input.first().json;\nconst prepData = $('Prepare Gemini Batch').first().json;\nconst companyData = JSON.parse(prepData.companyData);\n\nlet classifications = [];\ntry {\n  const text = geminiResponse.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  const cleaned = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  classifications = JSON.parse(cleaned);\n} catch (e) {\n  classifications = companyData.map((_, i) => ({\n    index: i,\n    isSubsidiary: false,\n    parentCompany: null,\n    parentDomain: null\n  }));\n}\n\nreturn companyData.map((company, index) => {\n  const classification = classifications.find(c => c.index === index) || {\n    isSubsidiary: false,\n    parentCompany: null,\n    parentDomain: null\n  };\n\n  const enrichmentDomain = classification.isSubsidiary && classification.parentDomain\n    ? classification.parentDomain\n    : company.domain;\n\n  return {\n    json: {\n      companyId: company.companyId,\n      companyName: company.companyName,\n      domain: company.domain,\n      linkedinUrl: company.linkedinUrl,\n      existingEmployeeCount: company.existingEmployeeCount,\n      isSubsidiary: classification.isSubsidiary || false,\n      parentCompany: classification.parentCompany || null,\n      parentDomain: classification.parentDomain || null,\n      enrichmentDomain: enrichmentDomain\n    }\n  };\n});"
      },
      "id": "emp2-parse-classify",
      "name": "Parse Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "number",
                "operation": "lte"
              },
              "leftValue": "={{ $json.existingEmployeeCount }}",
              "rightValue": 0
            },
            {
              "id": "c2",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.isSubsidiary }}"
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "emp2-route",
      "name": "Check Needs Enrichment",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1536,
        400
      ]
    },
    {
      "parameters": {},
      "id": "emp2-skip",
      "name": "Skip Independent",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2032,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst companies = [];\nconst allCompanyData = [];\n\nfor (const item of items) {\n  const d = item.json;\n  allCompanyData.push(d);\n\n  const entry = {};\n  if (d.enrichmentDomain) entry.domain = d.enrichmentDomain;\n  if (d.linkedinUrl && !d.isSubsidiary) entry.linkedin_url = d.linkedinUrl;\n  if (d.isSubsidiary && d.enrichmentDomain) {\n    entry.domain = d.enrichmentDomain;\n  }\n\n  if (Object.keys(entry).length > 0) {\n    companies.push(entry);\n  }\n}\n\nreturn [{\n  json: {\n    batchPayload: { companies },\n    allCompanyData: JSON.stringify(allCompanyData),\n    totalCompanies: allCompanyData.length,\n    batchSize: companies.length\n  }\n}];"
      },
      "id": "emp2-build-batch",
      "name": "Build Batch Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.amplemarket.com/companies/enrichment-requests",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.batchPayload) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "emp2-amp-submit",
      "name": "Submit Batch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2352,
        80
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Jx7A2XtklZuWBopq",
          "name": "amplemarket"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const submitResponse = $json;\nconst batchData = $('Build Batch Request').first().json;\n\nreturn {\n  json: {\n    requestId: submitResponse.id || submitResponse.request_id || submitResponse.data?.id || '',\n    pollCount: 0,\n    maxPolls: 20,\n    allCompanyData: batchData.allCompanyData,\n    totalCompanies: batchData.totalCompanies\n  }\n};"
      },
      "id": "emp2-init-poll",
      "name": "Init Poll State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2656,
        80
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "emp2-wait",
      "name": "Wait 15s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2912,
        304
      ],
      "webhookId": "0bacbdd9-e4d6-4a70-bfa1-2502a0489ae0"
    },
    {
      "parameters": {
        "url": "={{ 'https://api.amplemarket.com/companies/enrichment-requests/' + $json.requestId + '?page[size]=200' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "emp2-amp-poll",
      "name": "Poll Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3200,
        304
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Jx7A2XtklZuWBopq",
          "name": "amplemarket"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const apiResponse = $json;\nconst state = $('Wait 15s').item.json;\n\nconst isCompleted = apiResponse.status === 'completed' || apiResponse.data?.status === 'completed';\nconst pollCount = (state.pollCount || 0) + 1;\nconst maxReached = pollCount >= (state.maxPolls || 20);\n\nreturn {\n  json: {\n    pollResponse: apiResponse,\n    requestId: state.requestId,\n    pollCount,\n    maxPolls: state.maxPolls || 20,\n    allCompanyData: state.allCompanyData,\n    totalCompanies: state.totalCompanies,\n    isComplete: isCompleted || maxReached\n  }\n};"
      },
      "id": "emp2-merge-poll",
      "name": "Merge Poll State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3504,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "poll-complete",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.isComplete }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "emp2-check-poll",
      "name": "Check Complete",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3808,
        304
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    requestId: $json.requestId,\n    pollCount: $json.pollCount,\n    maxPolls: $json.maxPolls,\n    allCompanyData: $json.allCompanyData,\n    totalCompanies: $json.totalCompanies\n  }\n};"
      },
      "id": "emp2-poll-inc",
      "name": "Increment Counter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3808,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst pollResponse = input.pollResponse || input;\nconst allCompanyData = JSON.parse(input.allCompanyData || '[]');\nconst results = pollResponse.results || [];\n\nconst resultsByDomain = {};\nconst resultsByLinkedin = {};\nfor (const r of results) {\n  if (r.domain) resultsByDomain[r.domain.toLowerCase()] = r;\n  if (r.linkedin_url) resultsByLinkedin[r.linkedin_url.toLowerCase()] = r;\n}\n\nreturn allCompanyData.map(company => {\n  let match = null;\n  if (company.enrichmentDomain) {\n    match = resultsByDomain[company.enrichmentDomain.toLowerCase()] || null;\n  }\n  if (!match && company.linkedinUrl && !company.isSubsidiary) {\n    match = resultsByLinkedin[company.linkedinUrl.toLowerCase()] || null;\n  }\n\n  let employeeCount = 0;\n  if (match && match.result && typeof match.result === 'object') {\n    employeeCount = match.result.estimated_number_of_employees || 0;\n  } else if (match) {\n    employeeCount = match.estimated_number_of_employees || 0;\n  }\n\n  return {\n    json: {\n      companyId: company.companyId,\n      companyName: company.companyName,\n      domain: company.domain,\n      linkedinUrl: company.linkedinUrl || '',\n      enrichmentDomain: company.enrichmentDomain || '',\n      isSubsidiary: company.isSubsidiary || false,\n      parentCompany: company.parentCompany || '',\n      parentCompanyValue: company.parentCompanyValue || '',\n      employeeCount: parseInt(employeeCount) || 0,\n      matchFound: match !== null,\n      matchDomain: match ? match.domain : 'no match'\n    }\n  };\n});"
      },
      "id": "emp2-parse-batch",
      "name": "Parse Batch Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4112,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "resolved-check",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.employeeCount }}",
              "rightValue": 0
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "emp2-check-resolved",
      "name": "Check Resolved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4400,
        304
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $json;\nlet enrichmentSource = 'Amplemarket';\nif (d.isSubsidiary && d.parentCompany) {\n  enrichmentSource = 'Amplemarket (parent: ' + d.parentCompany + ')';\n}\n\nreturn {\n  json: {\n    companyId: d.companyId,\n    companyName: d.companyName,\n    domain: d.domain,\n    isSubsidiary: d.isSubsidiary,\n    parentCompany: d.parentCompany,\n    parentCompanyValue: d.parentCompanyValue || '',\n    employeeCount: d.employeeCount,\n    enrichmentSource\n  }\n};"
      },
      "id": "emp2-prep-source",
      "name": "Prepare Source",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4704,
        208
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let companyId, companyName, domain, isSubsidiary, parentCompany, parentCompanyValue;\n\ntry {\n  const cd = $('Check Resolved').item.json;\n  companyId = cd.companyId;\n  companyName = cd.companyName;\n  domain = cd.domain;\n  isSubsidiary = cd.isSubsidiary;\n  parentCompany = cd.parentCompany;\n  parentCompanyValue = cd.parentCompanyValue;\n} catch(e) {\n  companyId = $json.companyId;\n  companyName = $json.companyName;\n  domain = $json.domain;\n  isSubsidiary = $json.isSubsidiary;\n  parentCompany = $json.parentCompany;\n  parentCompanyValue = $json.parentCompanyValue;\n}\n\nreturn {\n  json: {\n    companyId: companyId || '',\n    companyName: companyName || '',\n    domain: domain || '',\n    isSubsidiary: isSubsidiary || false,\n    parentCompany: parentCompany || null,\n    parentCompanyValue: parentCompanyValue || '',\n    employeeCount: 5,\n    enrichmentSource: 'Estimated'\n  }\n};"
      },
      "id": "emp2-default",
      "name": "Prepare Default",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5600,
        704
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "companyId",
              "type": "string",
              "value": "={{ $json.companyId }}"
            },
            {
              "id": "f2",
              "name": "companyName",
              "type": "string",
              "value": "={{ $json.companyName }}"
            },
            {
              "id": "f3",
              "name": "domain",
              "type": "string",
              "value": "={{ $json.domain || '' }}"
            },
            {
              "id": "f4",
              "name": "isSubsidiary",
              "type": "boolean",
              "value": "={{ $json.isSubsidiary || false }}"
            },
            {
              "id": "f5",
              "name": "parentCompany",
              "type": "string",
              "value": "={{ $json.parentCompany || '' }}"
            },
            {
              "id": "f6",
              "name": "employeeCount",
              "type": "number",
              "value": "={{ $json.employeeCount }}"
            },
            {
              "id": "f7",
              "name": "enrichmentSource",
              "type": "string",
              "value": "={{ $json.enrichmentSource }}"
            },
            {
              "id": "f8",
              "name": "parentCompanyValue",
              "type": "string",
              "value": "={{ $json.parentCompanyValue || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "emp2-preserve-pre",
      "name": "Preserve Pre-Update",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7040,
        160
      ]
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "company",
        "operation": "update",
        "companyId": {
          "mode": "id",
          "value": "={{ $json.companyId }}"
        },
        "updateFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "numberofemployees",
                "value": "={{ $json.employeeCount }}"
              },
              {
                "property": "number-employees-enrichment-source",
                "value": "={{ $json.enrichmentSource }}"
              },
              {
                "property": "is_subsidiary",
                "value": "={{ $json.isSubsidiary ? 'true' : 'false' }}"
              },
              {
                "property": "parent_company_name",
                "value": "={{ $json.parentCompanyValue || $json.parentCompany || '' }}"
              }
            ]
          }
        }
      },
      "id": "emp2-update-hs",
      "name": "Update HubSpot",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        7328,
        160
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "5ww8XNGf4HTQu4UI",
          "name": "hubspot"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const r = $('Preserve Pre-Update').item.json;\nreturn {\n  json: {\n    companyId: r.companyId,\n    companyName: r.companyName,\n    domain: r.domain,\n    isSubsidiary: r.isSubsidiary,\n    parentCompany: r.parentCompany,\n    parentCompanyValue: r.parentCompanyValue || '',\n    employeeCount: r.employeeCount,\n    enrichmentSource: r.enrichmentSource\n  }\n};"
      },
      "id": "emp2-preserve-result",
      "name": "Preserve Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7632,
        160
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "emp2-aggregate",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        7936,
        160
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const items = $json.data || [];\n\nif (items.length === 0) {\n  return { json: { message: 'No companies processed for employee enrichment today.' } };\n}\n\nconst today = new Date().toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' });\nlet amplemarket = 0;\nlet parentEnriched = 0;\nlet estimated = 0;\nconst details = [];\n\nfor (const d of items) {\n  if (d.enrichmentSource === 'Estimated') {\n    estimated++;\n    details.push('\\u26aa ' + d.companyName + ' \\u2192 ' + d.employeeCount + ' employees (Default)');\n  } else if (d.enrichmentSource && d.enrichmentSource.startsWith('Amplemarket (parent:')) {\n    parentEnriched++;\n    const parentLink = d.parentCompanyValue && d.parentCompanyValue.startsWith('https')\n      ? '<' + d.parentCompanyValue + '|' + d.parentCompany + '>'\n      : (d.parentCompany || 'unknown');\n    details.push('\\ud83c\\udfe2 ' + d.companyName + ' \\u2192 ' + d.employeeCount + ' employees (parent: ' + parentLink + ')');\n  } else {\n    amplemarket++;\n    details.push('\\u2705 ' + d.companyName + ' \\u2192 ' + d.employeeCount + ' employees (Amplemarket)');\n  }\n}\n\nconst total = items.length;\nconst message = '*Employee Count Enrichment v3.0 \\u2014 ' + today + '*\\n'\n  + 'Total processed: ' + total + '\\n'\n  + '\\u2705 Amplemarket: ' + amplemarket + '\\n'\n  + '\\ud83c\\udfe2 Parent enriched: ' + parentEnriched + '\\n'\n  + '\\u26aa Default: ' + estimated + '\\n\\n'\n  + '*Details:*\\n'\n  + details.slice(0, 50).join('\\n');\n\nreturn { json: { message } };"
      },
      "id": "emp2-format",
      "name": "Format Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8240,
        160
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AG86U9927",
          "mode": "id"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {}
      },
      "id": "emp2-slack",
      "name": "Send Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        8528,
        160
      ],
      "webhookId": "aa215038-bfe7-4350-bc6c-4a1efe3f3932",
      "credentials": {
        "slackApi": {
          "id": "lYs0WHzWk4c7z9Kk",
          "name": "Slack"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst parentDomains = new Set();\nconst allCompanyData = [];\n\nfor (const item of items) {\n  const d = item.json;\n  allCompanyData.push(d);\n  if (d.isSubsidiary && d.parentDomain) {\n    parentDomains.add(d.parentDomain);\n  }\n}\n\nconst domains = [...parentDomains];\nlet searchBody;\nif (domains.length > 0) {\n  searchBody = {\n    filterGroups: [{ filters: [{ propertyName: 'domain', operator: 'IN', values: domains }] }],\n    properties: ['name', 'domain'],\n    limit: 100\n  };\n} else {\n  searchBody = {\n    filterGroups: [{ filters: [{ propertyName: 'domain', operator: 'EQ', value: '__no_parent_domains__' }] }],\n    properties: ['name', 'domain'],\n    limit: 1\n  };\n}\n\nreturn [{\n  json: {\n    parentDomains: domains,\n    allCompanyData: JSON.stringify(allCompanyData),\n    hasParents: domains.length > 0,\n    searchBody: JSON.stringify(searchBody)\n  }\n}];"
      },
      "id": "emp2-prep-parent-lookup",
      "name": "Prep Parent Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/companies/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.searchBody }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "emp2-search-parent-hs",
      "name": "Search Parent HubSpot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        400
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "5ww8XNGf4HTQu4UI",
          "name": "hubspot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst prepData = $('Prep Parent Lookup').first().json;\nconst allCompanyData = JSON.parse(prepData.allCompanyData);\n\nconst hsResults = input.results || [];\n\nconst domainToHsUrl = {};\nfor (const r of hsResults) {\n  const domain = (r.properties && r.properties.domain || '').toLowerCase();\n  const companyId = r.id;\n  if (domain && companyId) {\n    domainToHsUrl[domain] = 'https://app-eu1.hubspot.com/contacts/142047914/company/' + companyId;\n  }\n}\n\nreturn allCompanyData.map(company => {\n  let parentCompanyValue = '';\n  if (company.isSubsidiary && company.parentCompany) {\n    if (company.parentDomain && domainToHsUrl[company.parentDomain.toLowerCase()]) {\n      parentCompanyValue = domainToHsUrl[company.parentDomain.toLowerCase()];\n    } else {\n      parentCompanyValue = company.parentCompany;\n    }\n  }\n\n  return {\n    json: {\n      companyId: company.companyId,\n      companyName: company.companyName,\n      domain: company.domain,\n      linkedinUrl: company.linkedinUrl || '',\n      existingEmployeeCount: company.existingEmployeeCount || 0,\n      isSubsidiary: company.isSubsidiary || false,\n      parentCompany: company.parentCompany || null,\n      parentDomain: company.parentDomain || null,\n      enrichmentDomain: company.enrichmentDomain || company.domain,\n      parentCompanyValue\n    }\n  };\n});"
      },
      "id": "emp2-merge-parent-results",
      "name": "Merge Parent Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        400
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Initialize State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize State": {
      "main": [
        [
          {
            "node": "Pass State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass State": {
      "main": [
        [
          {
            "node": "Fetch Companies Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Companies Page": {
      "main": [
        [
          {
            "node": "Accumulate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accumulate Results": {
      "main": [
        [
          {
            "node": "IF Has More Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has More Pages": {
      "main": [
        [
          {
            "node": "Pass State",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split All Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split All Companies": {
      "main": [
        [
          {
            "node": "Prepare Company Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Company Data": {
      "main": [
        [
          {
            "node": "Prepare Gemini Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Gemini Batch": {
      "main": [
        [
          {
            "node": "Gemini Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Classify": {
      "main": [
        [
          {
            "node": "Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Needs Enrichment": {
      "main": [
        [
          {
            "node": "Build Batch Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Independent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Batch Request": {
      "main": [
        [
          {
            "node": "Submit Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Batch": {
      "main": [
        [
          {
            "node": "Init Poll State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Poll State": {
      "main": [
        [
          {
            "node": "Wait 15s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15s": {
      "main": [
        [
          {
            "node": "Poll Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Status": {
      "main": [
        [
          {
            "node": "Merge Poll State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Poll State": {
      "main": [
        [
          {
            "node": "Check Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Complete": {
      "main": [
        [
          {
            "node": "Parse Batch Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Increment Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Counter": {
      "main": [
        [
          {
            "node": "Wait 15s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Batch Results": {
      "main": [
        [
          {
            "node": "Check Resolved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Resolved": {
      "main": [
        [
          {
            "node": "Prepare Source",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Default",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Source": {
      "main": [
        [
          {
            "node": "Preserve Pre-Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Default": {
      "main": [
        [
          {
            "node": "Preserve Pre-Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve Pre-Update": {
      "main": [
        [
          {
            "node": "Update HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update HubSpot": {
      "main": [
        [
          {
            "node": "Preserve Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve Result": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Format Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Summary": {
      "main": [
        [
          {
            "node": "Send Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classification": {
      "main": [
        [
          {
            "node": "Prep Parent Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Parent Lookup": {
      "main": [
        [
          {
            "node": "Search Parent HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Parent HubSpot": {
      "main": [
        [
          {
            "node": "Merge Parent Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Parent Results": {
      "main": [
        [
          {
            "node": "Check Needs Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/London",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "errorWorkflow": "TA6Iq4wMW0KYsCiH",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "15240490-7c38-4aec-af21-8d1e43bc18aa",
  "tags": []
}
