workflows/hubspot-industry-categorization/workflow-v3.3.json
{
  "name": "HubSpot Company Industry Categorization v3.3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "1 0 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1616,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "demo-check",
              "operator": {
                "type": "string",
                "operation": "empty"
              },
              "leftValue": "={{ $json.properties.industry__form____contact_sync || '' }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-demo",
      "name": "Check Demo Form",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        576,
        192
      ]
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "company",
        "operation": "get",
        "companyId": {
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "additionalFields": {}
      },
      "id": "get-details",
      "name": "Get Company Details",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        1008,
        176
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "5ww8XNGf4HTQu4UI",
          "name": "hubspot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field1",
              "name": "companyId",
              "type": "string",
              "value": "={{ $json.companyId || $json.id }}"
            },
            {
              "id": "field2",
              "name": "companyName",
              "type": "string",
              "value": "={{ typeof $json.properties?.name === 'object' ? ($json.properties?.name?.value || '') : ($json.properties?.name || '') }}"
            },
            {
              "id": "field3",
              "name": "domain",
              "type": "string",
              "value": "={{ typeof $json.properties?.domain === 'object' ? ($json.properties?.domain?.value || '') : ($json.properties?.domain || '') }}"
            },
            {
              "id": "field4",
              "name": "description",
              "type": "string",
              "value": "={{ typeof $json.properties?.description === 'object' ? ($json.properties?.description?.value || '') : ($json.properties?.description || '') }}"
            },
            {
              "id": "field5",
              "name": "aboutUs",
              "type": "string",
              "value": "={{ typeof $json.properties?.about_us === 'object' ? ($json.properties?.about_us?.value || '') : ($json.properties?.about_us || '') }}"
            },
            {
              "id": "field6",
              "name": "linkedinUrl",
              "type": "string",
              "value": "={{ typeof $json.properties?.linkedin_company_page === 'object' ? ($json.properties?.linkedin_company_page?.value || '') : ($json.properties?.linkedin_company_page || '') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-data",
      "name": "Prepare Company Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1408,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "desc-check",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ ($json.description || '').length }}",
              "rightValue": 100
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-desc",
      "name": "Check Description Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1936,
        144
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const companyData = $('Prepare Company Data').item.json;\n\nconst aboutUsLine = companyData.aboutUs ? `\\nAbout Us: ${companyData.aboutUs}` : '';\n\nconst prompt = `You are an expert business industry classifier. Classify this company into exactly ONE of these 16 categories:\n\n1. Accounting\n2. Insurance\n3. Legal Services\n4. Technology\n5. Healthcare\n6. Public Sector\n7. Retail and Consumer Goods\n8. Consulting\n9. Construction\n10. HR and Payroll Services\n11. Banking\n12. Energy\n13. Financial Services\n14. Manufacturing\n15. Transportation\n16. Others\n\nCOMPANY DATA (self-reported description \u2014 treat as authoritative):\nName: ${companyData.companyName}\nDomain: ${companyData.domain || 'Not provided'}\nDescription: ${companyData.description || 'Not provided'}${aboutUsLine}\n\nCLASSIFICATION PRIORITY \u2014 apply strictly in this order:\n1. Technology \u2014 company BUILDS software, SaaS, apps, or tech products (regardless of the industry they serve)\n2. Legal Services \u2014 any legal work, compliance, or contract services (never Consulting)\n3. Specific category \u2014 pick the most specific match:\n   - Healthcare: hospitals, clinics, pharma, biotech, medical devices, drug development\n   - HR and Payroll Services: HR consulting, recruiting, staffing, payroll\n   - Accounting: tax, bookkeeping, audit, CFO services\n   - Banking: loans, deposits, payment processing\n   - Financial Services: investment advisory, wealth management\n   - Insurance, Energy, Construction, Manufacturing, Transportation\n4. Retail and Consumer Goods \u2014 company sells consumer-facing products (clothing, food, electronics, home goods); does NOT apply to pharma, medical, or specialized B2B products\n5. Consulting \u2014 generalist advisory firms covering multiple unrelated service types\n6. Public Sector \u2014 ONLY actual government agencies, not contractors\n7. Others \u2014 ONLY when none of the 15 categories fit (agriculture, education, media, non-profits)\n\nKEY DISTINCTIONS:\n- Builds tech for any industry \u2192 Technology\n- Any legal work \u2192 Legal Services, never Consulting\n- Pharma, biotech, medical devices \u2192 Healthcare, not Retail and Consumer Goods\n- Sells consumer products \u2192 Retail and Consumer Goods, beats Manufacturing\n- Government contractor \u2192 their service category, not Public Sector\n- Non-profit \u2192 Others\n\nCRITICAL: Respond with ONLY the category name. No explanation, no punctuation, no extra text.\n\nExamples:\n- \"Biopharmaceutical company developing and commercializing treatments for rare diseases\" \u2192 Healthcare\n- \"Leading design brand creating contemporary handmade rugs, sold worldwide\" \u2192 Retail and Consumer Goods\n- \"We build SaaS software for law firms\" \u2192 Technology\n- \"Law firm specializing in corporate law\" \u2192 Legal Services\n- \"HR consulting and recruiting services\" \u2192 HR and Payroll Services\n- \"Bookkeeping and tax services for small businesses\" \u2192 Accounting\n- \"Multi-service firm: accounting, HR, and legal advisory\" \u2192 Consulting\n- \"Non-profit educational institution\" \u2192 Others\n\nYour response (category name only):`;\n\nreturn {\n  json: {\n    companyId: companyData.companyId,\n    companyName: companyData.companyName,\n    enrichmentSource: 'description',\n    prompt: prompt\n  }\n};\n"
      },
      "id": "prepare-gemini-hs",
      "name": "Prepare Gemini Input - HubSpot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2192,
        16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }], generationConfig: { temperature: 0.3 } }) }}",
        "options": {}
      },
      "id": "gemini-cat-hs",
      "name": "Gemini Categorization - HubSpot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2512,
        -80
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "googlePalmApi": {
          "id": "QnUjlFnc4gypgplL",
          "name": "Gemini"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const response = $json;\nconst geminiText = response?.candidates?.[0]?.content?.parts?.[0]?.text || '';\nlet category = geminiText.trim();\n\n// Map display label to HubSpot internal enum value\nif (category === 'Others') category = 'Unknown';\n\nconst prepData = $('Prepare Gemini Input - HubSpot').item.json;\n\nreturn {\n  companyId: prepData.companyId,\n  companyName: prepData.companyName,\n  enrichmentSource: prepData.enrichmentSource,\n  category: category,\n  needsManualReview: false\n};"
      },
      "id": "parse-response-hs",
      "name": "Parse Gemini Response - HubSpot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3104,
        -96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "linkedin-url-check",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.linkedinUrl }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-url",
      "name": "Check Has LinkedIn URL",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2128,
        336
      ]
    },
    {
      "parameters": {
        "url": "https://api.amplemarket.com/companies/find",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "linkedin_url",
              "value": "={{ $json.linkedinUrl }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "amplemarket-linkedin",
      "name": "Amplemarket LinkedIn API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2448,
        256
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Jx7A2XtklZuWBopq",
          "name": "amplemarket"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "linkedin-data-check",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.name || $json.domain || '' }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-linkedin-success",
      "name": "Check LinkedIn Data Retrieved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2688,
        256
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const companyData = $('Prepare Company Data').item.json;\nconst d = $json;\n\nconst overview = d.overview || 'Not provided';\nconst industry = d.industry || 'Not provided';\nconst keywords = Array.isArray(d.keywords) ? d.keywords.join(', ') : (d.keywords || 'Not provided');\n\nconst prompt = `You are an expert business industry classifier. Classify this company into exactly ONE of these 16 categories:\n\n1. Accounting\n2. Insurance\n3. Legal Services\n4. Technology\n5. Healthcare\n6. Public Sector\n7. Retail and Consumer Goods\n8. Consulting\n9. Construction\n10. HR and Payroll Services\n11. Banking\n12. Energy\n13. Financial Services\n14. Manufacturing\n15. Transportation\n16. Others\n\nCOMPANY DATA (from LinkedIn):\nName: ${companyData.companyName}\nLinkedIn Industry: ${industry}\nKeywords: ${keywords}\n\nOverview:\n${overview}\n\nHOW TO USE THIS DATA:\n- Keywords and LinkedIn Industry are your primary signals \u2014 they reflect actual service areas\n- Overview is often a single marketing line \u2014 use it as supporting context only, not the primary basis for classification\n- LinkedIn's industry taxonomy differs from ours: use the mapping guidance below when needed\n\nLINKEDIN INDUSTRY MAPPING GUIDANCE:\n- \"Information Technology and Services\", \"Software\", \"Internet\" \u2192 Technology (if they build products) or Consulting\n- \"Financial Services\", \"Investment Management\", \"Venture Capital\" \u2192 Financial Services or Banking\n- \"Staffing and Recruiting\", \"Human Resources\" \u2192 HR and Payroll Services\n- \"Accounting\" \u2192 Accounting\n- \"Legal Services\", \"Law Practice\" \u2192 Legal Services\n- \"Real Estate\" \u2192 Consulting (if advisory/services) or Construction (if they build)\n- \"Insurance\" \u2192 Insurance\n- \"Hospital & Health Care\", \"Medical Devices\", \"Pharmaceuticals\", \"Biotechnology\" \u2192 Healthcare\n- \"Government Administration\" \u2192 Public Sector\n- When LinkedIn's industry doesn't map cleanly, rely on Keywords to determine the right category\n\nCLASSIFICATION PRIORITY \u2014 apply strictly in this order:\n1. Technology \u2014 company BUILDS software, SaaS, apps, or tech products (regardless of the industry they serve)\n2. Legal Services \u2014 any legal work, compliance, or contract services (never Consulting)\n3. Specific category \u2014 pick the most specific match:\n   - Healthcare: hospitals, clinics, pharma, biotech, medical devices, drug development\n   - HR and Payroll Services: HR consulting, recruiting, staffing, payroll\n   - Accounting: tax, bookkeeping, audit, CFO services\n   - Banking: loans, deposits, payment processing\n   - Financial Services: investment advisory, wealth management\n   - Insurance, Energy, Construction, Manufacturing, Transportation\n4. Retail and Consumer Goods \u2014 company sells consumer-facing products (clothing, food, electronics, home goods); does NOT apply to pharma, medical, or specialized B2B products\n5. Consulting \u2014 multi-service advisory or professional services firms covering multiple domains\n6. Public Sector \u2014 ONLY actual government agencies, not contractors\n7. Others \u2014 ONLY when none of the 15 categories fit (agriculture, education, media, non-profits)\n\nKEY DISTINCTIONS:\n- Builds tech for any industry \u2192 Technology\n- Any legal work \u2192 Legal Services, never Consulting\n- Pharma, biotech, medical devices \u2192 Healthcare, not Retail and Consumer Goods\n- Real estate advisory or property services \u2192 Consulting\n- Sells consumer products \u2192 Retail and Consumer Goods, beats Manufacturing\n- Government contractor \u2192 their service category, not Public Sector\n- Non-profit \u2192 Others\n\nCRITICAL: Respond with ONLY the category name. No explanation, no punctuation, no extra text.\n\nExamples:\n- \"Commercial real estate services: valuation, asset management, property advisory\" \u2192 Consulting\n- \"Biopharmaceutical company developing and commercializing treatments for rare diseases\" \u2192 Healthcare\n- \"We build SaaS software for law firms\" \u2192 Technology\n- \"Law firm specializing in corporate law\" \u2192 Legal Services\n- \"HR consulting and recruiting services\" \u2192 HR and Payroll Services\n- \"Bookkeeping and tax services for small businesses\" \u2192 Accounting\n- \"Investment advisory and wealth management\" \u2192 Financial Services\n- \"Non-profit educational institution\" \u2192 Others\n\nYour response (category name only):`;\n\nreturn {\n  json: {\n    companyId: companyData.companyId,\n    companyName: companyData.companyName,\n    enrichmentSource: 'linkedin',\n    prompt: prompt\n  }\n};\n"
      },
      "id": "prepare-gemini-linkedin",
      "name": "Prepare Gemini Input - LinkedIn",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2944,
        192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }], generationConfig: { temperature: 0.3 } }) }}",
        "options": {}
      },
      "id": "gemini-cat-linkedin",
      "name": "Gemini Categorization - LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3200,
        192
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "googlePalmApi": {
          "id": "QnUjlFnc4gypgplL",
          "name": "Gemini"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const response = $json;\nconst geminiText = response?.candidates?.[0]?.content?.parts?.[0]?.text || '';\nlet category = geminiText.trim();\n\n// Map display label to HubSpot internal enum value\nif (category === 'Others') category = 'Unknown';\n\nconst prepData = $('Prepare Gemini Input - LinkedIn').item.json;\n\nreturn {\n  companyId: prepData.companyId,\n  companyName: prepData.companyName,\n  enrichmentSource: prepData.enrichmentSource,\n  category: category,\n  needsManualReview: false\n};"
      },
      "id": "parse-response-linkedin",
      "name": "Parse Gemini Response - LinkedIn",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3472,
        192
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://r.jina.ai/https://' + $('Prepare Company Data').item.json.domain }}",
        "options": {}
      },
      "id": "website-scrape",
      "name": "Website Scraping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2992,
        432
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "website-data-check",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.data || '' }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-website-success",
      "name": "Check Website Data Retrieved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3216,
        432
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const companyData = $('Prepare Company Data').item.json;\n\n// Jina returns clean markdown - strip noise before trimming\nconst content = ($json.data || '')\n  .replace(/!\\[.*?\\]\\(.*?\\)/g, '')                              // strip markdown images\n  .replace(/\\[.*?\\]\\(https?:\\/\\/static\\.wixstatic[^\\)]*\\)/g, '') // strip Wix asset links\n  .replace(/\\[.*?cookiebot.*?\\]\\(.*?\\)/gi, '')                   // strip cookiebot links\n  .replace(/this website uses cookies[\\s\\S]*?(?=\\n#{1,3}\\s|\\n\\n[A-Z]|$)/gi, '') // strip cookie consent blocks\n  .replace(/consent selection[\\s\\S]*?(?=\\n#{1,3}\\s|\\n\\n[A-Z]|$)/gi, '')        // strip consent selection blocks\n  .replace(/\\b(cookiebot|cookie consent|cookie policy|gdpr|datenschutz|impressum)\\b.*\\n?/gi, '') // strip individual boilerplate lines\n  .replace(/\\n{3,}/g, '\\n\\n')                                    // collapse excess blank lines\n  .trim()\n  .substring(0, 2000);\n\nconst prompt = `You are an expert business industry classifier. Classify this company into exactly ONE of these 16 categories:\\n\\n1. Accounting\\n2. Insurance\\n3. Legal Services\\n4. Technology\\n5. Healthcare\\n6. Public Sector\\n7. Retail and Consumer Goods\\n8. Consulting\\n9. Construction\\n10. HR and Payroll Services\\n11. Banking\\n12. Energy\\n13. Financial Services\\n14. Manufacturing\\n15. Transportation\\n16. Others\\n\\nCOMPANY DATA (from website scraping):\\nName: ${companyData.companyName}\\nDomain: ${companyData.domain}\\n\\nWebsite Content:\\n${content || 'Not available'}\\n\\nHOW TO USE THIS DATA:\\n- Focus only on content that describes what the company does: services, products, mission, about sections\\n- Ignore completely: cookie consent notices, privacy policies, navigation menus, footer links, legal disclaimers\\n- If the content is dominated by boilerplate with no substantive company description, classify using the company name and domain as your only signals\\n- Company name and domain alone are sufficient to make a reasonable classification when content fails\\n\\nCLASSIFICATION PRIORITY \\u2014 apply strictly in this order:\\n1. Technology \\u2014 company BUILDS software, SaaS, apps, or tech products (regardless of the industry they serve)\\n2. Legal Services \\u2014 any legal work, compliance, or contract services (never Consulting)\\n3. Specific category \\u2014 pick the most specific match:\\n   - Healthcare: hospitals, clinics, pharma, biotech, medical devices, drug development\\n   - HR and Payroll Services: HR consulting, recruiting, staffing, payroll\\n   - Accounting: tax, bookkeeping, audit, CFO services\\n   - Banking: loans, deposits, payment processing\\n   - Financial Services: investment advisory, wealth management\\n   - Insurance, Energy, Construction, Manufacturing, Transportation\\n4. Retail and Consumer Goods \\u2014 company sells consumer-facing products (clothing, food, electronics, home goods); does NOT apply to pharma, medical, or specialized B2B products\\n5. Consulting \\u2014 generalist advisory or professional services firms covering multiple domains\\n6. Public Sector \\u2014 ONLY actual government agencies, not contractors\\n7. Others \\u2014 ONLY when none of the 15 categories fit (agriculture, education, media, non-profits)\\n\\nKEY DISTINCTIONS:\\n- Builds tech for any industry \\u2192 Technology\\n- Any legal work \\u2192 Legal Services, never Consulting\\n- Pharma, biotech, medical devices \\u2192 Healthcare, not Retail and Consumer Goods\\n- Real estate developer (builds properties) \\u2192 Construction\\n- Real estate advisory (manages/advises on properties) \\u2192 Consulting\\n- Sells consumer products \\u2192 Retail and Consumer Goods, beats Manufacturing\\n- Government contractor \\u2192 their service category, not Public Sector\\n- Non-profit \\u2192 Others\\n\\nCRITICAL: Respond with ONLY the category name. No explanation, no punctuation, no extra text.\\n\\nExamples:\\n- \\\"We build SaaS software for law firms\\\" \\u2192 Technology\\n- \\\"Law firm specializing in corporate law\\\" \\u2192 Legal Services\\n- \\\"Biopharmaceutical company developing treatments for rare diseases\\\" \\u2192 Healthcare\\n- \\\"HR consulting and recruiting services\\\" \\u2192 HR and Payroll Services\\n- \\\"Bookkeeping and tax services for small businesses\\\" \\u2192 Accounting\\n- \\\"Multi-service firm: accounting, HR, and legal advisory\\\" \\u2192 Consulting\\n- \\\"Non-profit educational institution\\\" \\u2192 Others\\n\\nYour response (category name only):`;\n\nreturn {\n  json: {\n    companyId: companyData.companyId,\n    companyName: companyData.companyName,\n    enrichmentSource: 'website',\n    prompt: prompt\n  }\n};"
      },
      "id": "prepare-gemini-website",
      "name": "Prepare Gemini Input - Website",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3584,
        432
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }], generationConfig: { temperature: 0.3 } }) }}",
        "options": {}
      },
      "id": "gemini-cat-website",
      "name": "Gemini Categorization - Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3824,
        432
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "googlePalmApi": {
          "id": "QnUjlFnc4gypgplL",
          "name": "Gemini"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const response = $json;\nconst geminiText = response?.candidates?.[0]?.content?.parts?.[0]?.text || '';\nlet category = geminiText.trim();\n\n// Map display label to HubSpot internal enum value\nif (category === 'Others') category = 'Unknown';\n\nconst prepData = $('Prepare Gemini Input - Website').item.json;\n\nreturn {\n  companyId: prepData.companyId,\n  companyName: prepData.companyName,\n  enrichmentSource: prepData.enrichmentSource,\n  category: category,\n  needsManualReview: false\n};"
      },
      "id": "parse-response-website",
      "name": "Parse Gemini Response - Website",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4032,
        432
      ]
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "company",
        "operation": "update",
        "companyId": {
          "mode": "id",
          "value": "={{ $json.companyId }}"
        },
        "updateFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "industry__internal_",
                "value": "={{ $json.category }}"
              },
              {
                "property": "industry_internal_enrichment_source",
                "value": "={{ $json.enrichmentSource }}"
              }
            ]
          }
        }
      },
      "id": "update-hubspot",
      "name": "Update HubSpot",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        5104,
        336
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "5ww8XNGf4HTQu4UI",
          "name": "hubspot"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ (function() {\n    const raw = $('Prepare Company Data').item.json.companyName || '';\n    const isDomain = /^[a-zA-Z0-9][a-zA-Z0-9-]*(\\.[a-zA-Z0-9-]+)*\\.[a-zA-Z]{2,}$/.test(raw.trim());\n    const cleaned = isDomain\n      ? raw.trim().replace(/\\.[^.]+$/, '').replace(/[-_.]/g, ' ')\n      : raw;\n    return 'https://r.jina.ai/https://duckduckgo.com/html/?q=' + encodeURIComponent(cleaned + ' company');\n  })()}}",
        "options": {}
      },
      "id": "jina-search",
      "name": "Jina Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3360,
        704
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const companyData = $('Prepare Company Data').item.json;\n\n// Jina search returns markdown of search results - strip noise\nconst content = ($json.data || '')\n  .replace(/!\\[.*?\\]\\(.*?\\)/g, '')         // strip markdown images\n  .replace(/\\[([^\\]]*)\\]\\([^)]+\\)/g, '$1') // strip links, keep text\n  .replace(/\\n{3,}/g, '\\n\\n')              // collapse blank lines\n  .trim()\n  .substring(0, 2000);\n\nconst prompt = `You are an expert business industry classifier. Classify this company into exactly ONE of these 16 categories:\\n\\n1. Accounting\\n2. Insurance\\n3. Legal Services\\n4. Technology\\n5. Healthcare\\n6. Public Sector\\n7. Retail and Consumer Goods\\n8. Consulting\\n9. Construction\\n10. HR and Payroll Services\\n11. Banking\\n12. Energy\\n13. Financial Services\\n14. Manufacturing\\n15. Transportation\\n16. Others\\n\\nCOMPANY DATA (from web search \\u2014 last resort source):\\nName: ${companyData.companyName}${companyData.domain ? '\\nDomain: ' + companyData.domain : ''}\\n\\nSearch Results:\\n${content || 'Not available'}\\n\\nHOW TO USE THIS DATA:\\n- Search results may include multiple companies with similar names \\u2014 prioritise results that match the company name or domain exactly\\n- When the company name is a domain (e.g. \\\"silvercord.eu\\\"), search results may mix different companies; use the most relevant match\\n- Source quality hierarchy: company\\u2019s own website > LinkedIn profile > Wikipedia > business directories > ads or unrelated results\\n- When multiple results conflict, pick the most specific category supported by the most authoritative source\\n- When results are only ads, sponsored links, or completely unrelated to the company, classify using the domain name alone as your signal\\n- If the domain gives no meaningful signal either, use Others\\n\\nCLASSIFICATION PRIORITY \\u2014 apply strictly in this order:\\n1. Technology \\u2014 company BUILDS software, SaaS, apps, or tech products (regardless of the industry they serve)\\n2. Legal Services \\u2014 any legal work, compliance, or contract services (never Consulting)\\n3. Specific category \\u2014 pick the most specific match:\\n   - Healthcare: hospitals, clinics, pharma, biotech, medical devices, drug development\\n   - HR and Payroll Services: HR consulting, recruiting, staffing, payroll\\n   - Accounting: tax, bookkeeping, audit, CFO services\\n   - Banking: loans, deposits, payment processing\\n   - Financial Services: investment advisory, wealth management, title insurance\\n   - Insurance, Energy, Construction, Manufacturing, Transportation\\n4. Retail and Consumer Goods \\u2014 company sells consumer-facing products (clothing, food, electronics, home goods); does NOT apply to pharma, medical, or specialized B2B products\\n5. Consulting \\u2014 generalist advisory or professional services firms covering multiple domains\\n6. Public Sector \\u2014 ONLY actual government agencies, not contractors\\n7. Others \\u2014 when search results are empty/ads only AND domain gives no signal; or when no category fits\\n\\nKEY DISTINCTIONS:\\n- Builds tech for any industry \\u2192 Technology (e.g. SAP software for real estate \\u2192 Technology)\\n- Any legal work \\u2192 Legal Services, never Consulting\\n- Pharma, biotech, medical devices \\u2192 Healthcare, not Retail and Consumer Goods\\n- Title insurance, real estate services \\u2192 Financial Services or Insurance\\n- Sells consumer products \\u2192 Retail and Consumer Goods, beats Manufacturing\\n- Government contractor \\u2192 their service category, not Public Sector\\n- Non-profit \\u2192 Others\\n\\nCRITICAL: Respond with ONLY the category name. No explanation, no punctuation, no extra text.\\n\\nExamples:\\n- Search returns results for a title insurance company \\u2192 Insurance\\n- Search shows \\\"develops SAP-based software for real estate digitalisation\\\" \\u2192 Technology\\n- Search returns only ads with no company information, domain gives no signal \\u2192 Others\\n- Search returns conflicting results, clearest source shows recruitment/staffing \\u2192 HR and Payroll Services\\n- \\\"Law firm specializing in corporate law\\\" \\u2192 Legal Services\\n- \\\"Biopharmaceutical company developing treatments for rare diseases\\\" \\u2192 Healthcare\\n- \\\"Bookkeeping and tax services for small businesses\\\" \\u2192 Accounting\\n- \\\"Non-profit educational institution\\\" \\u2192 Others\\n\\nYour response (category name only):`;\n\nreturn {\n  json: {\n    companyId: companyData.companyId,\n    companyName: companyData.companyName,\n    enrichmentSource: 'search',\n    prompt: prompt\n  }\n};\n"
      },
      "id": "prepare-gemini-search",
      "name": "Prepare Gemini Input - Search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3584,
        704
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }], generationConfig: { temperature: 0.3 } }) }}",
        "options": {}
      },
      "id": "gemini-cat-search",
      "name": "Gemini Categorization - Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3824,
        704
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "googlePalmApi": {
          "id": "QnUjlFnc4gypgplL",
          "name": "Gemini"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const response = $json;\nconst geminiText = response?.candidates?.[0]?.content?.parts?.[0]?.text || '';\nlet category = geminiText.trim();\n\n// Map display label to HubSpot internal enum value\nif (category === 'Others') category = 'Unknown';\n\nconst prepData = $('Prepare Gemini Input - Search').item.json;\n\nreturn {\n  companyId: prepData.companyId,\n  companyName: prepData.companyName,\n  enrichmentSource: prepData.enrichmentSource,\n  category: category,\n  needsManualReview: false\n};"
      },
      "id": "parse-response-search",
      "name": "Parse Gemini Response - Search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4048,
        704
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const r = $('Preserve Pre-Update Data').item.json;\nreturn {\n  json: {\n    companyId: r.companyId,\n    companyName: r.companyName,\n    enrichmentSource: r.enrichmentSource,\n    category: r.category,\n    needsManualReview: false\n  }\n};"
      },
      "id": "preserve-success-result",
      "name": "Preserve Result Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5408,
        336
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "aggregate-all",
      "name": "Aggregate All Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        5728,
        336
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const items = $json.data || [];\n\nif (items.length === 0) {\n  return { json: { message: '\ud83d\udcca No companies processed today.' } };\n}\n\nconst categorized = items.filter(i => !i.needsManualReview);\nconst manualReview = items.filter(i => i.needsManualReview);\n\nconst today = new Date().toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' });\nlet message = `*\ud83d\udcca Industry Categorization \u2014 ${today}*\\n*${items.length} companies processed*\\n`;\n\nif (categorized.length > 0) {\n  message += `\\n\u2705 *${categorized.length} categorized:*\\n`;\n  for (const c of categorized) {\n    const cat = c.category === 'Unknown' ? 'Others' : c.category;\n    message += `\u2022 *${c.companyName}* \u2192 ${cat} _(${c.enrichmentSource})_ \u2014 <https://app.hubspot.com/contacts/142047914/company/${c.companyId}|View>\\n`;\n  }\n}\n\nif (manualReview.length > 0) {\n  message += `\\n\u26a0\ufe0f *${manualReview.length} need manual review:*\\n`;\n  for (const c of manualReview) {\n    message += `\u2022 <https://app.hubspot.com/contacts/142047914/company/${c.companyId}|${c.companyName}>\\n`;\n  }\n}\n\nreturn { json: { message } };"
      },
      "id": "format-summary",
      "name": "Format Summary Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6080,
        336
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AFSAD1E5A",
          "mode": "id"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {}
      },
      "id": "slack-summary",
      "name": "Send Summary Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        6400,
        336
      ],
      "webhookId": "8dffdfa5-c4e2-45c1-9e96-73dcad13ae4d",
      "credentials": {
        "slackApi": {
          "id": "lYs0WHzWk4c7z9Kk",
          "name": "Slack"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "domain-check",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $('Prepare Company Data').item.json.domain }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-domain",
      "name": "Check Has Domain",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2688,
        528
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "companyId",
              "type": "string",
              "value": "={{ $json.companyId }}"
            },
            {
              "id": "f2",
              "name": "companyName",
              "type": "string",
              "value": "={{ $json.companyName }}"
            },
            {
              "id": "f3",
              "name": "enrichmentSource",
              "type": "string",
              "value": "={{ $json.enrichmentSource }}"
            },
            {
              "id": "f4",
              "name": "category",
              "type": "string",
              "value": "={{ $json.category }}"
            },
            {
              "id": "f5",
              "name": "needsManualReview",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "id": "preserve-pre-update",
      "name": "Preserve Pre-Update Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4416,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    after: null,\n    allCompanies: []\n  }\n};"
      },
      "id": "init-pagination",
      "name": "Initialize State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        176
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    after: $json.after || null,\n    allCompanies: $json.allCompanies || []\n  }\n};"
      },
      "id": "pass-state",
      "name": "Pass State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/companies/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'createdate', operator: 'GTE', value: String(new Date(Date.UTC(new Date().getUTCFullYear(), new Date().getUTCMonth(), new Date().getUTCDate() - 1)).getTime()) }, { propertyName: 'createdate', operator: 'LT', value: String(new Date(Date.UTC(new Date().getUTCFullYear(), new Date().getUTCMonth(), new Date().getUTCDate())).getTime()) }] }], properties: ['name', 'domain', 'description', 'about_us', 'linkedin_company_page', 'industry', 'industry__form____contact_sync', 'industry__internal_'], limit: 200, ...($json.after ? { after: $json.after } : {}) }) }}",
        "options": {}
      },
      "id": "fetch-page",
      "name": "Fetch Companies Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -800,
        176
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "5ww8XNGf4HTQu4UI",
          "name": "hubspot"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const apiResponse = $json;\nconst passStateData = $('Pass State').item.json;\n\nconst prevCompanies = passStateData.allCompanies || [];\nconst newCompanies = apiResponse.results || [];\nconst cursor = apiResponse.paging?.next?.after || null;\n\nreturn {\n  json: {\n    after: cursor,\n    allCompanies: [...prevCompanies, ...newCompanies]\n  }\n};"
      },
      "id": "accumulate-results",
      "name": "Accumulate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-more-check",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.after || '' }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-more",
      "name": "IF Has More Pages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -96,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "const allCompanies = $input.first().json.allCompanies || [];\nreturn allCompanies.map(company => ({\n  json: {\n    id: String(company.id),\n    properties: company.properties || {}\n  }\n}));"
      },
      "id": "split-all-companies",
      "name": "Split All Companies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        192
      ]
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-02-17T22:24:48.538+00:00",
          "Readable date": "February 17th 2026, 10:24:48 pm",
          "Readable time": "10:24:48 pm",
          "Day of week": "Tuesday",
          "Year": "2026",
          "Month": "February",
          "Day of month": "17",
          "Hour": "22",
          "Minute": "24",
          "Second": "48",
          "Timezone": "Europe/London (UTC+00:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Check Demo Form": {
      "main": [
        [
          {
            "node": "Get Company Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Company Details": {
      "main": [
        [
          {
            "node": "Prepare Company Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Company Data": {
      "main": [
        [
          {
            "node": "Check Description Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Description Exists": {
      "main": [
        [
          {
            "node": "Prepare Gemini Input - HubSpot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Has LinkedIn URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Gemini Input - HubSpot": {
      "main": [
        [
          {
            "node": "Gemini Categorization - HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Categorization - HubSpot": {
      "main": [
        [
          {
            "node": "Parse Gemini Response - HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Has LinkedIn URL": {
      "main": [
        [
          {
            "node": "Amplemarket LinkedIn API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Has Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Amplemarket LinkedIn API": {
      "main": [
        [
          {
            "node": "Check LinkedIn Data Retrieved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check LinkedIn Data Retrieved": {
      "main": [
        [
          {
            "node": "Prepare Gemini Input - LinkedIn",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Has Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Gemini Input - LinkedIn": {
      "main": [
        [
          {
            "node": "Gemini Categorization - LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Categorization - LinkedIn": {
      "main": [
        [
          {
            "node": "Parse Gemini Response - LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website Scraping": {
      "main": [
        [
          {
            "node": "Check Website Data Retrieved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Website Data Retrieved": {
      "main": [
        [
          {
            "node": "Prepare Gemini Input - Website",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Jina Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Gemini Input - Website": {
      "main": [
        [
          {
            "node": "Gemini Categorization - Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Categorization - Website": {
      "main": [
        [
          {
            "node": "Parse Gemini Response - Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina Search": {
      "main": [
        [
          {
            "node": "Prepare Gemini Input - Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Gemini Input - Search": {
      "main": [
        [
          {
            "node": "Gemini Categorization - Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Categorization - Search": {
      "main": [
        [
          {
            "node": "Parse Gemini Response - Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update HubSpot": {
      "main": [
        [
          {
            "node": "Preserve Result Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve Result Data": {
      "main": [
        [
          {
            "node": "Aggregate All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Results": {
      "main": [
        [
          {
            "node": "Format Summary Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Summary Message": {
      "main": [
        [
          {
            "node": "Send Summary Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Has Domain": {
      "main": [
        [
          {
            "node": "Website Scraping",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Jina Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Response - HubSpot": {
      "main": [
        [
          {
            "node": "Preserve Pre-Update Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Response - LinkedIn": {
      "main": [
        [
          {
            "node": "Preserve Pre-Update Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Response - Website": {
      "main": [
        [
          {
            "node": "Preserve Pre-Update Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Response - Search": {
      "main": [
        [
          {
            "node": "Preserve Pre-Update Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve Pre-Update Data": {
      "main": [
        [
          {
            "node": "Update HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Initialize State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize State": {
      "main": [
        [
          {
            "node": "Pass State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass State": {
      "main": [
        [
          {
            "node": "Fetch Companies Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Companies Page": {
      "main": [
        [
          {
            "node": "Accumulate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accumulate Results": {
      "main": [
        [
          {
            "node": "IF Has More Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has More Pages": {
      "main": [
        [
          {
            "node": "Pass State",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split All Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split All Companies": {
      "main": [
        [
          {
            "node": "Check Demo Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "TA6Iq4wMW0KYsCiH"
  },
  "versionId": "cb67038b-4ac6-4e34-b769-8b6d6f185aed",
  "meta": {
    "instanceId": "1c614ffbaa74dc7b329196566d86f2ebdc830e7ef4cc70cc01f324f4043c7c50"
  },
  "id": "8DM3CwXLxOT3G8B7",
  "tags": []
}