workflows/hubspot-industry-categorization/workflow.json
{
  "name": "HubSpot Company Industry Categorization",
  "nodes": [
    {
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [100, 100],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      }
    },
    {
      "id": "1b",
      "name": "Get Recent Companies",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [300, 100],
      "parameters": {
        "authentication": "appToken",
        "resource": "company",
        "operation": "getRecentlyCreatedUpdated",
        "returnAll": false,
        "limit": 20,
        "additionalFields": {}
      },
      "credentials": {
        "hubspotAppToken": {
          "id": "",
          "name": "hubspot"
        }
      }
    },
    {
      "id": "2",
      "name": "Check Demo Form",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [500, 100],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "condition": "isEmpty",
              "value1": "={{ $json.properties.industry__form____contact_sync }}"
            }
          ]
        }
      }
    },
    {
      "id": "3",
      "name": "Get Company Details",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [700, 100],
      "parameters": {
        "authentication": "appToken",
        "resource": "company",
        "operation": "get",
        "companyId": {
          "__rl": true,
          "value": "={{ $json.companyId }}",
          "mode": "id"
        },
        "additionalFields": {}
      },
      "credentials": {
        "hubspotAppToken": {
          "id": "",
          "name": "hubspot"
        }
      }
    },
    {
      "id": "4",
      "name": "Prepare LinkedIn Call",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 100],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "name": "companyId",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "name": "companyName",
              "type": "string",
              "value": "={{ $json.properties.name || 'Unknown' }}"
            },
            {
              "name": "description",
              "type": "string",
              "value": "={{ $json.properties.description || '' }}"
            },
            {
              "name": "aboutUs",
              "type": "string",
              "value": "={{ $json.properties.about_us || '' }}"
            },
            {
              "name": "keywords",
              "type": "string",
              "value": "={{ $json.properties.hs_keywords || '' }}"
            },
            {
              "name": "website",
              "type": "string",
              "value": "={{ $json.properties.website || '' }}"
            },
            {
              "name": "linkedinUrl",
              "type": "string",
              "value": "={{ $json.properties.linkedin_company_page || '' }}"
            }
          ]
        }
      }
    },
    {
      "id": "5",
      "name": "Amplemarket LinkedIn Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1100, 80],
      "parameters": {
        "url": "https://api.amplemarket.com/api/v2/companies/search",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headers": {
          "Content-Type": "application/json"
        },
        "body": "={{ JSON.stringify({ linkedin_url: $json.linkedinUrl || $json.website }) }}",
        "sendBody": true,
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "amplemarket"
        }
      }
    },
    {
      "id": "6",
      "name": "LinkedIn Success Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1300, 80],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "condition": "notEmpty",
              "value1": "={{ $json.company }}"
            }
          ]
        }
      }
    },
    {
      "id": "7",
      "name": "Extract LinkedIn Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1500, 20],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "name": "linkedinDescription",
              "type": "string",
              "value": "={{ ($json.company || {}).description || '' }}"
            },
            {
              "name": "linkedinIndustry",
              "type": "string",
              "value": "={{ ($json.company || {}).industry || '' }}"
            },
            {
              "name": "linkedinSpecialties",
              "type": "string",
              "value": "={{ (($json.company || {}).specialties || []).join(', ') || '' }}"
            },
            {
              "name": "enrichmentSource",
              "type": "string",
              "value": "linkedin"
            }
          ]
        }
      }
    },
    {
      "id": "8",
      "name": "Website Metadata Fetch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1500, 140],
      "parameters": {
        "url": "={{ 'https://' + $node['Prepare LinkedIn Call'].json.website.replace('https://','').replace('http://','') }}",
        "method": "GET",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "9",
      "name": "Website Success Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1700, 140],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "condition": "notEmpty",
              "value1": "={{ $json.data }}"
            }
          ]
        }
      }
    },
    {
      "id": "10",
      "name": "Extract Website Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1900, 80],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "name": "websiteDescription",
              "type": "string",
              "value": "={{ ($json.data.match(/<meta[^>]*property=\"og:description\"[^>]*content=\"([^\"]+)\"/i) || $json.data.match(/<meta[^>]*name=\"description\"[^>]*content=\"([^\"]+)\"/i) || [])[1] || '' }}"
            },
            {
              "name": "websiteTitle",
              "type": "string",
              "value": "={{ ($json.data.match(/<title[^>]*>([^<]+)<\\/title>/i) || [])[1] || '' }}"
            },
            {
              "name": "enrichmentSource",
              "type": "string",
              "value": "website"
            }
          ]
        }
      }
    },
    {
      "id": "11",
      "name": "Both Failed - Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1900, 200],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "name": "enrichmentFailed",
              "type": "boolean",
              "value": true
            },
            {
              "name": "errorMessage",
              "type": "string",
              "value": "Both LinkedIn and website enrichment failed"
            }
          ]
        }
      }
    },
    {
      "id": "12",
      "name": "Merge Enriched Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2100, 50],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "name": "enrichedData",
              "type": "json",
              "value": "={{ { companyName: $node['Prepare LinkedIn Call'].json.companyName, description: $node['Prepare LinkedIn Call'].json.description || '', aboutUs: $node['Prepare LinkedIn Call'].json.aboutUs || '', keywords: $node['Prepare LinkedIn Call'].json.keywords || '', linkedinDescription: ($json.linkedinDescription || $json.websiteDescription || ''), linkedinIndustry: ($json.linkedinIndustry || ''), linkedinSpecialties: ($json.linkedinSpecialties || ''), enrichmentSource: ($json.enrichmentSource || 'none') } }}"
            }
          ]
        }
      }
    },
    {
      "id": "13",
      "name": "Gemini Categorization",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [2300, 50],
      "parameters": {
        "modelName": "models/gemini-3-flash",
        "options": {
          "temperature": 0.3,
          "maxTokens": 100
        },
        "messages": {
          "messageValues": [
            {
              "content": "=You are an expert business industry classifier. Categorize this company into ONE of these 15 internal industry categories:\n1. Accounting\n2. Insurance\n3. Legal Services\n4. Technology\n5. Healthcare\n6. Public Sector\n7. Retail and Consumer Goods\n8. Consulting\n9. Construction\n10. Payroll and HR Services\n11. Banking\n12. Energy\n13. Financial Services\n14. Manufacturing\n15. Transportation\n\nCOMPANY DATA:\nName: {{ $json.enrichedData.companyName }}\nDescription: {{ $json.enrichedData.description }}\nAbout Us: {{ $json.enrichedData.aboutUs }}\nKeywords: {{ $json.enrichedData.keywords }}\nLinkedIn Data: {{ $json.enrichedData.linkedinDescription }}\nLinkedIn Industry: {{ $json.enrichedData.linkedinIndustry }}\nLinkedIn Specialties: {{ $json.enrichedData.linkedinSpecialties }}\n\nRULES:\n1. Analyze ALL available data\n2. Look for PRIMARY business keywords\n3. If company creates tech (software/SaaS) → Technology\n4. If company USES tech but does something else → Their actual industry\n5. If confidence < 70%, respond: \"MANUAL_REVIEW_REQUIRED\"\n\nRespond ONLY with the category name or \"MANUAL_REVIEW_REQUIRED\". No explanation.",
              "role": "user"
            }
          ]
        }
      },
      "credentials": {
        "googleAiApi": {
          "id": "",
          "name": "Gemini"
        }
      }
    },
    {
      "id": "14",
      "name": "Check Manual Review",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [2500, 50],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "condition": "contains",
              "value1": "={{ $json.text }}",
              "value2": "MANUAL_REVIEW_REQUIRED"
            }
          ]
        }
      }
    },
    {
      "id": "15",
      "name": "Parse Categorization Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2700, 0],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "name": "category",
              "type": "string",
              "value": "={{ ($json.text || '').trim() }}"
            }
          ]
        }
      }
    },
    {
      "id": "16",
      "name": "Update HubSpot with Category",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [2900, 0],
      "parameters": {
        "authentication": "appToken",
        "resource": "company",
        "operation": "update",
        "companyId": {
          "__rl": true,
          "value": "={{ $node['Prepare LinkedIn Call'].json.companyId }}",
          "mode": "id"
        },
        "updateFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "industry_internal_sync",
                "value": "={{ $node['Parse Categorization Result'].json.category }}"
              }
            ]
          }
        }
      },
      "credentials": {
        "hubspotAppToken": {
          "id": "",
          "name": "hubspot"
        }
      }
    },
    {
      "id": "17",
      "name": "Send Success Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [3100, 0],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "D0ADELD95GR",
          "mode": "id"
        },
        "messageType": "text",
        "text": "=✅ *{{ $node['Prepare LinkedIn Call'].json.companyName }}* categorized as *{{ $node['Parse Categorization Result'].json.category }}*\n\n🔗 <https://app.hubspot.com/contacts/142047914/company/{{ $node['Prepare LinkedIn Call'].json.companyId }}|View in HubSpot>"
      },
      "credentials": {
        "slackApi": {
          "id": "",
          "name": "Slack"
        }
      }
    },
    {
      "id": "18",
      "name": "Send Manual Review Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [2900, 120],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "D0ADELD95GR",
          "mode": "id"
        },
        "messageType": "text",
        "text": "=⚠️ *Manual Review Required* for *{{ $node['Prepare LinkedIn Call'].json.companyName }}*\n\nAvailable data:\n- Description: {{ $node['Prepare LinkedIn Call'].json.description }}\n- Keywords: {{ $node['Prepare LinkedIn Call'].json.keywords }}\n- Enrichment Source: {{ $json.enrichmentSource || 'Unknown' }}\n\n🔗 <https://app.hubspot.com/contacts/142047914/company/{{ $node['Prepare LinkedIn Call'].json.companyId }}|View in HubSpot>"
      },
      "credentials": {
        "slackApi": {
          "id": "",
          "name": "Slack"
        }
      }
    },
    {
      "id": "19",
      "name": "Send Enrichment Failed Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [2100, 200],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "D0ADELD95GR",
          "mode": "id"
        },
        "messageType": "text",
        "text": "=❌ *Enrichment Failed* for *{{ $node['Prepare LinkedIn Call'].json.companyName }}*\n\nBoth LinkedIn and website enrichment failed. Unable to categorize.\n\n🔗 <https://app.hubspot.com/contacts/142047914/company/{{ $node['Prepare LinkedIn Call'].json.companyId }}|View in HubSpot>\n\nAction: Manual categorization required"
      },
      "credentials": {
        "slackApi": {
          "id": "",
          "name": "Slack"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Recent Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Companies": {
      "main": [
        [
          {
            "node": "Check Demo Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Demo Form": {
      "main": [
        [
          {
            "node": "Get Company Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Company Details": {
      "main": [
        [
          {
            "node": "Prepare LinkedIn Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LinkedIn Call": {
      "main": [
        [
          {
            "node": "Amplemarket LinkedIn Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Amplemarket LinkedIn Enrichment": {
      "main": [
        [
          {
            "node": "LinkedIn Success Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Success Check": {
      "main": [
        [
          {
            "node": "Extract LinkedIn Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Website Metadata Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract LinkedIn Data": {
      "main": [
        [
          {
            "node": "Merge Enriched Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website Metadata Fetch": {
      "main": [
        [
          {
            "node": "Website Success Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website Success Check": {
      "main": [
        [
          {
            "node": "Extract Website Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Both Failed - Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Website Data": {
      "main": [
        [
          {
            "node": "Merge Enriched Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Both Failed - Error": {
      "main": [
        [
          {
            "node": "Send Enrichment Failed Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Enriched Data": {
      "main": [
        [
          {
            "node": "Gemini Categorization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Categorization": {
      "main": [
        [
          {
            "node": "Check Manual Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Manual Review": {
      "main": [
        [
          {
            "node": "Parse Categorization Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Manual Review Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Categorization Result": {
      "main": [
        [
          {
            "node": "Update HubSpot with Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update HubSpot with Category": {
      "main": [
        [
          {
            "node": "Send Success Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
