workflows/hubspot-industry-categorization/workflow-v3.3.json
{
  "name": "HubSpot Company Industry Categorization v3.3",
  "id": "8DM3CwXLxOT3G8B7",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 18 * * *"}]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/companies/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'createdate', operator: 'GTE', value: String(new Date(Date.UTC(new Date().getUTCFullYear(), new Date().getUTCMonth(), new Date().getUTCDate())).getTime()) }] }], properties: ['name', 'domain', 'description', 'about_us', 'linkedin_company_page', 'industry', 'industry__form____contact_sync', 'industry__internal_'], limit: 100 }) }}",
        "options": {}
      },
      "id": "search-companies",
      "name": "Search Today's Companies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [208, 160],
      "credentials": {
        "hubspotAppToken": {"id": "5ww8XNGf4HTQu4UI", "name": "hubspot"}
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst results = response.results || [];\nreturn results.map(company => ({\n  json: {\n    id: String(company.id),\n    properties: company.properties || {}\n  }\n}));"
      },
      "id": "normalize-company",
      "name": "Split Companies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 160]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"version": 3, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"},
          "conditions": [
            {
              "id": "demo-check",
              "operator": {"type": "string", "operation": "empty"},
              "leftValue": "={{ $json.properties.industry__form____contact_sync || '' }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-demo",
      "name": "Check Demo Form",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [624, 32]
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "company",
        "operation": "get",
        "companyId": {"mode": "id", "value": "={{ $json.id }}"},
        "additionalFields": {}
      },
      "id": "get-details",
      "name": "Get Company Details",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [800, 240],
      "credentials": {
        "hubspotAppToken": {"id": "5ww8XNGf4HTQu4UI", "name": "hubspot"}
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "field1", "name": "companyId", "type": "string", "value": "={{ $json.companyId || $json.id }}"},
            {"id": "field2", "name": "companyName", "type": "string", "value": "={{ typeof $json.properties?.name === 'object' ? ($json.properties?.name?.value || '') : ($json.properties?.name || '') }}"},
            {"id": "field3", "name": "domain", "type": "string", "value": "={{ typeof $json.properties?.domain === 'object' ? ($json.properties?.domain?.value || '') : ($json.properties?.domain || '') }}"},
            {"id": "field4", "name": "description", "type": "string", "value": "={{ typeof $json.properties?.description === 'object' ? ($json.properties?.description?.value || '') : ($json.properties?.description || '') }}"},
            {"id": "field5", "name": "aboutUs", "type": "string", "value": "={{ typeof $json.properties?.about_us === 'object' ? ($json.properties?.about_us?.value || '') : ($json.properties?.about_us || '') }}"},
            {"id": "field6", "name": "linkedinUrl", "type": "string", "value": "={{ typeof $json.properties?.linkedin_company_page === 'object' ? ($json.properties?.linkedin_company_page?.value || '') : ($json.properties?.linkedin_company_page || '') }}"}
          ]
        },
        "options": {}
      },
      "id": "prepare-data",
      "name": "Prepare Company Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [960, 352]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"version": 3, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"},
          "conditions": [
            {
              "id": "desc-check",
              "operator": {"type": "string", "operation": "notEmpty"},
              "leftValue": "={{ $json.description }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-desc",
      "name": "Check Description Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1200, 160]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const companyData = $('Prepare Company Data').item.json;\n\nconst prompt = `You are an expert business industry classifier. Categorize this company into ONE of these 16 internal industry categories:\n\n1. Accounting\n2. Insurance\n3. Legal Services\n4. Technology\n5. Healthcare\n6. Public Sector\n7. Retail and Consumer Goods\n8. Consulting\n9. Construction\n10. HR and Payroll Services\n11. Banking\n12. Energy\n13. Financial Services\n14. Manufacturing\n15. Transportation\n16. Others\n\nCOMPANY DATA:\nName: ${companyData.companyName}\nDomain: ${companyData.domain || 'Not provided'}\n\nDescription: ${companyData.description || 'Not provided'}\nAbout Us: ${companyData.aboutUs || 'Not provided'}\n\nCLASSIFICATION RULES - Read carefully and apply in order:\n\n1. TECHNOLOGY PRIORITY\n   - If company CREATES software, SaaS platforms, apps, or tech products → Technology\n   - Examples: \"We build legal practice management software\" → Technology\n   - Examples: \"We develop healthcare EHR systems\" → Technology\n   - Even if they serve a specific industry, if they BUILD the tech → Technology\n\n2. LEGAL SERVICES\n   - ANY legal work, legal consulting, compliance services → Legal Services\n   - Examples: \"Law firm\", \"Legal compliance consulting\", \"Contract review services\" → Legal Services\n   - Legal is ALWAYS Legal Services, never Consulting\n\n3. SPECIFIC SERVICE CATEGORIES\n   - HR consulting, recruiting, staffing, payroll → HR and Payroll Services\n   - Tax, bookkeeping, audit, CFO services → Accounting\n   - Loans, deposits, payment processing → Banking\n   - Investment advisory, wealth management → Financial Services\n   - If company does THE WORK (not just advises) → Their specific service category\n\n4. CONSTRUCTION vs MANUFACTURING\n   - Building construction, infrastructure, large projects → Construction\n   - Making products, goods, equipment, materials → Manufacturing\n\n5. RETAIL vs MANUFACTURING\n   - If company sells products (even if they manufacture them) → Retail and Consumer Goods\n   - Focus on the selling/distribution aspect\n\n6. PUBLIC SECTOR\n   - ONLY government agencies → Public Sector\n   - Government contractors → Their service category (e.g., Technology, Consulting)\n   - Non-profits → Others\n\n7. MULTI-SERVICE COMPANIES\n   - If company offers multiple services (e.g., \"accounting, HR, and legal services\") → Consulting\n   - Consulting is the default for generalist advisory firms\n\n8. OTHERS\n   - Use ONLY when the industry doesn't fit ANY of the 15 categories\n   - Examples: Agriculture, Education, Media, Entertainment, Non-profits\n   - Do NOT use \"Others\" as a fallback if uncertain - always pick the best match from 1-15\n\n9. CONFLICT RESOLUTION\n   - When choosing between 2 categories, use the rules above in order\n   - Technology takes priority if they build software\n   - Legal Services takes priority for any legal work\n   - Specific service category beats general Consulting\n   - Retail beats Manufacturing for companies that sell\n\nCRITICAL: You MUST respond with ONLY ONE category name from the list above. No explanations, no confidence scores, just the category name.\n\nExamples:\n- \"We build SaaS software for law firms\" → Technology\n- \"We provide HR consulting and recruiting services\" → HR and Payroll Services\n- \"Law firm specializing in corporate law\" → Legal Services\n- \"We manufacture and sell consumer electronics online\" → Retail and Consumer Goods\n- \"Accounting and bookkeeping services for small businesses\" → Accounting\n- \"Multi-service firm offering accounting, HR, and legal advisory\" → Consulting\n- \"Non-profit educational institution\" → Others\n\nYour response (category name only):`;\n\nreturn {\n  json: {\n    companyId: companyData.companyId,\n    companyName: companyData.companyName,\n    enrichmentSource: 'hubspot',\n    prompt: prompt\n  }\n};"
      },
      "id": "prepare-gemini-hs",
      "name": "Prepare Gemini Input - HubSpot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 80]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }], generationConfig: { temperature: 0.3 } }) }}",
        "options": {}
      },
      "id": "gemini-cat-hs",
      "name": "Gemini Categorization - HubSpot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1700, 80],
      "credentials": {
        "googlePalmApi": {"id": "QnUjlFnc4gypgplL", "name": "Gemini"}
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const response = $json;\nconst geminiText = response?.candidates?.[0]?.content?.parts?.[0]?.text || '';\nlet category = geminiText.trim();\n\n// Map display label to HubSpot internal enum value\nif (category === 'Others') category = 'Unknown';\n\nconst prepData = $('Prepare Gemini Input - HubSpot').item.json;\n\nreturn {\n  companyId: prepData.companyId,\n  companyName: prepData.companyName,\n  enrichmentSource: prepData.enrichmentSource,\n  category: category,\n  needsManualReview: false\n};"
      },
      "id": "parse-response-hs",
      "name": "Parse Gemini Response - HubSpot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1950, 80]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"version": 3, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"},
          "conditions": [
            {
              "id": "url-check",
              "operator": {"type": "string", "operation": "notEmpty"},
              "leftValue": "={{ $json.domain }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-url",
      "name": "Check Has URL/Domain",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1450, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.amplemarket.com/company/linkedin/enrichment",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ domain: $json.domain, company_name: $json.companyName }) }}",
        "options": {
          "timeout": 30000,
          "retry": {
            "enabled": true,
            "maxRetries": 2,
            "retryInterval": 1000
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "amplemarket-linkedin",
      "name": "Amplemarket LinkedIn API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1700, 280],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"version": 3, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"},
          "conditions": [
            {
              "id": "linkedin-data-check",
              "operator": {"type": "string", "operation": "notEmpty"},
              "leftValue": "={{ $json.description || $json.company?.description || '' }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-linkedin-success",
      "name": "Check LinkedIn Data Retrieved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1950, 280]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const companyData = $('Prepare Company Data').item.json;\nconst linkedinData = $json;\n\n// Extract LinkedIn fields (Amplemarket response format)\nconst description = linkedinData.description || linkedinData.company?.description || 'Not available';\nconst industry = linkedinData.industry || linkedinData.company?.industry || 'Not available';\nconst companySize = linkedinData.company_size || linkedinData.company?.employeeCount || 'Not available';\nconst specialties = linkedinData.specialties?.join(', ') || linkedinData.company?.specialties?.join(', ') || 'Not available';\nconst tagline = linkedinData.tagline || linkedinData.company?.tagline || 'Not available';\n\nconst prompt = `You are an expert business industry classifier. Categorize this company into ONE of these 16 internal industry categories:\n\n1. Accounting | 2. Insurance | 3. Legal Services | 4. Technology | 5. Healthcare\n6. Public Sector | 7. Retail and Consumer Goods | 8. Consulting | 9. Construction\n10. HR and Payroll Services | 11. Banking | 12. Energy | 13. Financial Services\n14. Manufacturing | 15. Transportation | 16. Others\n\nCOMPANY DATA (from LinkedIn):\nName: ${companyData.companyName}\nDomain: ${companyData.domain || 'Not provided'}\n\nLinkedIn Profile:\n- Description: ${description}\n- Industry: ${industry}\n- Company Size: ${companySize}\n- Specialties: ${specialties}\n- Tagline: ${tagline}\n\nRULES:\n1. LinkedIn \"Industry\" field is a HINT, not definitive\n2. Look at description and specialties for PRIMARY business activity\n3. If company creates tech (software/SaaS) -> Technology\n4. If company USES tech but does something else -> Their actual industry\n5. If confidence < 70%, respond: MANUAL_REVIEW_REQUIRED\n\nRespond ONLY with the exact category name from the list above, or MANUAL_REVIEW_REQUIRED. No explanation.`;\n\nreturn {\n  json: {\n    companyId: companyData.companyId,\n    companyName: companyData.companyName,\n    enrichmentSource: 'linkedin',\n    prompt: prompt\n  }\n};"
      },
      "id": "prepare-gemini-linkedin",
      "name": "Prepare Gemini Input - LinkedIn",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }], generationConfig: { temperature: 0.3, maxOutputTokens: 50 } }) }}",
        "options": {}
      },
      "id": "gemini-cat-linkedin",
      "name": "Gemini Categorization - LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2450, 200],
      "credentials": {
        "googlePalmApi": {"id": "QnUjlFnc4gypgplL", "name": "Gemini"}
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const response = $json;\nconst geminiText = response?.candidates?.[0]?.content?.parts?.[0]?.text || '';\nlet category = geminiText.trim();\n\n// Map display label to HubSpot internal enum value\nif (category === 'Others') category = 'Unknown';\n\nconst prepData = $('Prepare Gemini Input - LinkedIn').item.json;\n\nreturn {\n  companyId: prepData.companyId,\n  companyName: prepData.companyName,\n  enrichmentSource: prepData.enrichmentSource,\n  category: category,\n  needsManualReview: false\n};"
      },
      "id": "parse-response-linkedin",
      "name": "Parse Gemini Response - LinkedIn",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2700, 200]
    },
    {
      "parameters": {
        "url": "={{ 'https://' + $('Prepare Company Data').item.json.domain }}",
        "options": {}
      },
      "id": "website-scrape",
      "name": "Website Scraping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 380],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"version": 3, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"},
          "conditions": [
            {
              "id": "website-data-check",
              "operator": {"type": "string", "operation": "notEmpty"},
              "leftValue": "={{ $json.data || '' }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-website-success",
      "name": "Check Website Data Retrieved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [2450, 380]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const companyData = $('Prepare Company Data').item.json;\nconst websiteData = $json.data || '';\n\n// Extract meta tags and content snippets\nconst metaDescription = websiteData.match(/<meta\\s+name=\"description\"\\s+content=\"([^\"]+)\"/i)?.[1] || '';\nconst ogDescription = websiteData.match(/<meta\\s+property=\"og:description\"\\s+content=\"([^\"]+)\"/i)?.[1] || '';\nconst title = websiteData.match(/<title>([^<]+)<\\/title>/i)?.[1] || '';\n\n// Get first 500 chars of visible text (rough extraction)\nconst bodyText = websiteData.replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n                           .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n                           .replace(/<[^>]+>/g, ' ')\n                           .replace(/\\s+/g, ' ')\n                           .trim()\n                           .substring(0, 500);\n\nconst prompt = `You are an expert business industry classifier. Categorize this company into ONE of these 16 internal industry categories:\n\n1. Accounting | 2. Insurance | 3. Legal Services | 4. Technology | 5. Healthcare\n6. Public Sector | 7. Retail and Consumer Goods | 8. Consulting | 9. Construction\n10. HR and Payroll Services | 11. Banking | 12. Energy | 13. Financial Services\n14. Manufacturing | 15. Transportation | 16. Others\n\nCOMPANY DATA (from Website):\nName: ${companyData.companyName}\nDomain: ${companyData.domain}\n\nWebsite Information:\n- Page Title: ${title || 'Not available'}\n- Meta Description: ${metaDescription || 'Not available'}\n- OG Description: ${ogDescription || 'Not available'}\n- Content Preview: ${bodyText || 'Not available'}\n\nRULES:\n1. Focus on business activity described on website\n2. Meta descriptions often contain company positioning\n3. If company creates tech (software/SaaS) -> Technology\n4. If company USES tech but does something else -> Their actual industry\n5. If confidence < 70%, respond: MANUAL_REVIEW_REQUIRED\n\nRespond ONLY with the exact category name from the list above, or MANUAL_REVIEW_REQUIRED. No explanation.`;\n\nreturn {\n  json: {\n    companyId: companyData.companyId,\n    companyName: companyData.companyName,\n    enrichmentSource: 'website',\n    prompt: prompt\n  }\n};"
      },
      "id": "prepare-gemini-website",
      "name": "Prepare Gemini Input - Website",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2700, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }], generationConfig: { temperature: 0.3, maxOutputTokens: 50 } }) }}",
        "options": {}
      },
      "id": "gemini-cat-website",
      "name": "Gemini Categorization - Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2950, 300],
      "credentials": {
        "googlePalmApi": {"id": "QnUjlFnc4gypgplL", "name": "Gemini"}
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const response = $json;\nconst geminiText = response?.candidates?.[0]?.content?.parts?.[0]?.text || '';\nlet category = geminiText.trim();\n\n// Map display label to HubSpot internal enum value\nif (category === 'Others') category = 'Unknown';\n\nconst prepData = $('Prepare Gemini Input - Website').item.json;\n\nreturn {\n  companyId: prepData.companyId,\n  companyName: prepData.companyName,\n  enrichmentSource: prepData.enrichmentSource,\n  category: category,\n  needsManualReview: false\n};"
      },
      "id": "parse-response-website",
      "name": "Parse Gemini Response - Website",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3200, 300]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "q", "value": "={{ $('Prepare Company Data').item.json.companyName }} company information"},
            {"name": "api_key", "value": "YOUR_SERPAPI_KEY_HERE"},
            {"name": "num", "value": "3"},
            {"name": "engine", "value": "google"}
          ]
        },
        "options": {}
      },
      "id": "online-research",
      "name": "Online Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2700, 480],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"},
          "combinator": "and",
          "conditions": [
            {
              "id": "confidence-check",
              "operator": {"type": "boolean", "operation": "false", "singleValue": true},
              "leftValue": "={{ $json.needsManualReview }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "check-confidence",
      "name": "Check Confidence",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [3450, 200]
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "company",
        "operation": "update",
        "companyId": {"mode": "id", "value": "={{ $json.companyId }}"},
        "updateFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              {"property": "industry__internal_", "value": "={{ $json.category }}"}
            ]
          }
        }
      },
      "id": "update-hubspot",
      "name": "Update HubSpot",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [3700, 100],
      "credentials": {
        "hubspotAppToken": {"id": "5ww8XNGf4HTQu4UI", "name": "hubspot"}
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {"mode": "id", "value": "D0ADELD95GR"},
        "text": "=✅ *{{ $json.companyName }}* categorized as *{{ $json.category }}*\n\n🔍 Source: {{ $json.enrichmentSource }}\n🔗 <https://app.hubspot.com/contacts/142047914/company/{{ $json.companyId }}|View in HubSpot>",
        "otherOptions": {}
      },
      "id": "slack-success",
      "name": "Send Success Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [3950, 100],
      "webhookId": "2f72172b-5c28-4b03-bed9-b086a44f7aff",
      "credentials": {
        "slackApi": {"id": "lYs0WHzWk4c7z9Kk", "name": "Slack"}
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {"mode": "id", "value": "D0ADELD95GR"},
        "text": "=⚠️ *Manual Review Required* for *{{ $json.companyName }}*\n\n🔍 Source: {{ $json.enrichmentSource }}\n📊 Could not confidently categorize this company\n🔗 <https://app.hubspot.com/contacts/142047914/company/{{ $json.companyId }}|View in HubSpot>",
        "otherOptions": {}
      },
      "id": "slack-manual",
      "name": "Send Manual Review Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [3700, 300],
      "webhookId": "81c7c262-443c-45dc-80cf-4c553a050129",
      "credentials": {
        "slackApi": {"id": "lYs0WHzWk4c7z9Kk", "name": "Slack"}
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Search Today's Companies", "type": "main", "index": 0}]]
    },
    "Search Today's Companies": {
      "main": [[{"node": "Split Companies", "type": "main", "index": 0}]]
    },
    "Split Companies": {
      "main": [[{"node": "Check Demo Form", "type": "main", "index": 0}]]
    },
    "Check Demo Form": {
      "main": [[{"node": "Get Company Details", "type": "main", "index": 0}]]
    },
    "Get Company Details": {
      "main": [[{"node": "Prepare Company Data", "type": "main", "index": 0}]]
    },
    "Prepare Company Data": {
      "main": [[{"node": "Check Description Exists", "type": "main", "index": 0}]]
    },
    "Check Description Exists": {
      "main": [
        [{"node": "Prepare Gemini Input - HubSpot", "type": "main", "index": 0}],
        [{"node": "Check Has URL/Domain", "type": "main", "index": 0}]
      ]
    },
    "Prepare Gemini Input - HubSpot": {
      "main": [[{"node": "Gemini Categorization - HubSpot", "type": "main", "index": 0}]]
    },
    "Gemini Categorization - HubSpot": {
      "main": [[{"node": "Parse Gemini Response - HubSpot", "type": "main", "index": 0}]]
    },
    "Parse Gemini Response - HubSpot": {
      "main": [[{"node": "Check Confidence", "type": "main", "index": 0}]]
    },
    "Check Has URL/Domain": {
      "main": [
        [{"node": "Amplemarket LinkedIn API", "type": "main", "index": 0}],
        [{"node": "Send Manual Review Slack", "type": "main", "index": 0}]
      ]
    },
    "Amplemarket LinkedIn API": {
      "main": [[{"node": "Check LinkedIn Data Retrieved", "type": "main", "index": 0}]]
    },
    "Check LinkedIn Data Retrieved": {
      "main": [
        [{"node": "Prepare Gemini Input - LinkedIn", "type": "main", "index": 0}],
        [{"node": "Website Scraping", "type": "main", "index": 0}]
      ]
    },
    "Prepare Gemini Input - LinkedIn": {
      "main": [[{"node": "Gemini Categorization - LinkedIn", "type": "main", "index": 0}]]
    },
    "Gemini Categorization - LinkedIn": {
      "main": [[{"node": "Parse Gemini Response - LinkedIn", "type": "main", "index": 0}]]
    },
    "Parse Gemini Response - LinkedIn": {
      "main": [[{"node": "Check Confidence", "type": "main", "index": 0}]]
    },
    "Website Scraping": {
      "main": [[{"node": "Check Website Data Retrieved", "type": "main", "index": 0}]]
    },
    "Check Website Data Retrieved": {
      "main": [
        [{"node": "Prepare Gemini Input - Website", "type": "main", "index": 0}],
        [{"node": "Online Research", "type": "main", "index": 0}]
      ]
    },
    "Prepare Gemini Input - Website": {
      "main": [[{"node": "Gemini Categorization - Website", "type": "main", "index": 0}]]
    },
    "Gemini Categorization - Website": {
      "main": [[{"node": "Parse Gemini Response - Website", "type": "main", "index": 0}]]
    },
    "Parse Gemini Response - Website": {
      "main": [[{"node": "Check Confidence", "type": "main", "index": 0}]]
    },
    "Online Research": {
      "main": [[{"node": "Send Manual Review Slack", "type": "main", "index": 0}]]
    },
    "Check Confidence": {
      "main": [
        [{"node": "Update HubSpot", "type": "main", "index": 0}],
        [{"node": "Send Manual Review Slack", "type": "main", "index": 0}]
      ]
    },
    "Update HubSpot": {
      "main": [[{"node": "Send Success Slack", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
