workflows/hubspot-industry-categorization/workflow-v2.json
{
  "name": "HubSpot Company Industry Categorization",
  "nodes": [
    {
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [100, 100],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "1b",
      "name": "Get Uncategorized Companies",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [300, 100],
      "parameters": {
        "authentication": "appToken",
        "resource": "company",
        "operation": "getRecentlyCreatedUpdated",
        "returnAll": false,
        "limit": 50,
        "filters": {
          "filterGroupsUi": {
            "filterGroupsValues": [
              {
                "filtersUi": {
                  "filterValues": [
                    {
                      "propertyName": "industry_internal_sync",
                      "operator": "NOT_HAS_PROPERTY"
                    }
                  ]
                }
              }
            ]
          }
        },
        "additionalFields": {}
      },
      "credentials": {
        "hubspotAppToken": {
          "id": "5ww8XNGf4HTQu4UI",
          "name": "hubspot"
        }
      }
    },
    {
      "id": "2",
      "name": "Check Demo Form",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [500, 100],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ typeof $json.properties.industry__form____contact_sync === 'object' ? ($json.properties.industry__form____contact_sync || {}).value : $json.properties.industry__form____contact_sync }}",
              "rightValue": ""
            }
          ]
        }
      }
    },
    {
      "id": "3",
      "name": "Get Company Details",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [700, 100],
      "parameters": {
        "authentication": "appToken",
        "resource": "company",
        "operation": "get",
        "companyId": {
          "__rl": true,
          "value": "={{ $json.companyId }}",
          "mode": "id"
        },
        "additionalFields": {}
      },
      "credentials": {
        "hubspotAppToken": {
          "id": "5ww8XNGf4HTQu4UI",
          "name": "hubspot"
        }
      }
    },
    {
      "id": "4",
      "name": "Prepare LinkedIn Call",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 100],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "name": "companyId",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "name": "companyName",
              "type": "string",
              "value": "={{ (typeof $json.properties.name === 'object' ? ($json.properties.name || {}).value : $json.properties.name) || 'Unknown' }}"
            },
            {
              "name": "description",
              "type": "string",
              "value": "={{ (typeof $json.properties.description === 'object' ? ($json.properties.description || {}).value : $json.properties.description) || '' }}"
            },
            {
              "name": "aboutUs",
              "type": "string",
              "value": "={{ (typeof $json.properties.about_us === 'object' ? ($json.properties.about_us || {}).value : $json.properties.about_us) || '' }}"
            },
            {
              "name": "keywords",
              "type": "string",
              "value": "={{ (typeof $json.properties.hs_keywords === 'object' ? ($json.properties.hs_keywords || {}).value : $json.properties.hs_keywords) || '' }}"
            },
            {
              "name": "website",
              "type": "string",
              "value": "={{ (typeof $json.properties.website === 'object' ? ($json.properties.website || {}).value : $json.properties.website) || '' }}"
            },
            {
              "name": "linkedinUrl",
              "type": "string",
              "value": "={{ (typeof $json.properties.linkedin_company_page === 'object' ? ($json.properties.linkedin_company_page || {}).value : $json.properties.linkedin_company_page) || '' }}"
            }
          ]
        }
      }
    },
    {
      "id": "4a",
      "name": "Check Description Quality",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1100, 100],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "or",
          "conditions": [
            {
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.description ? $json.description.length : 0 }}",
              "rightValue": 100
            },
            {
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.aboutUs ? $json.aboutUs.length : 0 }}",
              "rightValue": 100
            }
          ]
        }
      }
    },
    {
      "id": "4b",
      "name": "Use HubSpot Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1300, 20],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "name": "enrichmentSource",
              "type": "string",
              "value": "hubspot"
            },
            {
              "name": "linkedinDescription",
              "type": "string",
              "value": ""
            },
            {
              "name": "linkedinIndustry",
              "type": "string",
              "value": ""
            },
            {
              "name": "linkedinSpecialties",
              "type": "string",
              "value": ""
            },
            {
              "name": "websiteDescription",
              "type": "string",
              "value": ""
            }
          ]
        }
      }
    },
    {
      "id": "5",
      "name": "Amplemarket LinkedIn Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1300, 180],
      "continueOnFail": true,
      "parameters": {
        "url": "https://api.amplemarket.com/api/v2/companies/search",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ linkedin_url: $json.linkedinUrl || $json.website }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "Jx7A2XtklZuWBopq",
          "name": "amplemarket"
        }
      }
    },
    {
      "id": "6",
      "name": "LinkedIn Success Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1500, 180],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.company }}",
              "rightValue": ""
            }
          ]
        }
      }
    },
    {
      "id": "7",
      "name": "Extract LinkedIn Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1700, 100],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "name": "linkedinDescription",
              "type": "string",
              "value": "={{ ($json.company || {}).description || '' }}"
            },
            {
              "name": "linkedinIndustry",
              "type": "string",
              "value": "={{ ($json.company || {}).industry || '' }}"
            },
            {
              "name": "linkedinSpecialties",
              "type": "string",
              "value": "={{ (($json.company || {}).specialties || []).join(', ') || '' }}"
            },
            {
              "name": "enrichmentSource",
              "type": "string",
              "value": "linkedin"
            }
          ]
        }
      }
    },
    {
      "id": "8",
      "name": "Website Metadata Fetch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1700, 260],
      "continueOnFail": true,
      "parameters": {
        "url": "={{ 'https://' + $node['Prepare LinkedIn Call'].json.website.replace('https://','').replace('http://','') }}",
        "method": "GET",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "9",
      "name": "Website Success Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1900, 260],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.data }}",
              "rightValue": ""
            }
          ]
        }
      }
    },
    {
      "id": "10",
      "name": "Extract Website Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2100, 180],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "name": "websiteDescription",
              "type": "string",
              "value": "={{ ($json.data.match(/<meta[^>]*property=\"og:description\"[^>]*content=\"([^\"]+)\"/i) || $json.data.match(/<meta[^>]*name=\"description\"[^>]*content=\"([^\"]+)\"/i) || [])[1] || '' }}"
            },
            {
              "name": "websiteTitle",
              "type": "string",
              "value": "={{ ($json.data.match(/<title[^>]*>([^<]+)<\\/title>/i) || [])[1] || '' }}"
            },
            {
              "name": "enrichmentSource",
              "type": "string",
              "value": "website"
            }
          ]
        }
      }
    },
    {
      "id": "11",
      "name": "Use Fallback Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2100, 340],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "name": "enrichmentSource",
              "type": "string",
              "value": "fallback"
            },
            {
              "name": "linkedinDescription",
              "type": "string",
              "value": ""
            },
            {
              "name": "linkedinIndustry",
              "type": "string",
              "value": ""
            },
            {
              "name": "linkedinSpecialties",
              "type": "string",
              "value": ""
            },
            {
              "name": "websiteDescription",
              "type": "string",
              "value": ""
            }
          ]
        }
      }
    },
    {
      "id": "12",
      "name": "Merge Enriched Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2300, 140],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "name": "enrichedData",
              "type": "json",
              "value": "={{ { companyName: $node['Prepare LinkedIn Call'].json.companyName, description: $node['Prepare LinkedIn Call'].json.description || '', aboutUs: $node['Prepare LinkedIn Call'].json.aboutUs || '', keywords: $node['Prepare LinkedIn Call'].json.keywords || '', linkedinDescription: ($json.linkedinDescription || ''), linkedinIndustry: ($json.linkedinIndustry || ''), linkedinSpecialties: ($json.linkedinSpecialties || ''), websiteDescription: ($json.websiteDescription || ''), enrichmentSource: ($json.enrichmentSource || 'fallback') } }}"
            }
          ]
        }
      }
    },
    {
      "id": "13",
      "name": "Gemini Categorization",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [2500, 140],
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {
          "temperature": 0.3,
          "maxTokens": 100
        },
        "messages": {
          "messageValues": [
            {
              "content": "=You are an expert business industry classifier. Categorize this company into ONE of these 15 internal industry categories:\n1. Accounting | 2. Insurance | 3. Legal Services | 4. Technology | 5. Healthcare\n6. Public Sector | 7. Retail and Consumer Goods | 8. Consulting | 9. Construction\n10. Payroll and HR Services | 11. Banking | 12. Energy | 13. Financial Services\n14. Manufacturing | 15. Transportation\n\nCOMPANY DATA:\nName: {{ $json.enrichedData.companyName }}\n\nHubSpot Direct Data (PRIORITY):\n- Description: {{ $json.enrichedData.description || 'Not provided' }}\n- About Us: {{ $json.enrichedData.aboutUs || 'Not provided' }}\n- Keywords: {{ $json.enrichedData.keywords || 'Not provided' }}\n\nEnriched Data ({{ $json.enrichedData.enrichmentSource }}):\n- LinkedIn Description: {{ $json.enrichedData.linkedinDescription || 'Not available' }}\n- LinkedIn Industry: {{ $json.enrichedData.linkedinIndustry || 'Not available' }}\n- LinkedIn Specialties: {{ $json.enrichedData.linkedinSpecialties || 'Not available' }}\n- Website Description: {{ $json.enrichedData.websiteDescription || 'Not available' }}\n\nRULES:\n1. PRIORITIZE HubSpot description/about_us if available (>100 chars)\n2. Use enriched data (LinkedIn/Website) as supporting evidence only\n3. Look for PRIMARY business keywords\n4. If company creates tech (software/SaaS) → Technology\n5. If company USES tech but does something else → Their actual industry\n6. If confidence < 70%, respond: \"MANUAL_REVIEW_REQUIRED\"\n\nRespond ONLY with the category name or \"MANUAL_REVIEW_REQUIRED\". No explanation.",
              "role": "user"
            }
          ]
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "QnUjlFnc4gypgplL",
          "name": "Gemini"
        }
      }
    },
    {
      "id": "14",
      "name": "Check Manual Review",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [2700, 140],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "name": "filter.operator.contains",
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.text }}",
              "rightValue": "MANUAL_REVIEW_REQUIRED"
            }
          ]
        }
      }
    },
    {
      "id": "15",
      "name": "Parse Categorization Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2900, 60],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "name": "category",
              "type": "string",
              "value": "={{ ($json.text || '').trim() }}"
            }
          ]
        }
      }
    },
    {
      "id": "16",
      "name": "Update HubSpot with Category",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [3100, 60],
      "parameters": {
        "authentication": "appToken",
        "resource": "company",
        "operation": "update",
        "companyId": {
          "__rl": true,
          "value": "={{ $node['Prepare LinkedIn Call'].json.companyId }}",
          "mode": "id"
        },
        "updateFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "industry_internal_sync",
                "value": "={{ $node['Parse Categorization Result'].json.category }}"
              }
            ]
          }
        }
      },
      "credentials": {
        "hubspotAppToken": {
          "id": "5ww8XNGf4HTQu4UI",
          "name": "hubspot"
        }
      }
    },
    {
      "id": "17",
      "name": "Send Success Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [3300, 60],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "D0ADELD95GR",
          "mode": "id"
        },
        "messageType": "text",
        "text": "=✅ *{{ $node['Prepare LinkedIn Call'].json.companyName }}* categorized as *{{ $node['Parse Categorization Result'].json.category }}*\n\nSource: {{ $node['Merge Enriched Data'].json.enrichedData.enrichmentSource }}\n\n🔗 <https://app.hubspot.com/contacts/142047914/company/{{ $node['Prepare LinkedIn Call'].json.companyId }}|View in HubSpot>"
      },
      "credentials": {
        "slackApi": {
          "id": "lYs0WHzWk4c7z9Kk",
          "name": "Slack"
        }
      }
    },
    {
      "id": "18",
      "name": "Send Manual Review Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [2900, 220],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "D0ADELD95GR",
          "mode": "id"
        },
        "messageType": "text",
        "text": "=⚠️ *Manual Review Required* for *{{ $node['Prepare LinkedIn Call'].json.companyName }}*\n\nAvailable data:\n- Description: {{ $node['Prepare LinkedIn Call'].json.description }}\n- Keywords: {{ $node['Prepare LinkedIn Call'].json.keywords }}\n- Enrichment Source: {{ $node['Merge Enriched Data'].json.enrichedData.enrichmentSource }}\n\n🔗 <https://app.hubspot.com/contacts/142047914/company/{{ $node['Prepare LinkedIn Call'].json.companyId }}|View in HubSpot>"
      },
      "credentials": {
        "slackApi": {
          "id": "lYs0WHzWk4c7z9Kk",
          "name": "Slack"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Uncategorized Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Uncategorized Companies": {
      "main": [
        [
          {
            "node": "Check Demo Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Demo Form": {
      "main": [
        [
          {
            "node": "Get Company Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Company Details": {
      "main": [
        [
          {
            "node": "Prepare LinkedIn Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LinkedIn Call": {
      "main": [
        [
          {
            "node": "Check Description Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Description Quality": {
      "main": [
        [
          {
            "node": "Use HubSpot Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Amplemarket LinkedIn Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use HubSpot Data": {
      "main": [
        [
          {
            "node": "Merge Enriched Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Amplemarket LinkedIn Enrichment": {
      "main": [
        [
          {
            "node": "LinkedIn Success Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Success Check": {
      "main": [
        [
          {
            "node": "Extract LinkedIn Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Website Metadata Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract LinkedIn Data": {
      "main": [
        [
          {
            "node": "Merge Enriched Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website Metadata Fetch": {
      "main": [
        [
          {
            "node": "Website Success Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website Success Check": {
      "main": [
        [
          {
            "node": "Extract Website Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Use Fallback Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Website Data": {
      "main": [
        [
          {
            "node": "Merge Enriched Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Fallback Data": {
      "main": [
        [
          {
            "node": "Merge Enriched Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Enriched Data": {
      "main": [
        [
          {
            "node": "Gemini Categorization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Categorization": {
      "main": [
        [
          {
            "node": "Check Manual Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Manual Review": {
      "main": [
        [
          {
            "node": "Parse Categorization Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Manual Review Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Categorization Result": {
      "main": [
        [
          {
            "node": "Update HubSpot with Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update HubSpot with Category": {
      "main": [
        [
          {
            "node": "Send Success Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
