workflows/hubspot-deal-closed-se-notification/workflow-v1.0.json
{
  "name": "HubSpot Deal Sales Closed \u2192 SE Linear Ticket Reminder v1.0",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook: Deal Sales Closed",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-144, 304],
      "parameters": {
        "httpMethod": "POST",
        "path": "hubspot-deal-closed-se",
        "options": {}
      }
    },
    {
      "id": "normalize-data",
      "name": "Normalize Webhook Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [128, 304],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst dealId = item.body?.dealId || item.dealId;\n\nif (!dealId) {\n  throw new Error('No dealId found in webhook payload');\n}\n\nreturn [{ json: { dealId: String(dealId) } }];"
      }
    },
    {
      "id": "fetch-deal",
      "name": "Fetch Deal Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [384, 288],
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/objects/deals/{{ $json.dealId }}?properties=dealname,dealstage,amount,potential_amount,closedate,hubspot_owner_id,solutions_engineer",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "hubspotAppToken": { "id": "5ww8XNGf4HTQu4UI", "name": "hubspot" }
      }
    },
    {
      "id": "check-se-assigned",
      "name": "SE Assigned?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [640, 288],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "se-assigned",
              "operator": { "type": "string", "operation": "notEmpty" },
              "leftValue": "={{ $json.properties.solutions_engineer }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "stop-no-se",
      "name": "Stop (No SE)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [896, 480],
      "parameters": {}
    },
    {
      "id": "resolve-se",
      "name": "Resolve SE Name",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [896, 288],
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/owners/{{ $json.properties.solutions_engineer }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "hubspotAppToken": { "id": "5ww8XNGf4HTQu4UI", "name": "hubspot" }
      }
    },
    {
      "id": "search-linear",
      "name": "Search Linear for Ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1152, 288],
      "parameters": {
        "method": "POST",
        "url": "https://api.linear.app/graphql",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linearApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: '{ attachments(filter: { url: { contains: \"deal/' + $node[\"Fetch Deal Details\"].json.id + '\" } }) { nodes { issue { id identifier title assignee { id name } team { id } } } } }' }) }}",
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "linearApi": { "id": "Hy0y7IGsd1kE4waU", "name": "Linear account" }
      }
    },
    {
      "id": "find-ticket",
      "name": "Find Existing Ticket",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1408, 288],
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst teamId = 'fa68a3c7-fcbe-407e-8d66-94b572c31522';\n\nconst attachments = result.data && result.data.attachments && result.data.attachments.nodes\n  ? result.data.attachments.nodes\n  : [];\n\n// Find attachment whose issue belongs to Solutions Engineering team\nconst match = attachments.find(a => \n  a.issue && a.issue.team && a.issue.team.id === teamId\n);\n\nreturn [{\n  json: {\n    existingIssue: match ? match.issue : null,\n    found: !!match\n  }\n}];"
      }
    },
    {
      "id": "has-ticket",
      "name": "Linear Ticket Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1664, 288],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-ticket",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.found }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "stop-no-ticket",
      "name": "Stop (No Ticket)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1920, 480],
      "parameters": {}
    },
    {
      "id": "build-message",
      "name": "Build Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 288],
      "parameters": {
        "jsCode": "const deal = $('Fetch Deal Details').first().json;\nconst se = $('Resolve SE Name').first().json;\nconst ticket = $('Find Existing Ticket').first().json.existingIssue;\n\nconst seName = `${se.firstName} ${se.lastName}`.trim();\nconst dealName = deal.properties.dealname;\nconst dealId = deal.id;\nconst portalId = '142047914';\n\nconst amount = Number(deal.properties.amount || 0);\nconst formatCurrency = (v) => v >= 1000 ? '\u20ac' + (v / 1000).toFixed(0) + 'K' : '\u20ac' + v;\n\nconst dealUrl = `https://app.hubspot.com/contacts/${portalId}/deal/${dealId}`;\nconst ticketIdentifier = ticket.identifier;\nconst ticketTitle = ticket.title;\n\n// Linear URL format: https://linear.app/legalfly/issue/{identifier}\nconst ticketUrl = `https://linear.app/legalfly/issue/${ticketIdentifier}`;\n\nconst message = `:tada: *Deal Sales Closed!*\\n\\n` +\n  `*<${dealUrl}|${dealName}>* (${formatCurrency(amount)}) just closed! :rocket:\\n\\n` +\n  `${seName} \u2014 please update your Linear ticket *<${ticketUrl}|${ticketIdentifier}>* (${ticketTitle}):\\n` +\n  `\u2022 Document what you worked on and the outcome\\n` +\n  `\u2022 Move the ticket to *Done*\\n\\n` +\n  `Thanks! :raised_hands:`;\n\nreturn [{\n  json: {\n    message: message\n  }\n}];"
      }
    },
    {
      "id": "post-slack",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [2176, 288],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "id",
          "value": "C0AFSAD1E5A"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "credentials": {
        "slackApi": { "id": "lYs0WHzWk4c7z9Kk", "name": "Slack" }
      }
    }
  ],
  "connections": {
    "Webhook: Deal Sales Closed": {
      "main": [[{ "node": "Normalize Webhook Data", "type": "main", "index": 0 }]]
    },
    "Normalize Webhook Data": {
      "main": [[{ "node": "Fetch Deal Details", "type": "main", "index": 0 }]]
    },
    "Fetch Deal Details": {
      "main": [[{ "node": "SE Assigned?", "type": "main", "index": 0 }]]
    },
    "SE Assigned?": {
      "main": [
        [{ "node": "Resolve SE Name", "type": "main", "index": 0 }],
        [{ "node": "Stop (No SE)", "type": "main", "index": 0 }]
      ]
    },
    "Resolve SE Name": {
      "main": [[{ "node": "Search Linear for Ticket", "type": "main", "index": 0 }]]
    },
    "Search Linear for Ticket": {
      "main": [[{ "node": "Find Existing Ticket", "type": "main", "index": 0 }]]
    },
    "Find Existing Ticket": {
      "main": [[{ "node": "Linear Ticket Found?", "type": "main", "index": 0 }]]
    },
    "Linear Ticket Found?": {
      "main": [
        [{ "node": "Build Slack Message", "type": "main", "index": 0 }],
        [{ "node": "Stop (No Ticket)", "type": "main", "index": 0 }]
      ]
    },
    "Build Slack Message": {
      "main": [[{ "node": "Post to Slack", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "TA6Iq4wMW0KYsCiH"
  }
}
