workflows/country-retroactive-enrichment/workflow-v2.0.json
{
  "name": "Country Retroactive Enrichment v2.0",
  "nodes": [
    {
      "id": "v2-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-1800, 300],
      "parameters": {}
    },
    {
      "id": "v2-init",
      "name": "Initialize State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1500, 300],
      "parameters": {
        "jsCode": "return {\n  json: {\n    after: null,\n    allCompanies: [],\n    pageCount: 0,\n    maxPages: 2\n  }\n};"
      }
    },
    {
      "id": "v2-pass",
      "name": "Pass State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1200, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    after: $json.after || null,\n    allCompanies: $json.allCompanies || [],\n    pageCount: $json.pageCount || 0,\n    maxPages: $json.maxPages || 2\n  }\n};"
      }
    },
    {
      "id": "v2-fetch",
      "name": "Fetch Companies Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-900, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/companies/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'country', operator: 'NOT_HAS_PROPERTY' }] }], properties: ['name', 'domain'], limit: 100, ...($json.after ? { after: $json.after } : {}) }) }}",
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "hubspotAppToken": { "id": "5ww8XNGf4HTQu4UI", "name": "hubspot" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "v2-accumulate",
      "name": "Accumulate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-600, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const apiResponse = $json;\nconst passStateData = $('Pass State').item.json;\n\nconst prevCompanies = passStateData.allCompanies || [];\nconst newCompanies = apiResponse.results || [];\nconst pageCount = (passStateData.pageCount || 0) + 1;\nconst maxPages = passStateData.maxPages || 2;\n\nconst rawCursor = apiResponse.paging?.next?.after || null;\nconst cursor = (pageCount < maxPages) ? rawCursor : null;\n\nreturn {\n  json: {\n    after: cursor,\n    allCompanies: [...prevCompanies, ...newCompanies],\n    pageCount,\n    maxPages\n  }\n};"
      }
    },
    {
      "id": "v2-if-more",
      "name": "IF More Pages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-300, 300],
      "parameters": {
        "conditions": {
          "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            { "id": "more-check", "operator": { "type": "string", "operation": "notEmpty" }, "leftValue": "={{ $json.after || '' }}", "rightValue": "" }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "v2-split",
      "name": "Split All Companies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 300],
      "parameters": {
        "jsCode": "const allCompanies = $input.first().json.allCompanies || [];\nif (allCompanies.length === 0) return [{ json: { _empty: true } }];\nreturn allCompanies.map(company => ({\n  json: {\n    id: String(company.id),\n    properties: company.properties || {}\n  }\n}));"
      }
    },
    {
      "id": "v2-prepare",
      "name": "Prepare Company Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [300, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "f1", "name": "companyId", "type": "string", "value": "={{ $json.id }}" },
            { "id": "f2", "name": "companyName", "type": "string", "value": "={{ ($json.properties || {}).name || '' }}" },
            { "id": "f3", "name": "domain", "type": "string", "value": "={{ ($json.properties || {}).domain || '' }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "v2-check-domain",
      "name": "Check Has Domain",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [600, 300],
      "parameters": {
        "conditions": {
          "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            { "id": "d1", "operator": { "type": "string", "operation": "notEmpty" }, "leftValue": "={{ $json.domain }}", "rightValue": "" }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "v2-tld",
      "name": "Extract TLD Country",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 100],
      "parameters": {
        "jsCode": "const tldToCountry = {\n  'ac': 'United Kingdom', 'ad': 'Andorra', 'al': 'Albania', 'am': 'Armenia',\n  'at': 'Austria', 'ba': 'Bosnia and Herzegovina', 'be': 'Belgium',\n  'bg': 'Bulgaria', 'by': 'Belarus', 'ch': 'Switzerland', 'cy': 'Cyprus',\n  'cz': 'Czech Republic', 'de': 'Germany', 'dk': 'Denmark', 'ee': 'Estonia',\n  'es': 'Spain', 'fi': 'Finland', 'fr': 'France', 'ge': 'Georgia',\n  'gi': 'Gibraltar', 'gr': 'Greece', 'hr': 'Croatia', 'hu': 'Hungary',\n  'ie': 'Ireland', 'is': 'Iceland', 'it': 'Italy', 'li': 'Liechtenstein',\n  'lt': 'Lithuania', 'lu': 'Luxembourg', 'lv': 'Latvia', 'mc': 'Monaco',\n  'md': 'Moldova', 'me': 'Montenegro', 'mk': 'North Macedonia', 'mt': 'Malta',\n  'nl': 'Netherlands', 'no': 'Norway', 'pl': 'Poland', 'pt': 'Portugal',\n  'ro': 'Romania', 'rs': 'Serbia', 'ru': 'Russia', 'se': 'Sweden',\n  'si': 'Slovenia', 'sk': 'Slovakia', 'sm': 'San Marino', 'tr': 'Turkey',\n  'ua': 'Ukraine', 'uk': 'United Kingdom', 'va': 'Vatican City', 'xk': 'Kosovo',\n  'ar': 'Argentina', 'bo': 'Bolivia', 'br': 'Brazil', 'ca': 'Canada',\n  'cl': 'Chile', 'co': 'Colombia', 'cr': 'Costa Rica', 'cu': 'Cuba',\n  'do': 'Dominican Republic', 'ec': 'Ecuador', 'gt': 'Guatemala',\n  'hn': 'Honduras', 'ht': 'Haiti', 'mx': 'Mexico', 'ni': 'Nicaragua',\n  'pa': 'Panama', 'pe': 'Peru', 'pr': 'Puerto Rico', 'py': 'Paraguay',\n  'sv': 'El Salvador', 'uy': 'Uruguay', 've': 'Venezuela',\n  'ae': 'United Arab Emirates', 'af': 'Afghanistan', 'au': 'Australia',\n  'az': 'Azerbaijan', 'bd': 'Bangladesh', 'bh': 'Bahrain', 'bn': 'Brunei',\n  'cn': 'China', 'hk': 'Hong Kong', 'id': 'Indonesia', 'il': 'Israel',\n  'in': 'India', 'iq': 'Iraq', 'ir': 'Iran', 'jo': 'Jordan', 'jp': 'Japan',\n  'kg': 'Kyrgyzstan', 'kh': 'Cambodia', 'kp': 'North Korea', 'kr': 'South Korea',\n  'kw': 'Kuwait', 'kz': 'Kazakhstan', 'la': 'Laos', 'lb': 'Lebanon',\n  'lk': 'Sri Lanka', 'mm': 'Myanmar', 'mn': 'Mongolia', 'mo': 'Macau',\n  'mv': 'Maldives', 'my': 'Malaysia', 'np': 'Nepal', 'nz': 'New Zealand',\n  'om': 'Oman', 'ph': 'Philippines', 'pk': 'Pakistan', 'qa': 'Qatar',\n  'sa': 'Saudi Arabia', 'sg': 'Singapore', 'sy': 'Syria', 'th': 'Thailand',\n  'tj': 'Tajikistan', 'tm': 'Turkmenistan', 'tw': 'Taiwan', 'uz': 'Uzbekistan',\n  'vn': 'Vietnam', 'ye': 'Yemen',\n  'ao': 'Angola', 'bj': 'Benin', 'bf': 'Burkina Faso', 'bi': 'Burundi',\n  'cm': 'Cameroon', 'cd': 'DR Congo', 'cg': 'Congo', 'ci': 'Ivory Coast',\n  'dz': 'Algeria', 'eg': 'Egypt', 'et': 'Ethiopia', 'gh': 'Ghana',\n  'gn': 'Guinea', 'ke': 'Kenya', 'ly': 'Libya', 'ma': 'Morocco',\n  'mg': 'Madagascar', 'ml': 'Mali', 'mz': 'Mozambique', 'na': 'Namibia',\n  'ne': 'Niger', 'ng': 'Nigeria', 'rw': 'Rwanda', 'sd': 'Sudan',\n  'sn': 'Senegal', 'so': 'Somalia', 'ss': 'South Sudan', 'tz': 'Tanzania',\n  'ug': 'Uganda', 'za': 'South Africa', 'zm': 'Zambia', 'zw': 'Zimbabwe'\n};\n\nconst genericTLDs = new Set([\n  'com','net','org','edu','gov','mil','int','info','biz','name','pro',\n  'aero','coop','museum','io','co','ai','app','dev','tech','online',\n  'site','web','shop','store','cloud','digital','global','world',\n  'media','agency','studio','group','team','solutions','services',\n  'consulting','management','finance','health','legal','law'\n]);\n\nconst data = $('Prepare Company Data').item.json;\nconst domain = data.domain || '';\n\nlet countryFromTLD = '';\nlet tldUsed = '';\n\nif (domain) {\n  const parts = domain.toLowerCase().replace(/^www\\./, '').split('.');\n  if (parts.length >= 3) {\n    const secondLevel = parts[parts.length - 2];\n    const tld = parts[parts.length - 1];\n    if (['co','com','org','net','gov','ac','me','ne'].includes(secondLevel) && tldToCountry[tld]) {\n      countryFromTLD = tldToCountry[tld];\n      tldUsed = secondLevel + '.' + tld;\n    }\n  }\n  if (!countryFromTLD && parts.length >= 2) {\n    const tld = parts[parts.length - 1];\n    if (!genericTLDs.has(tld) && tldToCountry[tld]) {\n      countryFromTLD = tldToCountry[tld];\n      tldUsed = tld;\n    }\n  }\n}\n\nreturn { json: { ...data, countryFromTLD, tldUsed } };"
      }
    },
    {
      "id": "v2-check-tld",
      "name": "Check TLD Resolved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1200, 100],
      "parameters": {
        "conditions": {
          "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            { "id": "t1", "operator": { "type": "string", "operation": "notEmpty" }, "leftValue": "={{ $json.countryFromTLD }}", "rightValue": "" }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "v2-name-scan",
      "name": "Extract Country from Name",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 500],
      "parameters": {
        "jsCode": "const countries = [\n  'Afghanistan','Albania','Algeria','Andorra','Angola','Argentina','Armenia',\n  'Australia','Austria','Azerbaijan','Bahrain','Bangladesh','Belarus','Belgium',\n  'Belize','Bolivia','Bosnia','Botswana','Brazil','Brunei','Bulgaria',\n  'Cambodia','Cameroon','Canada','Chile','China','Colombia','Costa Rica',\n  'Croatia','Cuba','Cyprus','Czech Republic','Denmark','Dominican Republic',\n  'Ecuador','Egypt','El Salvador','Estonia','Ethiopia','Finland','France',\n  'Georgia','Germany','Ghana','Greece','Guatemala','Honduras','Hong Kong',\n  'Hungary','Iceland','India','Indonesia','Iran','Iraq','Ireland','Israel',\n  'Italy','Jamaica','Japan','Jordan','Kazakhstan','Kenya','Kuwait',\n  'Kyrgyzstan','Latvia','Lebanon','Libya','Liechtenstein','Lithuania',\n  'Luxembourg','Macau','Malaysia','Maldives','Malta','Mexico','Moldova',\n  'Monaco','Mongolia','Montenegro','Morocco','Mozambique','Myanmar','Nepal',\n  'Netherlands','New Zealand','Nicaragua','Nigeria','North Korea',\n  'North Macedonia','Norway','Oman','Pakistan','Panama','Paraguay','Peru',\n  'Philippines','Poland','Portugal','Qatar','Romania','Russia','Rwanda',\n  'Saudi Arabia','Senegal','Serbia','Singapore','Slovakia','Slovenia',\n  'Somalia','South Africa','South Korea','Spain','Sri Lanka','Sudan',\n  'Sweden','Switzerland','Syria','Taiwan','Tajikistan','Tanzania','Thailand',\n  'Turkey','Turkmenistan','Uganda','Ukraine','United Arab Emirates',\n  'United Kingdom','United States','Uruguay','Uzbekistan','Venezuela',\n  'Vietnam','Yemen','Zambia','Zimbabwe'\n];\n\nconst data = $('Prepare Company Data').item.json;\nconst name = (data.companyName || '').toLowerCase();\nlet countryFromName = '';\n\nfor (const c of countries) {\n  if (name.includes(c.toLowerCase())) {\n    countryFromName = c;\n    break;\n  }\n}\n\nreturn { json: { ...data, countryFromName } };"
      }
    },
    {
      "id": "v2-check-name",
      "name": "Check Name Got Country",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1500, 500],
      "parameters": {
        "conditions": {
          "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            { "id": "cn1", "operator": { "type": "string", "operation": "notEmpty" }, "leftValue": "={{ $json.countryFromName }}", "rightValue": "" }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "v2-check-domain-amp",
      "name": "Check Has Domain for Amplemarket",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1800, 500],
      "parameters": {
        "conditions": {
          "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            { "id": "da1", "operator": { "type": "string", "operation": "notEmpty" }, "leftValue": "={{ $json.domain || $('Prepare Company Data').item.json.domain }}", "rightValue": "" }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "v2-amp-domain",
      "name": "Amplemarket Domain API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2100, 300],
      "parameters": {
        "url": "https://api.amplemarket.com/companies/find",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": { "parameters": [{ "name": "domain", "value": "={{ $('Prepare Company Data').item.json.domain }}" }] },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": { "httpHeaderAuth": { "id": "Jx7A2XtklZuWBopq", "name": "amplemarket" } },
      "onError": "continueRegularOutput"
    },
    {
      "id": "v2-parse-amp",
      "name": "Parse Amplemarket Country",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 300],
      "parameters": {
        "jsCode": "const data = $json;\nconst companyData = $('Prepare Company Data').item.json;\n\nconst locations = data.locations || [];\nconst primary = locations.find(l => l.is_primary) || locations[0] || {};\nconst countryFromAmplemarket = primary.country || '';\n\nreturn { json: { ...companyData, countryFromAmplemarket } };"
      }
    },
    {
      "id": "v2-check-amp",
      "name": "Check Amplemarket Got Country",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2700, 300],
      "parameters": {
        "conditions": {
          "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            { "id": "ac1", "operator": { "type": "string", "operation": "notEmpty" }, "leftValue": "={{ $json.countryFromAmplemarket }}", "rightValue": "" }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "v2-prep-blind",
      "name": "Prepare Gemini Blind Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3000, 500],
      "parameters": {
        "jsCode": "const companyData = $('Prepare Company Data').item.json;\nconst companyName = companyData.companyName || '';\nconst domain = companyData.domain || '';\n\nconst prompt = `You are an expert at identifying the headquarters country of companies.\n\nCOMPANY: ${companyName}\nDOMAIN: ${domain || 'Not provided'}\n\nBased ONLY on the company name and domain, identify the headquarters country.\n\nSIGNALS:\n1. Well-known company recognition (e.g., \"Siemens\" + siemens.com = Germany)\n2. Geographic hints in domain name (e.g., \"uk-consulting.com\")\n3. City/region references in name (e.g., \"Berlin Digital GmbH\")\n4. Legal suffixes: GmbH=Germany/Austria/Switzerland, Ltd=UK, SRL=Italy/Romania, BV=Netherlands, SA=France/Spain, AB=Sweden, AS=Norway/Denmark, Pty=Australia/South Africa, Inc/LLC/Corp=United States\n\nRESPONSE (JSON only, no markdown):\n{\"country\": \"<full country name>\", \"confidence\": \"HIGH|MEDIUM|LOW\"}\n\nHIGH = certain (recognized brand or unambiguous legal suffix)\nMEDIUM = strong signals with some ambiguity\nLOW = cannot determine confidently\n\nIf no idea: {\"country\": \"Unknown\", \"confidence\": \"LOW\"}`;\n\nreturn { json: { companyId: companyData.companyId, companyName, domain, prompt } };"
      }
    },
    {
      "id": "v2-gemini-blind",
      "name": "Gemini Blind Inference",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3300, 500],
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }], generationConfig: { temperature: 0.1 } }) }}",
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": { "googlePalmApi": { "id": "QnUjlFnc4gypgplL", "name": "Gemini" } },
      "onError": "continueRegularOutput"
    },
    {
      "id": "v2-parse-blind",
      "name": "Parse Gemini Blind Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3600, 500],
      "parameters": {
        "jsCode": "const geminiText = ($json?.candidates?.[0]?.content?.parts?.[0]?.text || '').trim();\nconst companyData = $('Prepare Company Data').item.json;\n\nlet blindCountry = '';\nlet blindConfidence = 'LOW';\n\ntry {\n  const cleaned = geminiText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const parsed = JSON.parse(cleaned);\n  const country = parsed.country || '';\n  const confidence = (parsed.confidence || 'LOW').toUpperCase();\n  blindConfidence = confidence;\n\n  if ((confidence === 'HIGH' || confidence === 'MEDIUM') &&\n      country && country !== 'Unknown') {\n    blindCountry = country;\n  }\n} catch (e) {\n  // Parse failed - treat as LOW confidence\n}\n\nreturn { json: { companyId: companyData.companyId, companyName: companyData.companyName, domain: companyData.domain, blindCountry, blindConfidence } };"
      }
    },
    {
      "id": "v2-check-blind",
      "name": "Check Gemini Blind",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3900, 500],
      "parameters": {
        "conditions": {
          "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            { "id": "bl1", "operator": { "type": "string", "operation": "notEmpty" }, "leftValue": "={{ $json.blindCountry }}", "rightValue": "" }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "v2-prep-grounded",
      "name": "Prepare Gemini Grounded Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4200, 700],
      "parameters": {
        "jsCode": "const companyData = $('Prepare Company Data').item.json;\nconst companyName = companyData.companyName || '';\nconst domain = companyData.domain || '';\n\nconst prompt = `You are an expert at identifying the headquarters country of companies.\nSearch the web for information about this company.\n\nCOMPANY: ${companyName}\nDOMAIN: ${domain || 'Not provided'}\n\nSearch for this company's headquarters location, registered office, or primary business address. Check their website, LinkedIn page, and business registries.\n\nRESPONSE (JSON only, no markdown):\n{\"country\": \"<full country name in English>\"}\n\nRULES:\n- Return the headquarters country only (not branch offices)\n- Use full English country names (e.g., \"United Kingdom\", not \"UK\")\n- If you cannot find reliable information: {\"country\": \"Unknown\"}`;\n\nreturn { json: { companyId: companyData.companyId, companyName, domain, prompt } };"
      }
    },
    {
      "id": "v2-gemini-grounded",
      "name": "Gemini Grounded Inference",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4500, 700],
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }], tools: [{ google_search: {} }], generationConfig: { temperature: 0.1 } }) }}",
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": { "googlePalmApi": { "id": "QnUjlFnc4gypgplL", "name": "Gemini" } },
      "onError": "continueRegularOutput"
    },
    {
      "id": "v2-parse-grounded",
      "name": "Parse Gemini Grounded Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4800, 700],
      "parameters": {
        "jsCode": "const geminiText = ($json?.candidates?.[0]?.content?.parts?.[0]?.text || '').trim();\nconst companyData = $('Prepare Company Data').item.json;\n\nlet groundedCountry = '';\n\ntry {\n  const cleaned = geminiText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const parsed = JSON.parse(cleaned);\n  const country = parsed.country || '';\n  if (country && country !== 'Unknown') {\n    groundedCountry = country;\n  }\n} catch (e) {\n  const text = geminiText.replace(/[{}\"]/g, '').replace(/country\\s*:/i, '').trim();\n  if (text && text.length < 50 && text !== 'Unknown' && !text.includes('\\n')) {\n    groundedCountry = text;\n  }\n}\n\nreturn { json: { companyId: companyData.companyId, companyName: companyData.companyName, domain: companyData.domain, groundedCountry } };"
      }
    },
    {
      "id": "v2-check-grounded",
      "name": "Check Gemini Grounded",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [5100, 700],
      "parameters": {
        "conditions": {
          "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            { "id": "gc1", "operator": { "type": "string", "operation": "notEmpty" }, "leftValue": "={{ $json.groundedCountry }}", "rightValue": "" }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "v2-result",
      "name": "Prepare Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5500, -100],
      "parameters": {
        "jsCode": "const d = $input.item.json;\nconst country = d.countryFromTLD || d.countryFromName || d.countryFromAmplemarket || d.blindCountry || d.groundedCountry || '';\n\nlet enrichmentSource = '';\nif (d.countryFromTLD) enrichmentSource = 'TLD';\nelse if (d.countryFromName) enrichmentSource = 'Company name';\nelse if (d.countryFromAmplemarket) enrichmentSource = 'Amplemarket';\nelse if (d.blindCountry) enrichmentSource = 'Gemini blind';\nelse if (d.groundedCountry) enrichmentSource = 'Gemini grounded';\n\nreturn { json: { companyId: d.companyId, companyName: d.companyName, country, enrichmentSource, resolved: true } };"
      }
    },
    {
      "id": "v2-unknown",
      "name": "Prepare Unknown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5500, 900],
      "parameters": {
        "jsCode": "const companyData = $('Prepare Company Data').item.json;\nreturn { json: { companyId: companyData.companyId, companyName: companyData.companyName, country: 'Unknown', enrichmentSource: 'Unresolved', resolved: false } };"
      }
    },
    {
      "id": "v2-snapshot",
      "name": "Snapshot Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [5800, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "s1", "name": "companyId", "type": "string", "value": "={{ $json.companyId }}" },
            { "id": "s2", "name": "companyName", "type": "string", "value": "={{ $json.companyName }}" },
            { "id": "s3", "name": "country", "type": "string", "value": "={{ $json.country }}" },
            { "id": "s4", "name": "enrichmentSource", "type": "string", "value": "={{ $json.enrichmentSource }}" },
            { "id": "s5", "name": "resolved", "type": "boolean", "value": "={{ $json.resolved }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "v2-update-hs",
      "name": "Update HubSpot",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [6100, 300],
      "parameters": {
        "authentication": "appToken",
        "resource": "company",
        "operation": "update",
        "companyId": { "mode": "id", "value": "={{ $json.companyId }}" },
        "updateFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              { "property": "country", "value": "={{ $json.country }}" },
              { "property": "countryenrichmentsource", "value": "={{ $json.enrichmentSource }}" }
            ]
          }
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": { "hubspotAppToken": { "id": "5ww8XNGf4HTQu4UI", "name": "hubspot" } },
      "onError": "continueRegularOutput"
    },
    {
      "id": "v2-restore",
      "name": "Restore Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6400, 300],
      "parameters": {
        "jsCode": "const d = $('Snapshot Data').item.json;\nreturn { json: { companyId: d.companyId, companyName: d.companyName, country: d.country, enrichmentSource: d.enrichmentSource, resolved: d.resolved } };"
      }
    },
    {
      "id": "v2-aggregate",
      "name": "Aggregate All Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [6700, 300],
      "parameters": { "aggregate": "aggregateAllItemData", "options": {} }
    },
    {
      "id": "v2-format",
      "name": "Format Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [7000, 300],
      "parameters": {
        "jsCode": "const items = $json.data || [];\nconst resolved = items.filter(i => i.resolved);\nconst unknown = items.filter(i => !i.resolved);\n\nconst hubspotBase = 'https://app.hubspot.com/contacts/142047914/company/';\n\nconst sourceCounts = {};\nfor (const c of resolved) {\n  sourceCounts[c.enrichmentSource] = (sourceCounts[c.enrichmentSource] || 0) + 1;\n}\nconst sourceStats = Object.entries(sourceCounts).map(([s, n]) => `${s}: ${n}`).join(' \\u00b7 ');\n\nlet msg = `\\ud83c\\udf0d *Country Enrichment v2.0 \\u2014 Run Complete*\\n`;\nmsg += `*${resolved.length} enriched \\u00b7 ${unknown.length} unknown*\\n`;\nif (sourceStats) msg += `*Sources:* ${sourceStats}\\n`;\nmsg += `\\n`;\n\nif (resolved.length > 0) {\n  msg += `\\u2705 *Enriched*\\n`;\n  for (const c of resolved) {\n    msg += `\\u2022 <${hubspotBase + c.companyId}|${c.companyName}> \\u2192 *${c.country}* (${c.enrichmentSource})\\n`;\n  }\n}\n\nif (unknown.length > 0) {\n  msg += `\\n\\ud83d\\udea9 *Unknown (flagged)*\\n`;\n  for (const c of unknown) {\n    msg += `\\u2022 <${hubspotBase + c.companyId}|${c.companyName}>\\n`;\n  }\n}\n\nreturn { json: { message: msg } };"
      }
    },
    {
      "id": "v2-slack",
      "name": "Send Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [7300, 300],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": { "__rl": true, "value": "C0AG86U9927", "mode": "id" },
        "text": "={{ $json.message }}",
        "otherOptions": {}
      },
      "credentials": { "slackApi": { "id": "lYs0WHzWk4c7z9Kk", "name": "Slack" } }
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{"node": "Initialize State", "type": "main", "index": 0}]] },
    "Initialize State": { "main": [[{"node": "Pass State", "type": "main", "index": 0}]] },
    "Pass State": { "main": [[{"node": "Fetch Companies Page", "type": "main", "index": 0}]] },
    "Fetch Companies Page": { "main": [[{"node": "Accumulate Results", "type": "main", "index": 0}]] },
    "Accumulate Results": { "main": [[{"node": "IF More Pages", "type": "main", "index": 0}]] },
    "IF More Pages": { "main": [[{"node": "Pass State", "type": "main", "index": 0}], [{"node": "Split All Companies", "type": "main", "index": 0}]] },
    "Split All Companies": { "main": [[{"node": "Prepare Company Data", "type": "main", "index": 0}]] },
    "Prepare Company Data": { "main": [[{"node": "Check Has Domain", "type": "main", "index": 0}]] },
    "Check Has Domain": { "main": [[{"node": "Extract TLD Country", "type": "main", "index": 0}], [{"node": "Extract Country from Name", "type": "main", "index": 0}]] },
    "Extract TLD Country": { "main": [[{"node": "Check TLD Resolved", "type": "main", "index": 0}]] },
    "Check TLD Resolved": { "main": [[{"node": "Prepare Result", "type": "main", "index": 0}], [{"node": "Extract Country from Name", "type": "main", "index": 0}]] },
    "Extract Country from Name": { "main": [[{"node": "Check Name Got Country", "type": "main", "index": 0}]] },
    "Check Name Got Country": { "main": [[{"node": "Prepare Result", "type": "main", "index": 0}], [{"node": "Check Has Domain for Amplemarket", "type": "main", "index": 0}]] },
    "Check Has Domain for Amplemarket": { "main": [[{"node": "Amplemarket Domain API", "type": "main", "index": 0}], [{"node": "Prepare Gemini Blind Input", "type": "main", "index": 0}]] },
    "Amplemarket Domain API": { "main": [[{"node": "Parse Amplemarket Country", "type": "main", "index": 0}]] },
    "Parse Amplemarket Country": { "main": [[{"node": "Check Amplemarket Got Country", "type": "main", "index": 0}]] },
    "Check Amplemarket Got Country": { "main": [[{"node": "Prepare Result", "type": "main", "index": 0}], [{"node": "Prepare Gemini Blind Input", "type": "main", "index": 0}]] },
    "Prepare Gemini Blind Input": { "main": [[{"node": "Gemini Blind Inference", "type": "main", "index": 0}]] },
    "Gemini Blind Inference": { "main": [[{"node": "Parse Gemini Blind Response", "type": "main", "index": 0}]] },
    "Parse Gemini Blind Response": { "main": [[{"node": "Check Gemini Blind", "type": "main", "index": 0}]] },
    "Check Gemini Blind": { "main": [[{"node": "Prepare Result", "type": "main", "index": 0}], [{"node": "Prepare Gemini Grounded Input", "type": "main", "index": 0}]] },
    "Prepare Gemini Grounded Input": { "main": [[{"node": "Gemini Grounded Inference", "type": "main", "index": 0}]] },
    "Gemini Grounded Inference": { "main": [[{"node": "Parse Gemini Grounded Response", "type": "main", "index": 0}]] },
    "Parse Gemini Grounded Response": { "main": [[{"node": "Check Gemini Grounded", "type": "main", "index": 0}]] },
    "Check Gemini Grounded": { "main": [[{"node": "Prepare Result", "type": "main", "index": 0}], [{"node": "Prepare Unknown", "type": "main", "index": 0}]] },
    "Prepare Result": { "main": [[{"node": "Snapshot Data", "type": "main", "index": 0}]] },
    "Prepare Unknown": { "main": [[{"node": "Snapshot Data", "type": "main", "index": 0}]] },
    "Snapshot Data": { "main": [[{"node": "Update HubSpot", "type": "main", "index": 0}]] },
    "Update HubSpot": { "main": [[{"node": "Restore Data", "type": "main", "index": 0}]] },
    "Restore Data": { "main": [[{"node": "Aggregate All Results", "type": "main", "index": 0}]] },
    "Aggregate All Results": { "main": [[{"node": "Format Summary", "type": "main", "index": 0}]] },
    "Format Summary": { "main": [[{"node": "Send Slack", "type": "main", "index": 0}]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "id": "h4Dwz3Z2bhksWYly",
  "tags": []
}
