workflows/country-retroactive-enrichment/workflow.json
{"updatedAt":"2026-02-22T16:13:30.912Z","createdAt":"2026-02-22T16:11:58.408Z","id":"SBCVJt431JqoysGl","name":"Country Retroactive Enrichment","description":null,"active":false,"isArchived":false,"nodes":[{"id":"ctry-trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,300],"parameters":{}},{"id":"ctry-fetch","name":"Fetch 10 Uncategorized Companies","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,300],"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/companies/search","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"filterGroups\": [{\"filters\": [{\"propertyName\": \"country\", \"operator\": \"NOT_HAS_PROPERTY\"}]}], \"properties\": [\"name\", \"domain\", \"hs_linkedin_company_page\", \"country\"], \"limit\": 10, \"after\": 0}","options":{}},"credentials":{"hubspotAppToken":{"id":"5ww8XNGf4HTQu4UI","name":"hubspot"}},"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"id":"ctry-split","name":"Split Companies","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,300],"parameters":{"jsCode":"const results = $json.results || [];\nif (results.length === 0) return [{ json: { _empty: true } }];\nreturn results.map(c => ({ json: { id: c.id, ...c } }));"}},{"id":"ctry-get-details","name":"Get Company Details","type":"n8n-nodes-base.hubspot","typeVersion":2.2,"position":[720,300],"parameters":{"authentication":"appToken","resource":"company","operation":"get","companyId":{"mode":"id","value":"={{ $json.id }}"},"additionalFields":{}},"credentials":{"hubspotAppToken":{"id":"5ww8XNGf4HTQu4UI","name":"hubspot"}},"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"id":"ctry-prepare-data","name":"Prepare Company Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[960,300],"parameters":{"assignments":{"assignments":[{"id":"f1","name":"companyId","type":"string","value":"={{ $json.companyId || $json.id }}"},{"id":"f2","name":"companyName","type":"string","value":"={{ $json.properties?.name || '' }}"},{"id":"f3","name":"domain","type":"string","value":"={{ $json.properties?.domain || '' }}"},{"id":"f4","name":"linkedinUrl","type":"string","value":"={{ $json.properties?.hs_linkedin_company_page || '' }}"}]},"options":{}}},{"id":"ctry-check-domain","name":"Check Has Domain","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1200,300],"parameters":{"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"d1","operator":{"type":"string","operation":"notEmpty"},"leftValue":"={{ $json.domain }}","rightValue":""}],"combinator":"and"},"combinator":"and"}},{"id":"ctry-extract-tld","name":"Extract TLD Country","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,180],"parameters":{"jsCode":"\nconst tldToCountry = {\n  // Europe\n  'ac': 'United Kingdom', 'ad': 'Andorra', 'al': 'Albania', 'am': 'Armenia',\n  'at': 'Austria', 'ba': 'Bosnia and Herzegovina', 'be': 'Belgium',\n  'bg': 'Bulgaria', 'by': 'Belarus', 'ch': 'Switzerland', 'cy': 'Cyprus',\n  'cz': 'Czech Republic', 'de': 'Germany', 'dk': 'Denmark', 'ee': 'Estonia',\n  'es': 'Spain', 'fi': 'Finland', 'fr': 'France', 'ge': 'Georgia',\n  'gi': 'Gibraltar', 'gr': 'Greece', 'hr': 'Croatia', 'hu': 'Hungary',\n  'ie': 'Ireland', 'is': 'Iceland', 'it': 'Italy', 'li': 'Liechtenstein',\n  'lt': 'Lithuania', 'lu': 'Luxembourg', 'lv': 'Latvia', 'mc': 'Monaco',\n  'md': 'Moldova', 'me': 'Montenegro', 'mk': 'North Macedonia', 'mt': 'Malta',\n  'nl': 'Netherlands', 'no': 'Norway', 'pl': 'Poland', 'pt': 'Portugal',\n  'ro': 'Romania', 'rs': 'Serbia', 'ru': 'Russia', 'se': 'Sweden',\n  'si': 'Slovenia', 'sk': 'Slovakia', 'sm': 'San Marino', 'tr': 'Turkey',\n  'ua': 'Ukraine', 'uk': 'United Kingdom', 'va': 'Vatican City',\n  'xk': 'Kosovo',\n  // Americas\n  'ar': 'Argentina', 'bo': 'Bolivia', 'br': 'Brazil', 'ca': 'Canada',\n  'cl': 'Chile', 'co': 'Colombia', 'cr': 'Costa Rica', 'cu': 'Cuba',\n  'do': 'Dominican Republic', 'ec': 'Ecuador', 'gt': 'Guatemala',\n  'hn': 'Honduras', 'ht': 'Haiti', 'mx': 'Mexico', 'ni': 'Nicaragua',\n  'pa': 'Panama', 'pe': 'Peru', 'pr': 'Puerto Rico', 'py': 'Paraguay',\n  'sv': 'El Salvador', 'uy': 'Uruguay', 've': 'Venezuela',\n  // Asia-Pacific\n  'ae': 'United Arab Emirates', 'af': 'Afghanistan', 'au': 'Australia',\n  'az': 'Azerbaijan', 'bd': 'Bangladesh', 'bh': 'Bahrain', 'bn': 'Brunei',\n  'cn': 'China', 'hk': 'Hong Kong', 'id': 'Indonesia', 'il': 'Israel',\n  'in': 'India', 'iq': 'Iraq', 'ir': 'Iran', 'jo': 'Jordan', 'jp': 'Japan',\n  'kg': 'Kyrgyzstan', 'kh': 'Cambodia', 'kp': 'North Korea', 'kr': 'South Korea',\n  'kw': 'Kuwait', 'kz': 'Kazakhstan', 'la': 'Laos', 'lb': 'Lebanon',\n  'lk': 'Sri Lanka', 'mm': 'Myanmar', 'mn': 'Mongolia', 'mo': 'Macau',\n  'mv': 'Maldives', 'my': 'Malaysia', 'np': 'Nepal', 'nz': 'New Zealand',\n  'om': 'Oman', 'ph': 'Philippines', 'pk': 'Pakistan', 'qa': 'Qatar',\n  'sa': 'Saudi Arabia', 'sg': 'Singapore', 'sy': 'Syria', 'th': 'Thailand',\n  'tj': 'Tajikistan', 'tm': 'Turkmenistan', 'tw': 'Taiwan', 'uz': 'Uzbekistan',\n  'vn': 'Vietnam', 'ye': 'Yemen',\n  // Africa\n  'ao': 'Angola', 'bj': 'Benin', 'bf': 'Burkina Faso', 'bi': 'Burundi',\n  'cm': 'Cameroon', 'cd': 'DR Congo', 'cg': 'Congo', 'ci': 'Ivory Coast',\n  'dz': 'Algeria', 'eg': 'Egypt', 'et': 'Ethiopia', 'gh': 'Ghana',\n  'gn': 'Guinea', 'ke': 'Kenya', 'ly': 'Libya', 'ma': 'Morocco',\n  'mg': 'Madagascar', 'ml': 'Mali', 'mz': 'Mozambique', 'na': 'Namibia',\n  'ne': 'Niger', 'ng': 'Nigeria', 'rw': 'Rwanda', 'sd': 'Sudan',\n  'sn': 'Senegal', 'so': 'Somalia', 'ss': 'South Sudan', 'tz': 'Tanzania',\n  'ug': 'Uganda', 'za': 'South Africa', 'zm': 'Zambia', 'zw': 'Zimbabwe',\n};\n\n// Generic TLDs that carry no country signal\nconst genericTLDs = new Set([\n  'com','net','org','edu','gov','mil','int','info','biz','name','pro',\n  'aero','coop','museum','io','co','ai','app','dev','tech','online',\n  'site','web','shop','store','cloud','digital','global','world',\n  'media','agency','studio','group','team','solutions','services',\n  'consulting','management','finance','health','legal','law',\n]);\n\nconst data = $('Prepare Company Data').item.json;\nconst domain = data.domain || '';\n\nlet countryFromTLD = '';\nlet tldUsed = '';\n\nif (domain) {\n  const parts = domain.toLowerCase().replace(/^www\\./, '').split('.');\n  // Check second-level country TLDs first (e.g. co.uk, com.au, org.uk)\n  if (parts.length >= 3) {\n    const secondLevel = parts[parts.length - 2];\n    const tld = parts[parts.length - 1];\n    if (['co','com','org','net','gov','ac','me','ne'].includes(secondLevel) && tldToCountry[tld]) {\n      countryFromTLD = tldToCountry[tld];\n      tldUsed = secondLevel + '.' + tld;\n    }\n  }\n  // Check simple TLD\n  if (!countryFromTLD && parts.length >= 2) {\n    const tld = parts[parts.length - 1];\n    if (!genericTLDs.has(tld) && tldToCountry[tld]) {\n      countryFromTLD = tldToCountry[tld];\n      tldUsed = tld;\n    }\n  }\n}\n\nreturn {\n  json: {\n    ...data,\n    countryFromTLD,\n    tldUsed,\n  }\n};\n"}},{"id":"ctry-check-tld","name":"Check TLD Resolved","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1680,180],"parameters":{"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"t1","operator":{"type":"string","operation":"notEmpty"},"leftValue":"={{ $json.countryFromTLD }}","rightValue":""}],"combinator":"and"},"combinator":"and"}},{"id":"ctry-check-linkedin","name":"Check Has LinkedIn URL","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1680,420],"parameters":{"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"l1","operator":{"type":"string","operation":"notEmpty"},"leftValue":"={{ $json.linkedinUrl }}","rightValue":""}],"combinator":"and"},"combinator":"and"}},{"id":"ctry-amplemarket","name":"Amplemarket LinkedIn API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1920,360],"parameters":{"url":"https://api.amplemarket.com/companies/find","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"linkedin_url","value":"={{ $json.linkedinUrl }}"}]},"options":{}},"credentials":{"httpHeaderAuth":{"id":"Jx7A2XtklZuWBopq","name":"amplemarket"}},"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"id":"ctry-parse-amplemarket","name":"Parse Amplemarket Country","type":"n8n-nodes-base.code","typeVersion":2,"position":[2160,360],"parameters":{"jsCode":"\nconst data = $json;\nconst companyData = $('Prepare Company Data').item.json;\n\n// Find primary location, fall back to first location\nconst locations = data.locations || [];\nconst primary = locations.find(l => l.is_primary) || locations[0] || {};\nconst countryFromAmplemarket = primary.country || '';\n\nreturn {\n  json: {\n    ...companyData,\n    countryFromAmplemarket,\n  }\n};\n"}},{"id":"ctry-check-amp-country","name":"Check Amplemarket Got Country","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2400,360],"parameters":{"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"a1","operator":{"type":"string","operation":"notEmpty"},"leftValue":"={{ $json.countryFromAmplemarket }}","rightValue":""}],"combinator":"and"},"combinator":"and"}},{"id":"ctry-check-domain-scrape","name":"Check Has Domain (Scraping)","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2640,480],"parameters":{"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"ds1","operator":{"type":"string","operation":"notEmpty"},"leftValue":"={{ $json.domain }}","rightValue":""}],"combinator":"and"},"combinator":"and"}},{"id":"ctry-jina-scrape","name":"Website Scraping","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2880,420],"parameters":{"url":"={{ 'https://r.jina.ai/https://' + $('Prepare Company Data').item.json.domain }}","options":{}},"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"id":"ctry-prep-gemini","name":"Prepare Gemini Input - Country","type":"n8n-nodes-base.code","typeVersion":2,"position":[3120,420],"parameters":{"jsCode":"\nconst companyData = $('Prepare Company Data').item.json;\nconst websiteContent = ($json.data || '')\n  .replace(/!\\[.*?\\]\\(.*?\\)/g, '')\n  .replace(/\\[([^\\]]*)\\]\\([^)]+\\)/g, '$1')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim()\n  .substring(0, 3000);\n\nconst prompt = `You are an expert at identifying the headquarters country of a company from its website content.\n\nCOMPANY: ${companyData.companyName}\nDOMAIN: ${companyData.domain}\n\nWEBSITE CONTENT:\n${websiteContent || 'Not available'}\n\nTASK: Identify the single country where this company's headquarters is located.\n\nSIGNAL PRIORITY (apply in this order):\n1. Physical address or registered office explicitly mentioned on the page\n2. Phone number country code or local format (e.g. +49 = Germany, +44 = UK)\n3. VAT number format, company registration number format\n4. Language of the website content (weakest signal — only use if nothing else found)\n\nRULES:\n- Return ONLY the full country name in English (e.g. \"Germany\", \"United Kingdom\", \"United States\")\n- If the company operates in multiple countries, return the headquarters country only\n- If you cannot determine the country with reasonable confidence, return exactly: UNKNOWN\n- No explanation, no punctuation, just the country name or UNKNOWN\n\nYour response:`;\n\nreturn {\n  json: {\n    companyId: companyData.companyId,\n    companyName: companyData.companyName,\n    domain: companyData.domain,\n    linkedinUrl: companyData.linkedinUrl,\n    prompt\n  }\n};\n"}},{"id":"ctry-gemini","name":"Gemini - Infer Country","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3360,420],"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }], generationConfig: { temperature: 0.3 } }) }}","options":{}},"credentials":{"googlePalmApi":{"id":"QnUjlFnc4gypgplL","name":"Gemini"}},"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"id":"ctry-parse-gemini","name":"Parse Gemini Country","type":"n8n-nodes-base.code","typeVersion":2,"position":[3600,420],"parameters":{"jsCode":"\nconst geminiText = ($json?.candidates?.[0]?.content?.parts?.[0]?.text || '').trim();\nconst companyData = $('Prepare Company Data').item.json;\n\nconst countryFromGemini = (geminiText && geminiText !== 'UNKNOWN') ? geminiText : '';\n\nreturn {\n  json: {\n    companyId: companyData.companyId,\n    companyName: companyData.companyName,\n    domain: companyData.domain,\n    linkedinUrl: companyData.linkedinUrl,\n    countryFromGemini,\n  }\n};\n"}},{"id":"ctry-check-gemini-country","name":"Check Gemini Got Country","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3840,420],"parameters":{"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"g1","operator":{"type":"string","operation":"notEmpty"},"leftValue":"={{ $json.countryFromGemini }}","rightValue":""}],"combinator":"and"},"combinator":"and"}},{"id":"ctry-prepare-result","name":"Prepare Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[4080,300],"parameters":{"jsCode":"\nconst d = $input.item.json;\n// Called from multiple converging paths — pick whichever country field is set\nconst country = d.countryFromTLD || d.countryFromAmplemarket || d.countryFromGemini || '';\n\nlet enrichmentSource = '';\nif (d.countryFromTLD)          enrichmentSource = 'Domain code';\nelse if (d.countryFromAmplemarket) enrichmentSource = 'Linkedin';\nelse if (d.countryFromGemini)  enrichmentSource = 'Website';\n\nreturn {\n  json: {\n    companyId: d.companyId,\n    companyName: d.companyName,\n    country,\n    enrichmentSource,\n    resolved: true,\n  }\n};\n"}},{"id":"ctry-prepare-manual","name":"Prepare Manual Review","type":"n8n-nodes-base.code","typeVersion":2,"position":[4080,600],"parameters":{"jsCode":"\nconst d = $input.item.json;\nreturn {\n  json: {\n    companyId: d.companyId,\n    companyName: d.companyName,\n    country: '',\n    enrichmentSource: 'Manual review',\n    resolved: false,\n  }\n};\n"}},{"id":"ctry-update-hs","name":"Update HubSpot","type":"n8n-nodes-base.hubspot","typeVersion":2.2,"position":[4320,300],"parameters":{"authentication":"appToken","resource":"company","operation":"update","companyId":{"mode":"id","value":"={{ $json.companyId }}"},"updateFields":{"customPropertiesUi":{"customPropertiesValues":[{"property":"country","value":"={{ $json.country }}"},{"property":"countryenrichmentsource","value":"={{ $json.enrichmentSource }}"}]}}},"credentials":{"hubspotAppToken":{"id":"5ww8XNGf4HTQu4UI","name":"hubspot"}},"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"id":"ctry-preserve-result","name":"Preserve Result Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[4320,600],"parameters":{"jsCode":"\nconst d = $('Prepare Result').item.json;\nreturn {\n  json: {\n    companyId: d.companyId,\n    companyName: d.companyName,\n    country: d.country,\n    enrichmentSource: d.enrichmentSource,\n    resolved: d.resolved,\n  }\n};\n"}},{"id":"ctry-aggregate","name":"Aggregate All Results","type":"n8n-nodes-base.aggregate","typeVersion":4,"position":[4560,420],"parameters":{"aggregate":"aggregateAllItemData","options":{}}},{"id":"ctry-format-summary","name":"Format Summary Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[4800,420],"parameters":{"jsCode":"\nconst items = $json.data || [];\nconst resolved = items.filter(i => i.resolved);\nconst manual   = items.filter(i => !i.resolved);\n\nconst hubspotBase = 'https://app.hubspot.com/contacts/21554974/company/';\n\nlet msg = `🌍 *Country Retroactive Enrichment — Run Complete*\\n`;\nmsg += `*${resolved.length} classified · ${manual.length} need manual review*\\n\\n`;\n\nif (resolved.length > 0) {\n  msg += `✅ *Classified*\\n`;\n  for (const c of resolved) {\n    msg += `• ${c.companyName} → *${c.country}* (${c.enrichmentSource})\\n`;\n  }\n}\n\nif (manual.length > 0) {\n  msg += `\\n🚩 *Needs Manual Review*\\n`;\n  for (const c of manual) {\n    const url = hubspotBase + c.companyId;\n    msg += `• <${url}|${c.companyName}>\\n`;\n  }\n}\n\nreturn { json: { message: msg } };\n"}},{"id":"ctry-slack","name":"Send Summary Slack","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[5040,420],"parameters":{"operation":"post","select":"channel","channelId":{"__rl":true,"value":"C0AG86U9927","mode":"id"},"text":"={{ $json.message }}","otherOptions":{}},"credentials":{"slackApi":{"id":"lYs0WHzWk4c7z9Kk","name":"Slack"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Fetch 10 Uncategorized Companies","type":"main","index":0}]]},"Fetch 10 Uncategorized Companies":{"main":[[{"node":"Split Companies","type":"main","index":0}]]},"Split Companies":{"main":[[{"node":"Get Company Details","type":"main","index":0}]]},"Get Company Details":{"main":[[{"node":"Prepare Company Data","type":"main","index":0}]]},"Prepare Company Data":{"main":[[{"node":"Check Has Domain","type":"main","index":0}]]},"Check Has Domain":{"main":[[{"node":"Extract TLD Country","type":"main","index":0}],[{"node":"Check Has LinkedIn URL","type":"main","index":0}]]},"Extract TLD Country":{"main":[[{"node":"Check TLD Resolved","type":"main","index":0}]]},"Check TLD Resolved":{"main":[[{"node":"Prepare Result","type":"main","index":0}],[{"node":"Check Has LinkedIn URL","type":"main","index":0}]]},"Check Has LinkedIn URL":{"main":[[{"node":"Amplemarket LinkedIn API","type":"main","index":0}],[{"node":"Check Has Domain (Scraping)","type":"main","index":0}]]},"Amplemarket LinkedIn API":{"main":[[{"node":"Parse Amplemarket Country","type":"main","index":0}]]},"Parse Amplemarket Country":{"main":[[{"node":"Check Amplemarket Got Country","type":"main","index":0}]]},"Check Amplemarket Got Country":{"main":[[{"node":"Prepare Result","type":"main","index":0}],[{"node":"Check Has Domain (Scraping)","type":"main","index":0}]]},"Check Has Domain (Scraping)":{"main":[[{"node":"Website Scraping","type":"main","index":0}],[{"node":"Prepare Manual Review","type":"main","index":0}]]},"Website Scraping":{"main":[[{"node":"Prepare Gemini Input - Country","type":"main","index":0}]]},"Prepare Gemini Input - Country":{"main":[[{"node":"Gemini - Infer Country","type":"main","index":0}]]},"Gemini - Infer Country":{"main":[[{"node":"Parse Gemini Country","type":"main","index":0}]]},"Parse Gemini Country":{"main":[[{"node":"Check Gemini Got Country","type":"main","index":0}]]},"Check Gemini Got Country":{"main":[[{"node":"Prepare Result","type":"main","index":0}],[{"node":"Prepare Manual Review","type":"main","index":0}]]},"Prepare Result":{"main":[[{"node":"Update HubSpot","type":"main","index":0}]]},"Update HubSpot":{"main":[[{"node":"Aggregate All Results","type":"main","index":0}]]},"Prepare Manual Review":{"main":[[{"node":"Preserve Result Data","type":"main","index":0}]]},"Preserve Result Data":{"main":[[{"node":"Aggregate All Results","type":"main","index":0}]]},"Aggregate All Results":{"main":[[{"node":"Format Summary Message","type":"main","index":0}]]},"Format Summary Message":{"main":[[{"node":"Send Summary Slack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"ffbe6ea5-d989-4e5e-acd3-7dba1fcd9577","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-02-22T16:11:58.412Z","createdAt":"2026-02-22T16:11:58.412Z","role":"workflow:owner","workflowId":"SBCVJt431JqoysGl","projectId":"BgmK2k8flov6mZfH","project":{"updatedAt":"2026-01-28T14:25:33.079Z","createdAt":"2026-01-28T14:24:51.243Z","id":"BgmK2k8flov6mZfH","name":"Isaac  Hasbani <isaac.hasbani@legalfly.com>","type":"personal","icon":null,"description":null,"creatorId":"126c4214-1ca8-49c9-bb08-e723e54971d6","projectRelations":[{"updatedAt":"2026-01-28T14:24:51.246Z","createdAt":"2026-01-28T14:24:51.246Z","userId":"126c4214-1ca8-49c9-bb08-e723e54971d6","projectId":"BgmK2k8flov6mZfH","user":{"updatedAt":"2026-02-22T00:37:17.000Z","createdAt":"2026-01-28T14:24:51.237Z","id":"126c4214-1ca8-49c9-bb08-e723e54971d6","email":"isaac.hasbani@legalfly.com","firstName":"Isaac ","lastName":"Hasbani","personalizationAnswers":null,"settings":{"firstSuccessfulWorkflowId":"msnUQJ07NgfOdXls4nbW9","userActivated":true,"userActivatedAt":1770242998305,"easyAIWorkflowOnboarded":true,"npsSurvey":{"responded":true,"lastShownAt":1771197305297}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-22","isPending":false}}]}}],"tags":[],"activeVersion":null}