workflows/country-retroactive-enrichment/workflow.json
{
  "name": "Country Retroactive Enrichment",
  "nodes": [
    {
      "parameters": {},
      "id": "ctry-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/companies/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"filterGroups\": [{\"filters\": [{\"propertyName\": \"country\", \"operator\": \"NOT_HAS_PROPERTY\"}]}], \"properties\": [\"name\", \"domain\", \"hs_linkedin_company_page\", \"country\"], \"limit\": 1, \"after\": 0}",
        "options": {}
      },
      "id": "ctry-fetch",
      "name": "Fetch 10 Uncategorized Companies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        304
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "hubspotAppToken": {
          "id": "5ww8XNGf4HTQu4UI",
          "name": "hubspot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const results = $json.results || [];\nif (results.length === 0) return [{ json: { _empty: true } }];\nreturn results.map(c => ({ json: { id: c.id, ...c } }));"
      },
      "id": "ctry-split",
      "name": "Split Companies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "companyId",
              "type": "string",
              "value": "={{ $json.companyId || $json.id }}"
            },
            {
              "id": "f2",
              "name": "companyName",
              "type": "string",
              "value": "={{ $json.properties?.name || '' }}"
            },
            {
              "id": "f3",
              "name": "domain",
              "type": "string",
              "value": "={{ $json.properties?.domain || '' }}"
            },
            {
              "id": "f4",
              "name": "linkedinUrl",
              "type": "string",
              "value": "={{ $json.properties?.hs_linkedin_company_page || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ctry-prepare-data",
      "name": "Prepare Company Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d1",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.domain }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ctry-check-domain",
      "name": "Check Has Domain",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst tldToCountry = {\n  // Europe\n  'ac': 'United Kingdom', 'ad': 'Andorra', 'al': 'Albania', 'am': 'Armenia',\n  'at': 'Austria', 'ba': 'Bosnia and Herzegovina', 'be': 'Belgium',\n  'bg': 'Bulgaria', 'by': 'Belarus', 'ch': 'Switzerland', 'cy': 'Cyprus',\n  'cz': 'Czech Republic', 'de': 'Germany', 'dk': 'Denmark', 'ee': 'Estonia',\n  'es': 'Spain', 'fi': 'Finland', 'fr': 'France', 'ge': 'Georgia',\n  'gi': 'Gibraltar', 'gr': 'Greece', 'hr': 'Croatia', 'hu': 'Hungary',\n  'ie': 'Ireland', 'is': 'Iceland', 'it': 'Italy', 'li': 'Liechtenstein',\n  'lt': 'Lithuania', 'lu': 'Luxembourg', 'lv': 'Latvia', 'mc': 'Monaco',\n  'md': 'Moldova', 'me': 'Montenegro', 'mk': 'North Macedonia', 'mt': 'Malta',\n  'nl': 'Netherlands', 'no': 'Norway', 'pl': 'Poland', 'pt': 'Portugal',\n  'ro': 'Romania', 'rs': 'Serbia', 'ru': 'Russia', 'se': 'Sweden',\n  'si': 'Slovenia', 'sk': 'Slovakia', 'sm': 'San Marino', 'tr': 'Turkey',\n  'ua': 'Ukraine', 'uk': 'United Kingdom', 'va': 'Vatican City',\n  'xk': 'Kosovo',\n  // Americas\n  'ar': 'Argentina', 'bo': 'Bolivia', 'br': 'Brazil', 'ca': 'Canada',\n  'cl': 'Chile', 'co': 'Colombia', 'cr': 'Costa Rica', 'cu': 'Cuba',\n  'do': 'Dominican Republic', 'ec': 'Ecuador', 'gt': 'Guatemala',\n  'hn': 'Honduras', 'ht': 'Haiti', 'mx': 'Mexico', 'ni': 'Nicaragua',\n  'pa': 'Panama', 'pe': 'Peru', 'pr': 'Puerto Rico', 'py': 'Paraguay',\n  'sv': 'El Salvador', 'uy': 'Uruguay', 've': 'Venezuela',\n  // Asia-Pacific\n  'ae': 'United Arab Emirates', 'af': 'Afghanistan', 'au': 'Australia',\n  'az': 'Azerbaijan', 'bd': 'Bangladesh', 'bh': 'Bahrain', 'bn': 'Brunei',\n  'cn': 'China', 'hk': 'Hong Kong', 'id': 'Indonesia', 'il': 'Israel',\n  'in': 'India', 'iq': 'Iraq', 'ir': 'Iran', 'jo': 'Jordan', 'jp': 'Japan',\n  'kg': 'Kyrgyzstan', 'kh': 'Cambodia', 'kp': 'North Korea', 'kr': 'South Korea',\n  'kw': 'Kuwait', 'kz': 'Kazakhstan', 'la': 'Laos', 'lb': 'Lebanon',\n  'lk': 'Sri Lanka', 'mm': 'Myanmar', 'mn': 'Mongolia', 'mo': 'Macau',\n  'mv': 'Maldives', 'my': 'Malaysia', 'np': 'Nepal', 'nz': 'New Zealand',\n  'om': 'Oman', 'ph': 'Philippines', 'pk': 'Pakistan', 'qa': 'Qatar',\n  'sa': 'Saudi Arabia', 'sg': 'Singapore', 'sy': 'Syria', 'th': 'Thailand',\n  'tj': 'Tajikistan', 'tm': 'Turkmenistan', 'tw': 'Taiwan', 'uz': 'Uzbekistan',\n  'vn': 'Vietnam', 'ye': 'Yemen',\n  // Africa\n  'ao': 'Angola', 'bj': 'Benin', 'bf': 'Burkina Faso', 'bi': 'Burundi',\n  'cm': 'Cameroon', 'cd': 'DR Congo', 'cg': 'Congo', 'ci': 'Ivory Coast',\n  'dz': 'Algeria', 'eg': 'Egypt', 'et': 'Ethiopia', 'gh': 'Ghana',\n  'gn': 'Guinea', 'ke': 'Kenya', 'ly': 'Libya', 'ma': 'Morocco',\n  'mg': 'Madagascar', 'ml': 'Mali', 'mz': 'Mozambique', 'na': 'Namibia',\n  'ne': 'Niger', 'ng': 'Nigeria', 'rw': 'Rwanda', 'sd': 'Sudan',\n  'sn': 'Senegal', 'so': 'Somalia', 'ss': 'South Sudan', 'tz': 'Tanzania',\n  'ug': 'Uganda', 'za': 'South Africa', 'zm': 'Zambia', 'zw': 'Zimbabwe',\n};\n\n// Generic TLDs that carry no country signal\nconst genericTLDs = new Set([\n  'com','net','org','edu','gov','mil','int','info','biz','name','pro',\n  'aero','coop','museum','io','co','ai','app','dev','tech','online',\n  'site','web','shop','store','cloud','digital','global','world',\n  'media','agency','studio','group','team','solutions','services',\n  'consulting','management','finance','health','legal','law',\n]);\n\nconst data = $('Prepare Company Data').item.json;\nconst domain = data.domain || '';\n\nlet countryFromTLD = '';\nlet tldUsed = '';\n\nif (domain) {\n  const parts = domain.toLowerCase().replace(/^www\\./, '').split('.');\n  // Check second-level country TLDs first (e.g. co.uk, com.au, org.uk)\n  if (parts.length >= 3) {\n    const secondLevel = parts[parts.length - 2];\n    const tld = parts[parts.length - 1];\n    if (['co','com','org','net','gov','ac','me','ne'].includes(secondLevel) && tldToCountry[tld]) {\n      countryFromTLD = tldToCountry[tld];\n      tldUsed = secondLevel + '.' + tld;\n    }\n  }\n  // Check simple TLD\n  if (!countryFromTLD && parts.length >= 2) {\n    const tld = parts[parts.length - 1];\n    if (!genericTLDs.has(tld) && tldToCountry[tld]) {\n      countryFromTLD = tldToCountry[tld];\n      tldUsed = tld;\n    }\n  }\n}\n\nreturn {\n  json: {\n    ...data,\n    countryFromTLD,\n    tldUsed,\n  }\n};\n"
      },
      "id": "ctry-extract-tld",
      "name": "Extract TLD Country",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "t1",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.countryFromTLD }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ctry-check-tld",
      "name": "Check TLD Resolved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "l1",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.linkedinUrl }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ctry-check-linkedin",
      "name": "Check Has LinkedIn URL",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2112,
        912
      ]
    },
    {
      "parameters": {
        "url": "https://api.amplemarket.com/companies/find",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "linkedin_url",
              "value": "={{ $json.linkedinUrl }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ctry-amplemarket",
      "name": "Amplemarket LinkedIn API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2720,
        512
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Jx7A2XtklZuWBopq",
          "name": "amplemarket"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $json;\nconst companyData = $('Prepare Company Data').item.json;\n\n// Find primary location, fall back to first location\nconst locations = data.locations || [];\nconst primary = locations.find(l => l.is_primary) || locations[0] || {};\nconst countryFromAmplemarket = primary.country || '';\n\nreturn {\n  json: {\n    ...companyData,\n    countryFromAmplemarket,\n  }\n};\n"
      },
      "id": "ctry-parse-amplemarket",
      "name": "Parse Amplemarket Country",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        512
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a1",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.countryFromAmplemarket }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ctry-check-amp-country",
      "name": "Check Amplemarket Got Country",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3200,
        512
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://r.jina.ai/https://' + $('Prepare Company Data').item.json.domain }}",
        "options": {}
      },
      "id": "ctry-jina-scrape",
      "name": "Website Scraping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5264,
        608
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst companyData = $('Prepare Company Data').item.json;\nconst websiteContent = ($('Website Scraping').item.json.data || '')\n  .replace(/!\\[([^\\]]*)\\]\\(([^)]+)\\)/g, '$2')  // keep image URLs, drop alt text\n  .replace(/\\[([^\\]]*)\\]\\(([^)]+)\\)/g, '$1 $2') // keep both link text and URL\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim()\n  .substring(0, 6000);\n\nconst prompt = `You are an expert at identifying the headquarters country of a company from its website content.\n\nCOMPANY: ${companyData.companyName}\nDOMAIN: ${companyData.domain}\n\nWEBSITE CONTENT:\n${websiteContent || 'Not available'}\n\nTASK: Identify the single country where this company's headquarters is located.\n\nSIGNAL PRIORITY (apply in this order):\n1. Physical address or registered office explicitly mentioned on the page\n2. Phone number country code or local format (e.g. +49 = Germany, +44 = UK)\n3. VAT number format, company registration number format\n4. CDN or storage URLs containing region hints (e.g. s3-eu-west-1 = Ireland, s3.ap-southeast-1 = Singapore)\n5. Language of the website content (weakest signal — only use if nothing else found)\n\nRULES:\n- Return ONLY the full country name in English (e.g. \"Germany\", \"United Kingdom\", \"United States\")\n- If the company operates in multiple countries, return the headquarters country only\n- If you cannot determine the country with reasonable confidence, return exactly: UNKNOWN\n- No explanation, no punctuation, just the country name or UNKNOWN\n\nYour response:`;\n\nreturn {\n  json: {\n    companyId: companyData.companyId,\n    companyName: companyData.companyName,\n    domain: companyData.domain,\n    linkedinUrl: companyData.linkedinUrl,\n    prompt\n  }\n};\n"
      },
      "id": "ctry-prep-gemini",
      "name": "Prepare Gemini Input - Country",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6000,
        608
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }], generationConfig: { temperature: 0.3 } }) }}",
        "options": {}
      },
      "id": "ctry-gemini",
      "name": "Gemini - Infer Country",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6224,
        608
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "googlePalmApi": {
          "id": "QnUjlFnc4gypgplL",
          "name": "Gemini"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst geminiText = ($json?.candidates?.[0]?.content?.parts?.[0]?.text || '').trim();\nconst companyData = $('Prepare Company Data').item.json;\n\nconst countryFromGemini = (geminiText && geminiText !== 'UNKNOWN') ? geminiText : '';\n\nreturn {\n  json: {\n    companyId: companyData.companyId,\n    companyName: companyData.companyName,\n    domain: companyData.domain,\n    linkedinUrl: companyData.linkedinUrl,\n    countryFromGemini,\n  }\n};\n"
      },
      "id": "ctry-parse-gemini",
      "name": "Parse Gemini Country",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6464,
        608
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "g1",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.countryFromGemini }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ctry-check-gemini-country",
      "name": "Check Gemini Got Country",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6704,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst d = $input.item.json;\nconst country = d.countryFromTLD || d.countryFromName || d.countryFromAmplemarket || d.countryFromAmplemarketDomain || d.countryFromGemini || '';\n\nlet enrichmentSource = '';\nif (d.countryFromTLD)                    enrichmentSource = 'Domain code';\nelse if (d.countryFromName)              enrichmentSource = 'Company name';\nelse if (d.countryFromAmplemarket)       enrichmentSource = 'Linkedin';\nelse if (d.countryFromAmplemarketDomain) enrichmentSource = 'Amplemarket domain';\nelse if (d.countryFromGemini)            enrichmentSource = 'Website';\n\nreturn {\n  json: {\n    companyId: d.companyId,\n    companyName: d.companyName,\n    country,\n    enrichmentSource,\n    resolved: true,\n  }\n};\n"
      },
      "id": "ctry-prepare-result",
      "name": "Prepare Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7232,
        -832
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst d = $input.item.json;\nreturn {\n  json: {\n    companyId: d.companyId,\n    companyName: d.companyName,\n    country: '',\n    enrichmentSource: 'Manual review',\n    resolved: false,\n  }\n};\n"
      },
      "id": "ctry-prepare-manual",
      "name": "Prepare Manual Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7856,
        1120
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst d = $input.item.json;\nreturn {\n  json: {\n    companyId: d.companyId,\n    companyName: d.companyName,\n    country: d.country,\n    enrichmentSource: d.enrichmentSource,\n    resolved: d.resolved,\n  }\n};\n"
      },
      "id": "ctry-preserve-result",
      "name": "Preserve Result Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8656,
        1120
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "ctry-aggregate",
      "name": "Aggregate All Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        8896,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $json.data || [];\nconst resolved = items.filter(i => i.resolved);\nconst manual   = items.filter(i => !i.resolved);\n\nconst hubspotBase = 'https://app.hubspot.com/contacts/142047914/company/';\n\nlet msg = `🌍 *Country Retroactive Enrichment — Run Complete*\\n`;\nmsg += `*${resolved.length} classified · ${manual.length} need manual review*\\n\\n`;\n\nif (resolved.length > 0) {\n  msg += `✅ *Classified*\\n`;\n  for (const c of resolved) {\n    const url = hubspotBase + c.companyId;\n    msg += `• <${url}|${c.companyName}> → *${c.country}* (${c.enrichmentSource})\\n`;\n  }\n}\n\nif (manual.length > 0) {\n  msg += `\\n🚩 *Needs Manual Review*\\n`;\n  for (const c of manual) {\n    const url = hubspotBase + c.companyId;\n    msg += `• <${url}|${c.companyName}>\\n`;\n  }\n}\n\nreturn { json: { message: msg } };\n"
      },
      "id": "ctry-format-summary",
      "name": "Format Summary Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9136,
        560
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AG86U9927",
          "mode": "id"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {}
      },
      "id": "ctry-slack",
      "name": "Send Summary Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        9376,
        560
      ],
      "webhookId": "bdc85ad4-4607-4c01-80d9-24d1df08e9e1",
      "credentials": {
        "slackApi": {
          "id": "lYs0WHzWk4c7z9Kk",
          "name": "Slack"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "da1",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.domain }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ctry-check-domain-amp",
      "name": "Check Has Domain for Amplemarket",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3488,
        1072
      ]
    },
    {
      "parameters": {
        "url": "https://api.amplemarket.com/companies/find",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $json.domain }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ctry-amplemarket-domain",
      "name": "Amplemarket Domain API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4352,
        528
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Jx7A2XtklZuWBopq",
          "name": "amplemarket"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst companyData = $('Prepare Company Data').item.json;\n\nconst locations = data.locations || [];\nconst primary = locations.find(l => l.is_primary) || locations[0] || {};\nconst countryFromAmplemarket = primary.country || '';\n\nreturn {\n  json: {\n    ...companyData,\n    countryFromAmplemarket,\n  }\n};"
      },
      "id": "ctry-parse-amp-domain",
      "name": "Parse Amplemarket Domain Country",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4592,
        528
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "adc1",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.countryFromAmplemarket }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ctry-check-amp-domain-country",
      "name": "Check Amplemarket Domain Got Country",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4832,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst countries = [\n  'Afghanistan','Albania','Algeria','Andorra','Angola','Argentina','Armenia',\n  'Australia','Austria','Azerbaijan','Bahrain','Bangladesh','Belarus','Belgium',\n  'Belize','Bolivia','Bosnia','Botswana','Brazil','Brunei','Bulgaria',\n  'Cambodia','Cameroon','Canada','Chile','China','Colombia','Costa Rica',\n  'Croatia','Cuba','Cyprus','Czech Republic','Denmark','Dominican Republic',\n  'Ecuador','Egypt','El Salvador','Estonia','Ethiopia','Finland','France',\n  'Georgia','Germany','Ghana','Greece','Guatemala','Honduras','Hong Kong',\n  'Hungary','Iceland','India','Indonesia','Iran','Iraq','Ireland','Israel',\n  'Italy','Jamaica','Japan','Jordan','Kazakhstan','Kenya','Kuwait',\n  'Kyrgyzstan','Latvia','Lebanon','Libya','Liechtenstein','Lithuania',\n  'Luxembourg','Macau','Malaysia','Maldives','Malta','Mexico','Moldova',\n  'Monaco','Mongolia','Montenegro','Morocco','Mozambique','Myanmar','Nepal',\n  'Netherlands','New Zealand','Nicaragua','Nigeria','North Korea',\n  'North Macedonia','Norway','Oman','Pakistan','Panama','Paraguay','Peru',\n  'Philippines','Poland','Portugal','Qatar','Romania','Russia','Rwanda',\n  'Saudi Arabia','Senegal','Serbia','Singapore','Slovakia','Slovenia',\n  'Somalia','South Africa','South Korea','Spain','Sri Lanka','Sudan',\n  'Sweden','Switzerland','Syria','Taiwan','Tajikistan','Tanzania','Thailand',\n  'Turkey','Turkmenistan','Uganda','Ukraine','United Arab Emirates',\n  'United Kingdom','United States','Uruguay','Uzbekistan','Venezuela',\n  'Vietnam','Yemen','Zambia','Zimbabwe',\n];\n\nconst data = $('Prepare Company Data').item.json;\nconst name = (data.companyName || '').toLowerCase();\nlet countryFromName = '';\n\nfor (const c of countries) {\n  if (name.includes(c.toLowerCase())) {\n    countryFromName = c;\n    break;\n  }\n}\n\nreturn { json: { ...data, countryFromName } };\n"
      },
      "id": "ctry-extract-name",
      "name": "Extract Country from Name",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cn1",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.countryFromName }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ctry-check-name",
      "name": "Check Name Got Country",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2000,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst content = $json.data || '';\nconst companyData = $('Prepare Company Data').item.json;\n\nconst match = content.match(/https?:\\/\\/(?:www\\.)?linkedin\\.com\\/company\\/[a-zA-Z0-9_%-]+(?:\\/[a-zA-Z0-9_%-]*)*/i);\nconst raw = match ? match[0] : '';\n\n// Reject numeric-only IDs (e.g. /company/68697181) — Amplemarket needs slugs\nconst slug = raw.split('/company/')[1]?.split('/')[0] || '';\nconst linkedinFromWebsite = /^\\d+$/.test(slug) ? '' : raw;\n\nreturn {\n  json: {\n    ...companyData,\n    linkedinUrl: linkedinFromWebsite || companyData.linkedinUrl,\n    linkedinFromWebsite,\n  }\n};\n"
      },
      "id": "ctry-extract-linkedin",
      "name": "Extract LinkedIn from Website",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5504,
        608
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "lw1",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.linkedinFromWebsite }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ctry-check-linkedin-website",
      "name": "Check LinkedIn Found in Website",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5744,
        608
      ]
    },
    {
      "parameters": {
        "url": "https://api.amplemarket.com/companies/find",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "linkedin_url",
              "value": "={{ $json.linkedinFromWebsite }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ctry-amp-linkedin-web",
      "name": "Amplemarket LinkedIn (Website)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5984,
        368
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Jx7A2XtklZuWBopq",
          "name": "amplemarket"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $json;\nconst companyData = $('Prepare Company Data').item.json;\n\nconst locations = data.locations || [];\nconst primary = locations.find(l => l.is_primary) || locations[0] || {};\nconst countryFromAmplemarket = primary.country || '';\n\nreturn {\n  json: {\n    ...companyData,\n    countryFromAmplemarket,\n  }\n};\n"
      },
      "id": "ctry-parse-amp-web",
      "name": "Parse Amplemarket Country (Website)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6224,
        368
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "aw1",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.countryFromAmplemarket }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ctry-check-amp-web",
      "name": "Check Amplemarket Got Country (Website)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6480,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst d = $('Prepare Result').item.json;\nreturn {\n  json: {\n    companyId: d.companyId,\n    companyName: d.companyName,\n    country: d.country,\n    enrichmentSource: d.enrichmentSource,\n    resolved: true,\n  }\n};\n"
      },
      "id": "ctry-preserve-enrichment",
      "name": "Preserve Enrichment Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7424,
        128
      ]
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "company",
        "operation": "update",
        "companyId": {
          "mode": "id",
          "value": "={{ $json.companyId }}"
        },
        "updateFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "country",
                "value": "={{ $json.country }}"
              },
              {
                "property": "countryenrichmentsource",
                "value": "={{ $json.enrichmentSource }}"
              }
            ]
          }
        }
      },
      "id": "ctry-update-hs",
      "name": "Update HubSpot",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        7184,
        128
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "hubspotAppToken": {
          "id": "5ww8XNGf4HTQu4UI",
          "name": "hubspot"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Fetch 10 Uncategorized Companies", "type": "main", "index": 0}]]
    },
    "Fetch 10 Uncategorized Companies": {
      "main": [[{"node": "Split Companies", "type": "main", "index": 0}]]
    },
    "Split Companies": {
      "main": [[{"node": "Prepare Company Data", "type": "main", "index": 0}]]
    },
    "Prepare Company Data": {
      "main": [[{"node": "Check Has Domain", "type": "main", "index": 0}]]
    },
    "Check Has Domain": {
      "main": [
        [{"node": "Extract TLD Country", "type": "main", "index": 0}],
        [{"node": "Extract Country from Name", "type": "main", "index": 0}]
      ]
    },
    "Extract TLD Country": {
      "main": [[{"node": "Check TLD Resolved", "type": "main", "index": 0}]]
    },
    "Check TLD Resolved": {
      "main": [
        [{"node": "Prepare Result", "type": "main", "index": 0}],
        [{"node": "Extract Country from Name", "type": "main", "index": 0}]
      ]
    },
    "Extract Country from Name": {
      "main": [[{"node": "Check Name Got Country", "type": "main", "index": 0}]]
    },
    "Check Name Got Country": {
      "main": [
        [{"node": "Prepare Result", "type": "main", "index": 0}],
        [{"node": "Check Has LinkedIn URL", "type": "main", "index": 0}]
      ]
    },
    "Check Has LinkedIn URL": {
      "main": [
        [{"node": "Amplemarket LinkedIn API", "type": "main", "index": 0}],
        [{"node": "Check Has Domain for Amplemarket", "type": "main", "index": 0}]
      ]
    },
    "Amplemarket LinkedIn API": {
      "main": [[{"node": "Parse Amplemarket Country", "type": "main", "index": 0}]]
    },
    "Parse Amplemarket Country": {
      "main": [[{"node": "Check Amplemarket Got Country", "type": "main", "index": 0}]]
    },
    "Check Amplemarket Got Country": {
      "main": [
        [{"node": "Prepare Result", "type": "main", "index": 0}],
        [{"node": "Check Has Domain for Amplemarket", "type": "main", "index": 0}]
      ]
    },
    "Check Has Domain for Amplemarket": {
      "main": [
        [{"node": "Amplemarket Domain API", "type": "main", "index": 0}],
        [{"node": "Prepare Manual Review", "type": "main", "index": 0}]
      ]
    },
    "Amplemarket Domain API": {
      "main": [[{"node": "Parse Amplemarket Domain Country", "type": "main", "index": 0}]]
    },
    "Parse Amplemarket Domain Country": {
      "main": [[{"node": "Check Amplemarket Domain Got Country", "type": "main", "index": 0}]]
    },
    "Check Amplemarket Domain Got Country": {
      "main": [
        [{"node": "Prepare Result", "type": "main", "index": 0}],
        [{"node": "Website Scraping", "type": "main", "index": 0}]
      ]
    },
    "Website Scraping": {
      "main": [[{"node": "Extract LinkedIn from Website", "type": "main", "index": 0}]]
    },
    "Extract LinkedIn from Website": {
      "main": [[{"node": "Check LinkedIn Found in Website", "type": "main", "index": 0}]]
    },
    "Check LinkedIn Found in Website": {
      "main": [
        [{"node": "Amplemarket LinkedIn (Website)", "type": "main", "index": 0}],
        [{"node": "Prepare Gemini Input - Country", "type": "main", "index": 0}]
      ]
    },
    "Amplemarket LinkedIn (Website)": {
      "main": [[{"node": "Parse Amplemarket Country (Website)", "type": "main", "index": 0}]]
    },
    "Parse Amplemarket Country (Website)": {
      "main": [[{"node": "Check Amplemarket Got Country (Website)", "type": "main", "index": 0}]]
    },
    "Check Amplemarket Got Country (Website)": {
      "main": [
        [{"node": "Prepare Result", "type": "main", "index": 0}],
        [{"node": "Prepare Gemini Input - Country", "type": "main", "index": 0}]
      ]
    },
    "Prepare Gemini Input - Country": {
      "main": [[{"node": "Gemini - Infer Country", "type": "main", "index": 0}]]
    },
    "Gemini - Infer Country": {
      "main": [[{"node": "Parse Gemini Country", "type": "main", "index": 0}]]
    },
    "Parse Gemini Country": {
      "main": [[{"node": "Check Gemini Got Country", "type": "main", "index": 0}]]
    },
    "Check Gemini Got Country": {
      "main": [
        [{"node": "Prepare Result", "type": "main", "index": 0}],
        [{"node": "Prepare Manual Review", "type": "main", "index": 0}]
      ]
    },
    "Prepare Result": {
      "main": [[{"node": "Update HubSpot", "type": "main", "index": 0}]]
    },
    "Update HubSpot": {
      "main": [[{"node": "Preserve Enrichment Data", "type": "main", "index": 0}]]
    },
    "Preserve Enrichment Data": {
      "main": [[{"node": "Aggregate All Results", "type": "main", "index": 0}]]
    },
    "Prepare Manual Review": {
      "main": [[{"node": "Preserve Result Data", "type": "main", "index": 0}]]
    },
    "Preserve Result Data": {
      "main": [[{"node": "Aggregate All Results", "type": "main", "index": 0}]]
    },
    "Aggregate All Results": {
      "main": [[{"node": "Format Summary Message", "type": "main", "index": 0}]]
    },
    "Format Summary Message": {
      "main": [[{"node": "Send Summary Slack", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "82310d38-57f8-4413-ae2d-fd089e850c46",
  "meta": {
    "instanceId": "1c614ffbaa74dc7b329196566d86f2ebdc830e7ef4cc70cc01f324f4043c7c50"
  },
  "id": "SBCVJt431JqoysGl",
  "tags": []
}
