workflows/country-retroactive-enrichment/workflow-v2.1.json
{
  "name": "Country Retroactive Enrichment v2.1",
  "nodes": [
    {"parameters":{},"id":"v2-trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1808,304]},
    {"parameters":{"jsCode":"return {\n  json: {\n    after: null,\n    allCompanies: [],\n    pageCount: 0,\n    maxPages: 1\n  }\n};"},"id":"v2-init","name":"Initialize State","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1504,304]},
    {"parameters":{"mode":"runOnceForEachItem","jsCode":"return {\n  json: {\n    after: $json.after || null,\n    allCompanies: $json.allCompanies || [],\n    pageCount: $json.pageCount || 0,\n    maxPages: $json.maxPages || 2\n  }\n};"},"id":"v2-pass","name":"Pass State","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1200,304]},
    {"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/companies/search","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'country', operator: 'NOT_HAS_PROPERTY' }] }], properties: ['name', 'domain'], limit: 1, ...($json.after ? { after: $json.after } : {}) }) }}","options":{}},"id":"v2-fetch","name":"Fetch Companies Page","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-896,304],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"hubspotAppToken":{"id":"5ww8XNGf4HTQu4UI","name":"hubspot"}},"onError":"continueRegularOutput"},
    {"parameters":{"mode":"runOnceForEachItem","jsCode":"const apiResponse = $json;\nconst passStateData = $('Pass State').item.json;\n\nconst prevCompanies = passStateData.allCompanies || [];\nconst newCompanies = apiResponse.results || [];\nconst pageCount = (passStateData.pageCount || 0) + 1;\nconst maxPages = passStateData.maxPages || 2;\n\nconst rawCursor = apiResponse.paging?.next?.after || null;\nconst cursor = (pageCount < maxPages) ? rawCursor : null;\n\nreturn {\n  json: {\n    after: cursor,\n    allCompanies: [...prevCompanies, ...newCompanies],\n    pageCount,\n    maxPages\n  }\n};"},"id":"v2-accumulate","name":"Accumulate Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[-608,304]},
    {"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"more-check","operator":{"type":"string","operation":"notEmpty"},"leftValue":"={{ $json.after || '' }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"v2-if-more","name":"IF More Pages","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-304,304]},
    {"parameters":{"jsCode":"const allCompanies = $input.first().json.allCompanies || [];\nif (allCompanies.length === 0) return [{ json: { _empty: true } }];\nreturn allCompanies.map(company => ({\n  json: {\n    id: String(company.id),\n    properties: company.properties || {}\n  }\n}));"},"id":"v2-split","name":"Split All Companies","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,304]},
    {"parameters":{"assignments":{"assignments":[{"id":"f1","name":"companyId","type":"string","value":"={{ $json.id }}"},{"id":"f2","name":"companyName","type":"string","value":"={{ ($json.properties || {}).name || '' }}"},{"id":"f3","name":"domain","type":"string","value":"={{ ($json.properties || {}).domain || '' }}"}]},"options":{}},"id":"v2-prepare","name":"Prepare Company Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,304]},
    {"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"d1","operator":{"type":"string","operation":"notEmpty"},"leftValue":"={{ $json.domain }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"v2-check-domain","name":"Check Has Domain","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[608,304]},
    {"parameters":{"mode":"runOnceForEachItem","jsCode":"const tldMap = {\n  '.be': 'Belgium', '.de': 'Germany', '.fr': 'France', '.nl': 'Netherlands', '.uk': 'United Kingdom',\n  '.it': 'Italy', '.es': 'Spain', '.at': 'Austria', '.ch': 'Switzerland', '.se': 'Sweden',\n  '.no': 'Norway', '.dk': 'Denmark', '.fi': 'Finland', '.pl': 'Poland', '.pt': 'Portugal',\n  '.ie': 'Ireland', '.cz': 'Czech Republic', '.ro': 'Romania', '.hu': 'Hungary', '.bg': 'Bulgaria',\n  '.hr': 'Croatia', '.sk': 'Slovakia', '.si': 'Slovenia', '.lt': 'Lithuania', '.lv': 'Latvia',\n  '.ee': 'Estonia', '.lu': 'Luxembourg', '.mt': 'Malta', '.cy': 'Cyprus', '.gr': 'Greece',\n  '.jp': 'Japan', '.cn': 'China', '.kr': 'South Korea', '.in': 'India', '.au': 'Australia',\n  '.nz': 'New Zealand', '.ca': 'Canada', '.br': 'Brazil', '.mx': 'Mexico', '.ar': 'Argentina',\n  '.za': 'South Africa', '.ru': 'Russia', '.ua': 'Ukraine', '.tr': 'Turkey', '.il': 'Israel',\n  '.ae': 'United Arab Emirates', '.sa': 'Saudi Arabia', '.sg': 'Singapore', '.hk': 'Hong Kong',\n  '.tw': 'Taiwan', '.th': 'Thailand', '.my': 'Malaysia', '.ph': 'Philippines', '.id': 'Indonesia',\n  '.vn': 'Vietnam', '.co': 'Colombia', '.cl': 'Chile', '.pe': 'Peru', '.eg': 'Egypt',\n  '.ng': 'Nigeria', '.ke': 'Kenya', '.pk': 'Pakistan', '.bd': 'Bangladesh', '.lk': 'Sri Lanka',\n  '.co.uk': 'United Kingdom', '.co.jp': 'Japan', '.co.kr': 'South Korea',\n  '.co.in': 'India', '.co.za': 'South Africa', '.co.nz': 'New Zealand',\n  '.com.au': 'Australia', '.com.br': 'Brazil', '.com.mx': 'Mexico',\n  '.com.ar': 'Argentina', '.com.tr': 'Turkey', '.com.cn': 'China'\n};\nconst genericTLDs = ['.com','.org','.net','.io','.co','.app','.dev','.tech','.ai','.info','.biz','.xyz','.online','.site','.cloud','.digital','.global','.world','.pro','.solutions'];\nconst data = $('Prepare Company Data').item.json;\nconst domain = (data.domain || '').toLowerCase().trim();\nlet countryFromTLD = '';\nif (domain) {\n  for (const [tld, country] of Object.entries(tldMap)) {\n    if (tld.includes('.') && tld.split('.').length > 2 && domain.endsWith(tld)) {\n      countryFromTLD = country; break;\n    }\n  }\n  if (!countryFromTLD) {\n    const lastDot = domain.lastIndexOf('.');\n    if (lastDot !== -1) {\n      const tld = domain.substring(lastDot);\n      if (!genericTLDs.includes(tld) && tldMap[tld]) countryFromTLD = tldMap[tld];\n    }\n  }\n}\nreturn { json: { ...data, countryFromTLD } };"},"id":"v2-tld","name":"Extract TLD Country","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,112]},
    {"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"t1","operator":{"type":"string","operation":"notEmpty"},"leftValue":"={{ $json.countryFromTLD }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"v2-check-tld","name":"Check TLD Resolved","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1200,112]},
    {"parameters":{"mode":"runOnceForEachItem","jsCode":"const countries = ['Afghanistan','Albania','Algeria','Andorra','Angola','Argentina','Armenia','Australia','Austria','Azerbaijan','Bahrain','Bangladesh','Belarus','Belgium','Belize','Bolivia','Bosnia','Botswana','Brazil','Brunei','Bulgaria','Cambodia','Cameroon','Canada','Chile','China','Colombia','Costa Rica','Croatia','Cuba','Cyprus','Czech Republic','Denmark','Dominican Republic','Ecuador','Egypt','El Salvador','Estonia','Ethiopia','Finland','France','Georgia','Germany','Ghana','Greece','Guatemala','Honduras','Hong Kong','Hungary','Iceland','India','Indonesia','Iran','Iraq','Ireland','Israel','Italy','Jamaica','Japan','Jordan','Kazakhstan','Kenya','Kuwait','Kyrgyzstan','Latvia','Lebanon','Libya','Liechtenstein','Lithuania','Luxembourg','Macau','Malaysia','Maldives','Malta','Mexico','Moldova','Monaco','Mongolia','Montenegro','Morocco','Mozambique','Myanmar','Nepal','Netherlands','New Zealand','Nicaragua','Nigeria','North Korea','North Macedonia','Norway','Oman','Pakistan','Panama','Paraguay','Peru','Philippines','Poland','Portugal','Qatar','Romania','Russia','Rwanda','Saudi Arabia','Senegal','Serbia','Singapore','Slovakia','Slovenia','Somalia','South Africa','South Korea','Spain','Sri Lanka','Sudan','Sweden','Switzerland','Syria','Taiwan','Tajikistan','Tanzania','Thailand','Turkey','Turkmenistan','Uganda','Ukraine','United Arab Emirates','United Kingdom','United States','Uruguay','Uzbekistan','Venezuela','Vietnam','Yemen','Zambia','Zimbabwe'];\nconst data = $('Prepare Company Data').item.json;\nconst name = (data.companyName || '').toLowerCase();\nlet countryFromName = '';\nfor (const c of countries) { if (name.includes(c.toLowerCase())) { countryFromName = c; break; } }\nreturn { json: { ...data, countryFromName } };"},"id":"v2-name-scan","name":"Extract Country from Name","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,512]},
    {"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"cn1","operator":{"type":"string","operation":"notEmpty"},"leftValue":"={{ $json.countryFromName }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"v2-check-name","name":"Check Name Got Country","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1504,512]},
    {"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"da1","operator":{"type":"string","operation":"notEmpty"},"leftValue":"={{ $json.domain || $('Prepare Company Data').item.json.domain }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"v2-check-domain-amp","name":"Check Has Domain for Amplemarket","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2144,624]},
    {"parameters":{"url":"https://api.amplemarket.com/companies/find","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"domain","value":"={{ $('Prepare Company Data').item.json.domain }}"}]},"options":{}},"id":"v2-amp-domain","name":"Amplemarket Domain API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3408,256],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"httpHeaderAuth":{"id":"Jx7A2XtklZuWBopq","name":"amplemarket"}},"onError":"continueRegularOutput"},
    {"parameters":{"mode":"runOnceForEachItem","jsCode":"const data = $json;\nconst companyData = $('Prepare Company Data').item.json;\nconst locations = data.locations || [];\nconst primary = locations.find(l => l.is_primary) || locations[0] || {};\nconst countryFromAmplemarket = primary.country || '';\nreturn { json: { ...companyData, countryFromAmplemarket } };"},"id":"v2-parse-amp","name":"Parse Amplemarket Country","type":"n8n-nodes-base.code","typeVersion":2,"position":[3696,256]},
    {"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"ac1","operator":{"type":"string","operation":"notEmpty"},"leftValue":"={{ $json.countryFromAmplemarket }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"v2-check-amp","name":"Check Amplemarket Got Country","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4000,256]},
    {"parameters":{"url":"=https://r.jina.ai/https://{{ $('Prepare Company Data').item.json.domain }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer jina_9ae8ea3f586c4f8fa74de923bcc06987Ip-I9kIDfze87rW7Q6bqpBMFJIhW"},{"name":"Accept","value":"application/json"},{"name":"X-Return-Format","value":"markdown"}]},"options":{}},"id":"v2-jina-scrape","name":"Jina Website Scrape","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4400,256],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueRegularOutput"},
    {"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"cw1","operator":{"type":"string","operation":"notEmpty"},"leftValue":"={{ ($json.data || {}).content || '' }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"v2-check-website","name":"Check Website Data","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4700,256]},
    {"parameters":{"url":"https://s.jina.ai/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer jina_9ae8ea3f586c4f8fa74de923bcc06987Ip-I9kIDfze87rW7Q6bqpBMFJIhW"},{"name":"Accept","value":"application/json"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('Prepare Company Data').item.json.companyName + ' headquarters country' }}"}]},"options":{}},"id":"v2-jina-search","name":"Jina Web Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4700,700],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"onError":"continueRegularOutput"},
    {"parameters":{"mode":"runOnceForEachItem","jsCode":"const companyData = $('Prepare Company Data').item.json;\nconst companyName = companyData.companyName || '';\nconst domain = companyData.domain || '';\nlet content = '';\nlet contentSource = '';\ntry {\n  const scrapeData = $('Jina Website Scrape').item.json;\n  const webContent = (scrapeData.data || {}).content || '';\n  if (typeof webContent === 'string' && webContent.trim().length > 50) {\n    content = webContent;\n    contentSource = 'website';\n  }\n} catch(e) {}\nif (!content) {\n  try {\n    const searchData = $('Jina Web Search').item.json;\n    const results = searchData.data || [];\n    if (Array.isArray(results)) {\n      content = results.slice(0, 5).map(r => (r.title || '') + '\\n' + (r.content || r.description || '')).join('\\n\\n');\n    } else if (typeof results === 'string') {\n      content = results;\n    }\n    if (content.trim()) contentSource = 'search';\n  } catch(e) {}\n}\ncontent = content.replace(/!\\[.*?\\]\\(.*?\\)/g, '').replace(/https?:\\/\\/[^\\s)]+\\.(png|jpg|jpeg|gif|svg|webp|ico)[^\\s)]*/gi, '').replace(/cookie[s]?\\s*(policy|notice|consent|banner|settings)[^\\n]*/gi, '').replace(/\\n{3,}/g, '\\n\\n').trim();\nconst maxChars = contentSource === 'search' ? 2000 : 3000;\nif (content.length > maxChars) content = content.substring(0, maxChars) + '... [truncated]';\nconst prompt = `You are an expert at identifying the headquarters country of companies.\\nBelow is web content scraped from this company\\'s online presence.\\n\\nCOMPANY: ${companyName}\\nDOMAIN: ${domain || 'Not provided'}\\n\\nWEB CONTENT:\\n${content || 'No content available'}\\n\\nBased ONLY on the web content above, identify the headquarters country.\\n\\nLOOK FOR (in order of reliability):\\n1. Physical address or registered office mentioned on the page\\n2. Phone number with international country code\\n3. VAT number, company registration number, or tax ID format\\n4. Legal entity type (e.g., GmbH, Ltd, BV, NV, SRL, SA, AB, Pty, Inc, LLC)\\n5. Language and regional formatting clues (currency symbols, date formats)\\n\\nRESPONSE (JSON only, no markdown):\\n{\"country\": \"<full country name>\", \"evidence\": \"<quote the specific text from the content that confirmed this>\"}\\n\\nRULES:\\n- Base your answer ONLY on the provided web content — do NOT use your own knowledge\\n- Use full English country names (e.g., \"United Kingdom\", not \"UK\")\\n- The evidence field MUST quote actual text from the page, not your reasoning\\n- If the content doesn\\'t contain clear country indicators: {\"country\": \"Unknown\", \"evidence\": \"No country indicators found in content\"}`;\nreturn { json: { companyId: companyData.companyId, companyName, domain, contentSource, contentLength: content.length, prompt } };"},"id":"v2-prep-gemini","name":"Prepare Gemini Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[5100,500]},
    {"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }], generationConfig: { temperature: 0.1 } }) }}","options":{}},"id":"v2-gemini","name":"Gemini Inference","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5400,500],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"googlePalmApi":{"id":"QnUjlFnc4gypgplL","name":"Gemini"}},"onError":"continueRegularOutput"},
    {"parameters":{"mode":"runOnceForEachItem","jsCode":"const geminiText = ($json?.candidates?.[0]?.content?.parts?.[0]?.text || '').trim();\nconst companyData = $('Prepare Company Data').item.json;\nconst contentSource = $('Prepare Gemini Input').item.json.contentSource || '';\nlet geminiCountry = '';\nlet geminiEvidence = '';\ntry {\n  const cleaned = geminiText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const parsed = JSON.parse(cleaned);\n  const country = parsed.country || '';\n  geminiEvidence = parsed.evidence || '';\n  if (country && country !== 'Unknown') geminiCountry = country;\n} catch (e) {}\nreturn { json: { companyId: companyData.companyId, companyName: companyData.companyName, domain: companyData.domain, geminiCountry, geminiEvidence, contentSource } };"},"id":"v2-parse-gemini","name":"Parse Gemini Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[5700,500]},
    {"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"cg1","operator":{"type":"string","operation":"notEmpty"},"leftValue":"={{ $json.geminiCountry }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"v2-check-gemini","name":"Check Gemini Got Country","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6000,500]},
    {"parameters":{"mode":"runOnceForEachItem","jsCode":"const d = $input.item.json;\nconst country = d.countryFromTLD || d.countryFromName || d.countryFromAmplemarket || d.geminiCountry || '';\nlet enrichmentSource = '';\nif (d.countryFromTLD) enrichmentSource = 'TLD';\nelse if (d.countryFromName) enrichmentSource = 'Company name';\nelse if (d.countryFromAmplemarket) enrichmentSource = 'Amplemarket';\nelse if (d.geminiCountry) enrichmentSource = 'Jina+Gemini';\nreturn { json: { companyId: d.companyId, companyName: d.companyName, country, enrichmentSource, resolved: true } };"},"id":"v2-result","name":"Prepare Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[6400,-400]},
    {"parameters":{"mode":"runOnceForEachItem","jsCode":"const companyData = $('Prepare Company Data').item.json;\nreturn { json: { companyId: companyData.companyId, companyName: companyData.companyName, country: 'Unknown', enrichmentSource: 'Unresolved', resolved: false } };"},"id":"v2-unknown","name":"Prepare Unknown","type":"n8n-nodes-base.code","typeVersion":2,"position":[6400,900]},
    {"parameters":{"assignments":{"assignments":[{"id":"s1","name":"companyId","type":"string","value":"={{ $json.companyId }}"},{"id":"s2","name":"companyName","type":"string","value":"={{ $json.companyName }}"},{"id":"s3","name":"country","type":"string","value":"={{ $json.country }}"},{"id":"s4","name":"enrichmentSource","type":"string","value":"={{ $json.enrichmentSource }}"},{"id":"s5","name":"resolved","type":"boolean","value":"={{ $json.resolved }}"}]},"options":{}},"id":"v2-snapshot","name":"Snapshot Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6700,300]},
    {"parameters":{"authentication":"appToken","resource":"company","operation":"update","companyId":{"mode":"id","value":"={{ $json.companyId }}"},"updateFields":{"customPropertiesUi":{"customPropertiesValues":[{"property":"country","value":"={{ $json.country }}"},{"property":"countryenrichmentsource","value":"={{ $json.enrichmentSource }}"}]}}},"id":"v2-update-hs","name":"Update HubSpot","type":"n8n-nodes-base.hubspot","typeVersion":2.2,"position":[7000,300],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"hubspotAppToken":{"id":"5ww8XNGf4HTQu4UI","name":"hubspot"}},"onError":"continueRegularOutput"},
    {"parameters":{"mode":"runOnceForEachItem","jsCode":"const d = $('Snapshot Data').item.json;\nreturn { json: { companyId: d.companyId, companyName: d.companyName, country: d.country, enrichmentSource: d.enrichmentSource, resolved: d.resolved } };"},"id":"v2-restore","name":"Restore Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[7300,300]},
    {"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"v2-aggregate","name":"Aggregate All Results","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[7600,300]},
    {"parameters":{"jsCode":"const items = $json.data || [];\nconst resolved = items.filter(i => i.resolved);\nconst unknown = items.filter(i => !i.resolved);\nconst hubspotBase = 'https://app.hubspot.com/contacts/142047914/company/';\nconst sourceCounts = {};\nfor (const c of resolved) sourceCounts[c.enrichmentSource] = (sourceCounts[c.enrichmentSource] || 0) + 1;\nconst sourceStats = Object.entries(sourceCounts).map(([source, count]) => `${source}: ${count}`).join(' \\u00b7 ');\nlet msg = `\\ud83c\\udf0d *Country Enrichment v2.1 \\u2014 Run Complete*\\n`;\nmsg += `*${resolved.length} enriched \\u00b7 ${unknown.length} unknown*\\n`;\nif (sourceStats) msg += `*Sources:* ${sourceStats}\\n`;\nmsg += `\\n`;\nif (resolved.length > 0) { msg += `\\u2705 *Enriched*\\n`; for (const c of resolved) { const url = hubspotBase + c.companyId; msg += `\\u2022 <${url}|${c.companyName}> \\u2192 *${c.country}* (${c.enrichmentSource})\\n`; } }\nif (unknown.length > 0) { msg += `\\n\\ud83d\\udea9 *Unknown (flagged)*\\n`; for (const c of unknown) { const url = hubspotBase + c.companyId; msg += `\\u2022 <${url}|${c.companyName}>\\n`; } }\nreturn { json: { message: msg } };"},"id":"v2-format","name":"Format Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[7900,300]},
    {"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C0AG86U9927","mode":"id"},"text":"={{ $json.message }}","otherOptions":{}},"id":"v2-slack","name":"Send Slack","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[8200,300],"webhookId":"608f6350-459d-4aba-a5d6-4ebaa0c00ca7","credentials":{"slackApi":{"id":"lYs0WHzWk4c7z9Kk","name":"Slack"}}}
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger":{"main":[[{"node":"Initialize State","type":"main","index":0}]]},
    "Initialize State":{"main":[[{"node":"Pass State","type":"main","index":0}]]},
    "Pass State":{"main":[[{"node":"Fetch Companies Page","type":"main","index":0}]]},
    "Fetch Companies Page":{"main":[[{"node":"Accumulate Results","type":"main","index":0}]]},
    "Accumulate Results":{"main":[[{"node":"IF More Pages","type":"main","index":0}]]},
    "IF More Pages":{"main":[[{"node":"Pass State","type":"main","index":0}],[{"node":"Split All Companies","type":"main","index":0}]]},
    "Split All Companies":{"main":[[{"node":"Prepare Company Data","type":"main","index":0}]]},
    "Prepare Company Data":{"main":[[{"node":"Check Has Domain","type":"main","index":0}]]},
    "Check Has Domain":{"main":[[{"node":"Extract TLD Country","type":"main","index":0}],[{"node":"Extract Country from Name","type":"main","index":0}]]},
    "Extract TLD Country":{"main":[[{"node":"Check TLD Resolved","type":"main","index":0}]]},
    "Check TLD Resolved":{"main":[[{"node":"Prepare Result","type":"main","index":0}],[{"node":"Extract Country from Name","type":"main","index":0}]]},
    "Extract Country from Name":{"main":[[{"node":"Check Name Got Country","type":"main","index":0}]]},
    "Check Name Got Country":{"main":[[{"node":"Prepare Result","type":"main","index":0}],[{"node":"Check Has Domain for Amplemarket","type":"main","index":0}]]},
    "Check Has Domain for Amplemarket":{"main":[[{"node":"Amplemarket Domain API","type":"main","index":0}],[{"node":"Jina Web Search","type":"main","index":0}]]},
    "Amplemarket Domain API":{"main":[[{"node":"Parse Amplemarket Country","type":"main","index":0}]]},
    "Parse Amplemarket Country":{"main":[[{"node":"Check Amplemarket Got Country","type":"main","index":0}]]},
    "Check Amplemarket Got Country":{"main":[[{"node":"Prepare Result","type":"main","index":0}],[{"node":"Jina Website Scrape","type":"main","index":0}]]},
    "Jina Website Scrape":{"main":[[{"node":"Check Website Data","type":"main","index":0}]]},
    "Check Website Data":{"main":[[{"node":"Prepare Gemini Input","type":"main","index":0}],[{"node":"Jina Web Search","type":"main","index":0}]]},
    "Jina Web Search":{"main":[[{"node":"Prepare Gemini Input","type":"main","index":0}]]},
    "Prepare Gemini Input":{"main":[[{"node":"Gemini Inference","type":"main","index":0}]]},
    "Gemini Inference":{"main":[[{"node":"Parse Gemini Response","type":"main","index":0}]]},
    "Parse Gemini Response":{"main":[[{"node":"Check Gemini Got Country","type":"main","index":0}]]},
    "Check Gemini Got Country":{"main":[[{"node":"Prepare Result","type":"main","index":0}],[{"node":"Prepare Unknown","type":"main","index":0}]]},
    "Prepare Result":{"main":[[{"node":"Snapshot Data","type":"main","index":0}]]},
    "Prepare Unknown":{"main":[[{"node":"Snapshot Data","type":"main","index":0}]]},
    "Snapshot Data":{"main":[[{"node":"Update HubSpot","type":"main","index":0}]]},
    "Update HubSpot":{"main":[[{"node":"Restore Data","type":"main","index":0}]]},
    "Restore Data":{"main":[[{"node":"Aggregate All Results","type":"main","index":0}]]},
    "Aggregate All Results":{"main":[[{"node":"Format Summary","type":"main","index":0}]]},
    "Format Summary":{"main":[[{"node":"Send Slack","type":"main","index":0}]]}
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "6ed139df-1991-4f03-b8db-2be1360a5196",
  "meta": {
    "instanceId": "1c614ffbaa74dc7b329196566d86f2ebdc830e7ef4cc70cc01f324f4043c7c50"
  },
  "id": "h4Dwz3Z2bhksWYly",
  "tags": []
}
