workflows/hubspot-se-linear-ticket/workflow-v1.0.json
{
  "name": "HubSpot SE Assignment → Linear Ticket v1.0",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hubspot-se-assignment",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "HubSpot Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-144, 304],
      "webhookId": "7522a676-c2d5-445a-93cc-085015f5a52e"
    },
    {
      "parameters": {
        "jsCode": "// HubSpot sends an array of events — take the first one\nconst events = $input.first().json.body;\nconst event = Array.isArray(events) ? events[0] : events;\n\nreturn [{\n  json: {\n    objectId: String(event.objectId),\n    propertyName: event.propertyName,\n    propertyValue: event.propertyValue || '',\n    portalId: String(event.portalId || '142047914'),\n    changeSource: event.changeSource || 'UNKNOWN'\n  }\n}];"
      },
      "id": "extract-event",
      "name": "Extract Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [64, 304]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "se-not-empty",
              "operator": { "type": "string", "operation": "notEmpty" },
              "leftValue": "={{ $json.propertyValue }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "guard-se-empty",
      "name": "SE Empty Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [272, 304]
    },
    {
      "parameters": {},
      "id": "stop-no-op",
      "name": "Stop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [528, 480]
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/objects/deals/{{ $json.objectId }}?properties=dealname,dealstage,amount,potential_amount,closedate,hubspot_owner_id,solutions_engineer",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "options": {}
      },
      "id": "fetch-deal",
      "name": "Fetch Deal Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [544, 288],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "hubspotAppToken": { "id": "5ww8XNGf4HTQu4UI", "name": "hubspot" }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/owners/{{ $json.properties.solutions_engineer }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "resolve-se",
      "name": "Resolve SE Name",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [784, 288],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "hubspotAppToken": { "id": "5ww8XNGf4HTQu4UI", "name": "hubspot" }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.hubapi.com/crm/v3/owners/{{ $node[\"Fetch Deal Details\"].json.properties.hubspot_owner_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "options": {}
      },
      "id": "resolve-ae",
      "name": "Resolve AE Name",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1040, 304],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "hubspotAppToken": { "id": "5ww8XNGf4HTQu4UI", "name": "hubspot" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge data from previous nodes\nconst trigger = $('SE Empty Guard').first().json;\nconst deal = $('Fetch Deal Details').first().json;\nconst se = $('Resolve SE Name').first().json;\nconst ae = $input.first().json;\n\nconst seName = `${se.firstName} ${se.lastName}`.trim();\nconst aeName = `${ae.firstName} ${ae.lastName}`.trim();\nconst seHubSpotId = String(deal.properties.solutions_engineer);\n\n// Known SE to Linear user mappings\nconst SE_MAP = {\n  '1891381453': { linearId: '127d293c-86a5-439d-be0e-31e59022e840', name: 'Harry Day' },\n  '29995860':   { linearId: '633f0c0d-c45d-4fa1-b75d-0cced134efe3', name: 'Anastasia Screve' },\n  '32163999':   { linearId: '1f66b0f0-3476-43dc-8c99-1899dcf4f79a', name: 'Stephanie Adriaens' }\n};\n\nconst match = SE_MAP[seHubSpotId];\nconst linearUserId = match ? match.linearId : null;\n\nif (!match) {\n  console.log('WARNING: No Linear user mapping for SE ' + seName + ' (HubSpot ID: ' + seHubSpotId + ')');\n}\n\nconst amount = Number(deal.properties.amount || 0);\nconst potentialAmount = Number(deal.properties.potential_amount || 0);\nconst formatCurrency = (v) => v >= 1000 ? '\u20ac' + (v / 1000).toFixed(0) + 'K' : '\u20ac' + v;\nconst formatFull = (v) => '\u20ac' + v.toLocaleString('en-IE', { minimumFractionDigits: 0, maximumFractionDigits: 0 });\n\nconst closedate = deal.properties.closedate\n  ? new Date(deal.properties.closedate).toLocaleDateString('en-IE', { day: 'numeric', month: 'short', year: 'numeric' })\n  : 'Not set';\n\nconst dealStage = deal.properties.dealstage || 'Unknown';\n\nreturn [{\n  json: {\n    dealId: deal.id,\n    dealName: deal.properties.dealname,\n    dealStage: dealStage,\n    amount: amount,\n    amountAbbr: formatCurrency(amount),\n    amountFormatted: formatFull(amount),\n    potentialAmount: potentialAmount,\n    potentialFormatted: formatFull(potentialAmount),\n    closeDate: closedate,\n    seName: seName,\n    seHubSpotId: seHubSpotId,\n    linearUserId: linearUserId,\n    aeName: aeName,\n    portalId: '142047914',\n    objectId: trigger.objectId\n  }\n}];"
      },
      "id": "map-linear-user",
      "name": "Map SE \u2192 Linear User",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1312, 304]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linear.app/graphql",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linearApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: '{ attachments(filter: { url: { contains: \"deal/' + $json.dealId + '\" } }) { nodes { issue { id identifier title assignee { id name } team { id } } } } }' }) }}",
        "options": {}
      },
      "id": "search-linear",
      "name": "Search Linear for Ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1568, 304],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "linearApi": { "id": "Hy0y7IGsd1kE4waU", "name": "Linear account" }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst dealId = $('Map SE \u2192 Linear User').first().json.dealId;\nconst teamId = 'fa68a3c7-fcbe-407e-8d66-94b572c31522';\n\nconst attachments = result.data && result.data.attachments && result.data.attachments.nodes\n  ? result.data.attachments.nodes\n  : [];\n\n// Find attachment whose issue belongs to Solutions Engineering team\nconst match = attachments.find(a => \n  a.issue && a.issue.team && a.issue.team.id === teamId\n);\n\nreturn [{\n  json: {\n    existingIssue: match ? match.issue : null,\n    found: !!match\n  }\n}];"
      },
      "id": "filter-exact-match",
      "name": "Find Existing Ticket",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1690, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-match",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.found }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "ticket-exists",
      "name": "Ticket Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1824, 304]
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Map SE \u2192 Linear User').first().json;\n\nconst title = prev.dealName + ' (' + prev.amountAbbr + ') \u2014 SE support';\n\nconst description = '**Deal**: ' + prev.dealName + '\\n' +\n  '**Stage**: ' + prev.dealStage + '\\n' +\n  '**Amount**: ' + prev.amountFormatted + '\\n' +\n  '**Potential**: ' + prev.potentialFormatted + '\\n' +\n  '**Close Date**: ' + prev.closeDate + '\\n' +\n  '**AE Owner**: ' + prev.aeName + '\\n\\n' +\n  '\ud83d\udd17 [View in HubSpot](https://app.hubspot.com/contacts/' + prev.portalId + '/deal/' + prev.dealId + ')\\n\\n' +\n  '---\\n' +\n  '*hs-deal-id:' + prev.dealId + '*';\n\nreturn [{\n  json: {\n    title: title,\n    description: description,\n    linearUserId: prev.linearUserId,\n    dealId: prev.dealId,\n    portalId: prev.portalId\n  }\n}];"
      },
      "id": "build-issue-data",
      "name": "Build Issue Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2080, 432]
    },
    {
      "parameters": {
        "teamId": "fa68a3c7-fcbe-407e-8d66-94b572c31522",
        "title": "={{ $json.title }}",
        "additionalFields": {
          "assigneeId": "={{ $json.linearUserId }}",
          "description": "={{ $json.description }}",
          "stateId": "3a018a5f-a622-41f6-b989-f63dfc3a9d99"
        }
      },
      "id": "create-issue",
      "name": "Create Linear Issue",
      "type": "n8n-nodes-base.linear",
      "typeVersion": 1.1,
      "position": [2352, 432],
      "credentials": {
        "linearApi": { "id": "Hy0y7IGsd1kE4waU", "name": "Linear account" }
      }
    },
    {
      "parameters": {
        "operation": "addLink",
        "issueId": "={{ $json.id }}",
        "link": "=https://app.hubspot.com/contacts/{{ $node[\"Build Issue Data\"].json.portalId }}/deal/{{ $node[\"Build Issue Data\"].json.dealId }}"
      },
      "id": "add-link",
      "name": "Add HubSpot Link",
      "type": "n8n-nodes-base.linear",
      "typeVersion": 1.1,
      "position": [2608, 432],
      "credentials": {
        "linearApi": { "id": "Hy0y7IGsd1kE4waU", "name": "Linear account" }
      }
    },
    {
      "parameters": {
        "authentication": "apiToken",
        "resource": "issue",
        "operation": "update",
        "issueId": "={{ $json.existingIssue.id }}",
        "updateFields": {
          "assigneeId": "={{ $node[\"Map SE \u2192 Linear User\"].json.linearUserId }}"
        }
      },
      "id": "update-issue",
      "name": "Update Linear Issue",
      "type": "n8n-nodes-base.linear",
      "typeVersion": 1.1,
      "position": [2080, 192],
      "credentials": {
        "linearApi": { "id": "Hy0y7IGsd1kE4waU", "name": "Linear account" }
      }
    },
    {
      "parameters": {
        "authentication": "apiToken",
        "resource": "comment",
        "operation": "addComment",
        "issueId": "={{ $node[\"Find Existing Ticket\"].json.existingIssue.id }}",
        "comment": "=SE reassigned: {{ $node[\"Find Existing Ticket\"].json.existingIssue.assignee ? $node[\"Find Existing Ticket\"].json.existingIssue.assignee.name : 'Unassigned' }} \u2192 {{ $node[\"Map SE \u2192 Linear User\"].json.seName }} (updated from HubSpot)"
      },
      "id": "add-comment",
      "name": "Add Reassignment Comment",
      "type": "n8n-nodes-base.linear",
      "typeVersion": 1.1,
      "position": [2352, 192],
      "credentials": {
        "linearApi": { "id": "Hy0y7IGsd1kE4waU", "name": "Linear account" }
      }
    }
  ],
  "connections": {
    "HubSpot Webhook": {
      "main": [[{ "node": "Extract Event", "type": "main", "index": 0 }]]
    },
    "Extract Event": {
      "main": [[{ "node": "SE Empty Guard", "type": "main", "index": 0 }]]
    },
    "SE Empty Guard": {
      "main": [
        [{ "node": "Fetch Deal Details", "type": "main", "index": 0 }],
        [{ "node": "Stop", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Deal Details": {
      "main": [[{ "node": "Resolve SE Name", "type": "main", "index": 0 }]]
    },
    "Resolve SE Name": {
      "main": [[{ "node": "Resolve AE Name", "type": "main", "index": 0 }]]
    },
    "Resolve AE Name": {
      "main": [[{ "node": "Map SE \u2192 Linear User", "type": "main", "index": 0 }]]
    },
    "Map SE \u2192 Linear User": {
      "main": [[{ "node": "Search Linear for Ticket", "type": "main", "index": 0 }]]
    },
    "Search Linear for Ticket": {
      "main": [[{ "node": "Find Existing Ticket", "type": "main", "index": 0 }]]
    },
    "Find Existing Ticket": {
      "main": [[{ "node": "Ticket Exists?", "type": "main", "index": 0 }]]
    },
    "Ticket Exists?": {
      "main": [
        [{ "node": "Update Linear Issue", "type": "main", "index": 0 }],
        [{ "node": "Build Issue Data", "type": "main", "index": 0 }]
      ]
    },
    "Build Issue Data": {
      "main": [[{ "node": "Create Linear Issue", "type": "main", "index": 0 }]]
    },
    "Create Linear Issue": {
      "main": [[{ "node": "Add HubSpot Link", "type": "main", "index": 0 }]]
    },
    "Update Linear Issue": {
      "main": [[{ "node": "Add Reassignment Comment", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "TA6Iq4wMW0KYsCiH"
  }
}
